<main id="sp-content">
  <section class="sp-section sp-scheme-1" id="OS-our_story">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div style="text-align:center;">
          <span>
            <h1>Our Story</h1>
          </span>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0" id="OS-how_it_started">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div>
          <div>
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-heading-block">
                <span>
                  <h2>The Prophetic Journey...</h2>
                </span>
              </div>
              <div class="sp-block sp-text-block ">
                <div class="sp-block-content">
                  <b>PLANTED AND FLOURISHING</b>
                  <br><br>
                  In the divine tapestry of time, the seeds of River of Life Church were sown in July 1991, as Minister
                  Clifton Edwards, Jr. received ordination as a Pastor. Sent forth by his pastor and father, he embarked
                  on a sacred mission to shepherd in the Antelope Valley. In August 1991, the Antelope Valley Christian
                  Outreach Church emerged, with the Ramada Inn in Lancaster as the humble sanctuary for its initial
                  services.
                  <br><br>
                  Under the spiritual guidance of Pastor Clifton Edwards, Jr., alongside Lady Tracie Edwards and their
                  family, the Church blossomed through fervent evangelism and soul-winning endeavors. With each move
                  orchestrated by God, the pastor diligently worked towards building His kingdom, and his faithfulness
                  led to divine elevation.
                  <br><br>
                  On October 2, 2000, Bishop Edwards ascended to the esteemed position of District Overseer of the
                  Antelope Valley Covenant District within the Full Gospel Baptist Church Fellowship. His unwavering
                  dedication continued, and by July 2005, Overseer Clifton Edwards, Jr. assumed the responsibility of
                  leading pastors. Simultaneously, he transformed the ministry's name to City of Zion, International,
                  and on September 9 of the same year, he was elevated to the Episcopacy.
                  <br><br>
                  After two decades of pastoral service in the Antelope Valley, in 2011, Bishop and Lady Edwards
                  relocated to Jacksonville, Florida. Their liturgical calling propelled them to minister and impact
                  lives wherever they found themselves. In 2014, back in California, Bishop Edwards, with a faithful few,
                  established the City of Zion Ministries in Sacramento, California, after the dissolution of the Greater
                  Glory Deliverance Center.
                  <br><br>
                  Bishop Edwards' journey took another turn when he was chosen to lead Christ Temple Community Church in
                  Yuba City. Following four years of dedicated labor, he proposed relocating the church to Sacramento,
                  aligning with the majority of the congregation and their evangelistic goals. Teaming up with Pastor
                  Michael Peavy of the Purpose Church, River of Life House of Restoration was inaugurated on Easter
                  Sunday, April 1, 2018.
                  <br><br>
                  The unfolding chapters of Bishop Edwards' ministerial odyssey testify to the unwavering faith,
                  resilience, and divine guidance that mark the River of Life Church's profound legacy.
                  <br><br>
                  We currently have service every Sunday<b>&nbsp;at 9:00 a.m.</b>
                  <b>Doors open at 8:30 a.m. and no food or drink is allowed in the sanctuary.</b>
                  <br><br>
                  <b>
                    <b>
                      On Wednesday night we have "Mind Renewal" which is in an online live sermon format Mind Renewal
                      starts at 6:00 p.m each week.
                    </b>
                  </b>
                  <br><br>
                  <b>
                    Kingdom Youth service is on the 1st and 3rd Saturday every month and starts at 6:00 p.m.
                  </b>
                  <br><br>
                  We currently meet at our main facility, located at 2149 North Ave.
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-image-block">
                <div class="sp-block-content" style>
                  <div
                    class="sp-image-holder"
                    style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/693788_1692x1431_500.jpg);"
                  >
                    <img
                      alt
                      class="fill"
                      src="https://storage2.snappages.site/KHGFVV/assets/images/693788_1692x1431_500.jpg"
                    />
                    <div class="sp-image-title"></div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
              <div class="sp-block sp-image-block">
                <div class="sp-block-content" style>
                  <div
                    class="sp-image-holder"
                    style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/2082450_5803x3869_500.JPG);">
                    <img
                      alt
                      class="fill"
                      src="https://storage2.snappages.site/KHGFVV/assets/images/2082450_5803x3869_500.JPG"
                    />
                    <div class="sp-image-title"></div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-2" id="OS-expanding_the_vision">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-row">
            <div style="text-align:center;">
              <div
                class="sp-image-holder"
                style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/3042330_2048x1536_500.jpg);"
              >
                <img
                  alt
                  class="fill"
                  src="https://storage2.snappages.site/KHGFVV/assets/images/3042330_2048x1536_500.jpg"
                />
                <div class="sp-image-title"></div>
                <div class="sp-image-caption"></div>
              </div>
            </div>
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-heading-block" style="text-align:center;">
                <div class="sp-block-content" style>
                  <span class="h2">
                    <h2>Expanding the vision...</h2>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:500px;">
                  The Holy Scriptures are the context of all truth and are God inspired. You will receive an "Exegesis",
                  (explanation), of the Biblical Passage every time you attend. Please give us a try, you will be glad
                  you did. If you cannot make it to our assembly, feel free to watch our Facebook Live Podcast every
                  Sunday Morning @ 9:00 AM.
                  <br><br>
                  If you would like Pastor Clifton Edwards Jr. to speak at your church or conference, please click on
                  the Booking & Contact tab and a staff member will connect with you as soon as possible.
                  <br><br>
                  Please feel free to place your blogs or comments on our Website and let us know how the ministry is
                  blessing you.
                  <br><br>
                  Thanks again for visiting our Website and remember, our ministry is designed to satisfy those who are
                  thirsty, (life changing experience). John 4:14," If you drink of this water, you will never thirst
                  again". Shalom!
                </div>
              </div>
              <div class="sp-block sp-button-block" style="text-align:center;">
                <div class="sp-block-content" style>
                  <span class="text-reset">
                    <a
                      class="sp-button"
                      href="http://www.rolchurchva.com"
                      target="_self"
                    >
                      Learn More About Our Ministry Services
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0" id="OS-be_part_of_story">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span class="h2">
                <h2>Be a part of our story...</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content">
              <b>
                Join us every Sunday as we gather to worship together at 9:00 a.m. and each Wednesday evening for
                "Mind Renewal" at 6:00 pm.
              </b>
            </div>
          </div>
          <div class="sp-block sp-map-block">
            <div class="sp-block-content">
              <div class="map-holder" style="height:440px;">
                <app-google-map></app-google-map>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
