<main id="sp-content">
  <section class="sp-section sp-scheme-1" id="OS-our_story">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div style="text-align:center;">
          <span>
            <h1>Our Story</h1>
          </span>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0" id="OS-how_it_started">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div>
          <div>
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-heading-block">
                <span>
                  <h2>How it all started...</h2>
                </span>
              </div>
              <div class="sp-block sp-text-block ">
                <div class="sp-block-content">
                  <b>WE HAVE ROOTS HERE</b>
                  <br>
                  <br>
                  In 1992, Pastors Chris and Miriam Phillips came to Jacksonville, NC to provide pastoral leadership to
                  Living Water Fellowship. At that time, there remained a small group of 60-80 people who had been
                  without pastoral leadership for months and were meeting in a small storefront on Henderson Drive.
                  Shortly after their arrival, the Lord began to bring clear vision and new purpose. Thus, River of Life
                  Church was born.
                  <br><br>
                  In May of 1999, the church moved into a new worship facility at 1940 Gum Branch Road, where we met
                  until 2019.
                  <br><br>
                  In the beginning of September 2007 we added a third service to the Sunday morning lineup to meet the
                  needs of the growing church. Currently, over 1200 worshippers attend services each Sunday.
                  <br><br>
                  In the beginning of April 2008 we took steps forward and closed on nearly 60 acres of land on the
                  corner of Western Extension and Gum Branch Road.
                  <br><br>
                  In January of 2011 we began the &ldquo;Heart for the House &rdquo;campaign and in April of 2017, we
                  broke ground on a new worship facility.
                  <br><br>
                  On December 22, 2019, we had our Grand Opening Sunday at 2460 Gum Branch Road, after almost 13 years
                  of planning and preparation.
                  <br><br>
                  We currently have service every Sunday<b>&nbsp;at 10:00 a.m.</b>
                  <b>Doors open at 9:30 a.m. and no food or drink is allowed in the sanctuary.</b>
                  <br><br>
                  <b>
                    <b>
                      On Wednesday night we have "Grow Time" which is laid out in a classroom format and we have a
                      handful to choose from every quarter. Grow Time starts at 7:00 p.m each week.
                    </b>
                  </b>
                  <br><br>
                  <b>
                    R Youth service is on the 2nd, 3rd, and 4th Saturday every month and starts at 6:00 p.m.
                  </b>
                  <br><br>
                  We currently meet at our new facility, located at 2460 Gum Branch Road.
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-image-block">
                <div class="sp-block-content" style>
                  <div
                    class="sp-image-holder"
                    style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/693788_1692x1431_500.jpg);"
                  >
                    <img
                      alt
                      class="fill"
                      src="https://storage2.snappages.site/KHGFVV/assets/images/693788_1692x1431_500.jpg"
                    />
                    <div class="sp-image-title"></div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
              <div class="sp-block sp-image-block">
                <div class="sp-block-content" style>
                  <div
                    class="sp-image-holder"
                    style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/2082450_5803x3869_500.JPG);">
                    <img
                      alt
                      class="fill"
                      src="https://storage2.snappages.site/KHGFVV/assets/images/2082450_5803x3869_500.JPG"
                    />
                    <div class="sp-image-title"></div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-2" id="OS-expanding_the_vision">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-row">
            <div style="text-align:center;">
              <div
                class="sp-image-holder"
                style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/3042330_2048x1536_500.jpg);"
              >
                <img
                  alt
                  class="fill"
                  src="https://storage2.snappages.site/KHGFVV/assets/images/3042330_2048x1536_500.jpg"
                />
                <div class="sp-image-title"></div>
                <div class="sp-image-caption"></div>
              </div>
            </div>
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-heading-block" style="text-align:center;">
                <div class="sp-block-content" style>
                  <span class="h2">
                    <h2>Expanding the vision...</h2>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:500px;">
                  On Easter weekend 2015, we launched our Dumfries, VA campus. Our Dumfries, VA location meets every
                  <b>Sunday at 10:00 a.m. at 17650 Possum Point Road in Dumfries, VA</b> with on-site Pastors, Mason +
                  Nanette Phillips.
                  <br><br>
                  ROL Virginia is about changing people&rsquo;s lives and eternal destinies through the power of the
                  Gospel of Jesus Christ. That&rsquo;s our passion, and that&rsquo;s our purpose.
                </div>
              </div>
              <div class="sp-block sp-button-block" style="text-align:center;">
                <div class="sp-block-content" style>
                  <span class="text-reset">
                    <a
                      class="sp-button"
                      href="http://www.rolchurchva.com"
                      target="_self"
                    >
                      Learn More About Our Dumfries, VA Campus
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0" id="OS-be_part_of_story">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span class="h2">
                <h2>Be a part of our story...</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content">
              <b>
                Join us every Sunday as we gather to worship together at 10:00 a.m. and each Wednesday evening for
                "Grow Time" at 7:00 pm.
              </b>
            </div>
          </div>
          <div class="sp-block sp-map-block">
            <div class="sp-block-content">
              <div class="map-holder" style="height:440px;">
                <app-google-map></app-google-map>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
