<!-- *** ADD OR EDIT HTML INSIDE OF THE dmRespCol DIVS, SEE DOCUMENTATION FOR GUIDELINES *** -->
<div class="u_1953832131 dmRespRow fullBleedChanged fullBleedMode" style="text-align: center;" id="1953832131">
  <div class="dmRespColsWrapper" id="1835039285">
    <div class="dmRespCol small-12 large-6 medium-6" id="1921758312">
      <!-- *** INSERT YOUR HTML BELOW *** -->
      <span id="1533805873">
   </span>
      <div class="u_1517300778 dmNewParagraph" data-dmtmpl="true" data-element-type="paragraph" id="1517300778" data-vivaldi-spatnav-clickable="1" style="transition: opacity 1s ease-in-out;" data-uialign="center" no_space_e="true">
        <div no_space_b="true" no_space_e="true">
     <span style="" class="lh-1 m-specific m-font-size-32 font-size-45" no_space_b="true" no_space_e="true">
      Visit Us Today!
     </span>
        </div>
      </div>
    </div>
    <div class="dmRespCol empty-column large-6 medium-6 small-12" id="1601268404">
      <!-- *** INSERT YOUR HTML BELOW *** -->
      <div class="u_1920274499 dmNewParagraph" data-dmtmpl="true" data-element-type="paragraph" id="1920274499" style="transition: opacity 1s ease-in-out 0s;" data-uialign="right" no_space_e="true">
        Please send us an inquiry if you would like Bishop Edwards to participate and serve at your special occasion or event.&nbsp;
      </div>
      <a data-display-type="block" class="u_1055947267 align-center dmButtonLink dmWidget dmWwr default dmOnlyButton dmDefaultGradient" file="false" href="/prayer-request" dmle_widget="dudaButtonLinkId" data-element-type="dButtonLinkId" id="1055947267" dm_dont_rewrite_url="false">
    <span class="iconBg" id="1232909834">
     <span class="icon hasFontIcon icon-star" id="1419446707">
     </span>
    </span>
        <span class="text" id="1746759338">
     Ministry Request
    </span>
      </a>
    </div>
  </div>
</div>


<app-google-map></app-google-map>


<!-- *** ADD OR EDIT HTML INSIDE OF THE dmRespCol DIVS, SEE DOCUMENTATION FOR GUIDELINES *** -->
<div class="u_1474423379 dmRespRow fullBleedChanged fullBleedMode" style="text-align: center;" id="1474423379">
  <div class="dmRespColsWrapper" id="1823994463">
    <div class="dmRespCol small-12 medium-12 large-12" id="1248974515">
      <!-- *** INSERT YOUR HTML BELOW *** -->
      <span id="1882317630">
   </span>
      <div class="dmRespRow u_1272947464 fullBleedChanged fullBleedMode" id="1272947464">
        <div class="dmRespColsWrapper" id="1631214165">
          <div class="dmRespCol small-12 medium-6 large-6" id="1946919596">
            <!-- *** INSERT YOUR HTML BELOW *** -->
            <a data-display-type="block" class="u_1823624065 align-center dmButtonLink dmWidget dmWwr default dmOnlyButton dmDefaultGradient" file="false" href="mailto:cliftonedwardsjr@icloud.com" dmle_widget="dudaButtonLinkId" data-element-type="dButtonLinkId" id="1823624065" data-buttonstyle="CONTRAST_ICON" icon-name="dm-icon-envelope" dm_dont_rewrite_url="false">
       <span class="iconBg" id="1905632052">
        <span class="icon hasFontIcon icon-star" id="1723881043">
        </span>
       </span>
              <span class="text" id="1852841784">
        cliftonedwardsjr@icloud.com
       </span>
            </a>
          </div>
          <div class="dmRespCol small-12 medium-6 large-6" id="1223519798">
            <!-- *** INSERT YOUR HTML BELOW *** -->
            <!-- *** This is a dynamic element, it transforms into a Social Hub when the page renders *** -->
            <span dmle_extension="social_hub" wr="true" networks="" icon="true" surround="true" class="u_1810358283 align-center text-align-center" adwords="" dmle_clean="true" data-editor="eyJ0aXRsZSI6IiIsImRpc3BsYXlUaXRsZSI6dHJ1ZSwiZm9yY2VEaXNwbGF5IjpmYWxzZSwibGF5b3V0IjoiIiwibmV0d29ya3MiOlt7InVybCI6Imh0dHBzOi8vd3d3LmZhY2Vib29rLmNvbS9SaXZlci1PZi1MaWZlLUNodXJjaC1Ib3VzZS1PZi1SZXN0b3JhdGlvbi01NDMzOTU0NTI1MTg2ODIvIiwib3JkZXIiOjAsImlkIjoiZmFjZWJvb2siLCJpY29uX2NsYXNzIjoiIiwiaWNvbl9jdXN0b20iOiIiLCJkYXRhVmFsdWUiOnt9fSx7InVybCI6Im1haWx0bzpjbGlmdG9uZWR3YXJkc2pyQGljbG91ZC5jb20iLCJvcmRlciI6MSwiaWQiOiJlbWFpbCIsImljb25fY2xhc3MiOiIiLCJpY29uX2N1c3RvbSI6IiIsImRhdGFWYWx1ZSI6e319XSwiaWNvbnNfc3R5bGUiOiI4IiwiYWxsX3BhZ2VzIjpmYWxzZX0=" id="1810358283">
      </span>
            <!-- *** This is a dynamic element, it transforms into a widget when the page renders *** -->
            <span dmle_extension="custom_extension" icon="false" surround="false" class="u_1494330400 widget-1f5975" data-widget-id="1f5975986930429f819d4cd2154b5c4a" data-widget-version="22" data-widget-config="eyJjb3B5cmlnaHRUZXh0IjoiPHAgY2xhc3M9XCJydGVCbG9ja1wiPkFsbCBSaWdodHMgUmVzZXJ2ZWQgfCBSaXZlciBPZiBMaWZlIHwgUG93ZXJlZCBieSA8YSB2YWx1ZT1cImh0dHBzOi8vd3d3LmNvdXJ0ZG1zLmNvbS9cIiBsYWJlbD1cIlwiIHR5cGU9XCJ1cmxcIiB0YXJnZXQ9XCJfYmxhbmtcIiBocmVmPVwiaHR0cHM6Ly93d3cuY291cnRkbXMuY29tL1wiIGRhdGEtcnVudGltZS11cmw9XCJodHRwczovL3d3dy5jb3VydGRtcy5jb20vXCI+Q291cnRETVM8L2E+PC9wPiJ9" id="1494330400">
      </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
