<footer id="sp-footer">
  <section class="sp-section sp-scheme-0" data-index="22" data-scheme="0">
    <div class="sp-section-slide" data-label="Main">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-row">
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-heading-block " data-type="heading" data-id="9" style="text-align:left;">
                <div class="sp-block-content" style>
                                                <span class="h3">
                                                    <h3>
                                                        <b>About</b>
                                                    </h3>
                                                </span>
                </div>
              </div>
              <div class="sp-block sp-text-block " data-type="text" data-id="10" style="text-align:left;">
                <div class="sp-block-content" style>Multicultural, non-denominational church with a focus on changing lives through the power of the Gospel.</div>
              </div>
            </div>
            <div class="sp-col sp-col-7">
              <div class="sp-block sp-heading-block " data-type="heading" data-id="13" style="text-align:left;">
                <div class="sp-block-content" style>
                                                <span class="h3">
                                                    <h3>
                                                        <b>Service Times</b>
                                                    </h3>
                                                </span>
                </div>
              </div>
              <div class="sp-block sp-text-block " data-type="text" data-id="14" style="text-align:left;">
                <div class="sp-block-content" style>
                  Sundays at 10am<br>Wednesdays at 7pm
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-4">
              <div class="sp-block sp-heading-block " data-type="heading" data-id="17" style="text-align:left;">
                <div class="sp-block-content" style>
                                                <span class="h3">
                                                    <h3>
                                                        <b>Contact Info</b>
                                                    </h3>
                                                </span>
                </div>
              </div>
              <div class="sp-block sp-text-block " data-type="text" data-id="18" style="text-align:left;">
                <div class="sp-block-content" style>
                  (910) 346-1114<br>Jacksonville, NC
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-5">
              <div class="sp-block sp-heading-block " data-type="heading" data-id="1" style="text-align:left;">
                <div class="sp-block-content" style>
                                                <span class="h3">
                                                    <h3>
                                                        <b>Get Connected</b>
                                                    </h3>
                                                </span>
                </div>
              </div>
              <div class="sp-block sp-social-block " data-type="social" data-id="20" style>
                <div class="sp-block-content" style>
                  <div class="sp-social-holder" style="font-size:25px;margin-top:-5px;" data-style="icons" data-shape="square">
                    <a class="facebook" href="https://www.facebook.com/RiverOfLifeJax" target="_blank" style="margin-right:5px;margin-top:5px;">
                      <i class="fa fa-fw fa-facebook"></i>
                    </a>
                    <a class="twitter" href="https://www.twitter.com/ROLC" target="_blank" style="margin-right:5px;margin-top:5px;">
                      <i class="fa fa-fw fa-twitter"></i>
                    </a>
                    <a class="instagram" href="https://www.instagram.com/rolcjax" target="_blank" style="margin-right:5px;margin-top:5px;">
                      <i class="fa fa-fw fa-instagram"></i>
                    </a>
                    <a class="youtube" href="http://www.bit.ly/ROLYouTube" target="_blank" style="margin-right:5px;margin-top:5px;">
                      <i class="fa fa-fw fa-youtube"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="sp-footer-extra">
    <div id="sp-footer-brand">
      <a href="https://snappages.com?utm_source=user&utm_medium=footer" target="_blank" title="powered by SnapPages Website Builder">
        powered by &nbsp;<span>SnapPages</span>
      </a>
    </div>
  </div>
</footer>
