<footer class="position-sticky" id="sp-footer">
  <section class="sp-section sp-scheme-0" data-index="22" data-scheme="0">
    <div class="sp-section-slide current" data-label="Main">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-row">
            <div *ngFor="let section of sections" class="sp-col" [class]="section.colClass">
              <div class="sp-block sp-heading-block" style="text-align:left;">
                <div class="sp-block-content">
                  <span class="h3">
                    <h3><b>{{ section.title }}</b></h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:left;">
                <div class="sp-block-content" [innerHtml]="section.content">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="sp-footer-extra">
    <div id="sp-footer-brand">
      <a href="https://iamkinglouisiv.com" target="_blank">powered by TRIPLE 8 MEDIA GROUP LLC</a>
    </div>
  </div>
</footer>
