<main id="sp-content">
  <section class="sp-section sp-scheme-3" data-header="true" data-index="24" data-scheme="3" data-header="true">
    <div class="sp-section-slide" data-label="Main">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block  sp-scheme-0" data-type="heading" data-id="23" style="text-align:center;">
            <div class="sp-block-content" style>
                                        <span class="h2">
                                            <h2>Member Login Page</h2>
                                        </span>
            </div>
          </div>
          <div class="sp-block sp-text-block  sp-scheme-0" data-type="text" data-id="22" style="text-align:center;">
            <div class="sp-block-content" style>
              Our Member site allows you to download your giving statements, update your contact information, and more!<br>Login or sign up by clicking the link below!
            </div>
          </div>
          <div class="sp-block sp-button-block  sp-scheme-0" data-type="button" data-id="21" style="text-align:center;">
            <div class="sp-block-content" style>
                                        <span class="text-reset">
                                            <a class="sp-button" href="https://riveroflife-jax.ccbchurch.com/" target="_self" data-label="Click Here to Login" data-color="#000000" style="background-color:#000000 !important;">Click Here to Login</a>
                                        </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
