<main id="sp-content">
  <section class="sp-section sp-scheme-3" style="padding-top: 349px;">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block sp-scheme-0" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>Member Login Page</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block sp-scheme-0" style="text-align:center;">
            <div class="sp-block-content">
              Our Member site allows you to download your giving statements, update your contact information, and more!
              <br>
              Login or sign up by clicking the link below!
            </div>
          </div>
          <div class="sp-block sp-button-block sp-scheme-0" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <a class="sp-button"
                   href="https://riveroflife-jax.ccbchurch.com/"
                   target="_self"
                   style="background-color:#000000 !important;">
                  Click Here to Login
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
