<section class="sp-section sp-scheme-2" id="MV-connect_with_us">
  <div class="sp-section-slide">
    <div class="sp-section-content">
      <div class="sp-grid sp-col sp-col-24">
        <div class="sp-block sp-heading-block" style="text-align:center;">
          <div class="sp-block-content" style="max-width:800px;">
              <span class="h2">
                <h2>Connect with us.</h2>
              </span>
          </div>
        </div>
        <div class="sp-block sp-heading-block " style="text-align:center; padding-top:25px; padding-bottom:25px;">
          <div class="sp-block-content" style="max-width:800px;">
              <span class="h3">
                <h3>We'd love to hear from you. Fill out the form below to get started.</h3>
              </span>
          </div>
        </div>
        <div class="sp-block sp-form-block" style="text-align:center;">
          <div class="sp-block-content" style="max-width:800px;">
            <div class="form-holder">
              <form class="sp-form"
                    [formGroup]="contactForm"
                    (ngSubmit)="onSubmit()">
                <div class="sp-fieldset">
                  <div class="sp-field-col">
                    <label class="sp-field-label" for="firstName">
                      First Name
                    </label>
                    <div class="sp-field-wrapper">
                      <input class="sp-field form-control"
                             type="text"
                             id="firstName"
                             formControlName="firstName"
                      />
                    </div>
                  </div>
                  <div class="sp-field-col">
                    <label class="sp-field-label" for="lastName">
                      Last Name
                    </label>
                    <div class="sp-field-wrapper">
                      <input class="sp-field form-control"
                             type="text"
                             id="lastName"
                             formControlName="lastName"
                      />
                    </div>
                  </div>
                </div>
                <div class="sp-fieldset">
                  <div class="sp-field-col">
                    <label class="sp-field-label" for="email">
                      Email
                    </label>
                    <div class="sp-field-wrapper">
                      <input class="sp-field icon form-control"
                             type="email"
                             id="email"
                             formControlName="email"
                      />
                      <i class="fa fa-envelope-o"></i>
                    </div>
                  </div>
                </div>
                <div class="sp-fieldset">
                  <div class="sp-field-col">
                    <label class="sp-field-label" for="message">
                      Message
                    </label>
                    <div class="sp-field-wrapper">
                      <textarea class="sp-field form-control"
                                id="message"
                                formControlName="message"
                      ></textarea>
                    </div>
                  </div>
                </div>
                <div class="button-holder" style="text-align:left;">
                  <button class="sp-button fill" type="submit">Contact Us</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
