<main id="sp-content">
  <section class="sp-section sp-scheme-1" data-header="true" data-index data-scheme="1" data-header="true">
    <div class="sp-section-slide" data-background="%7B%22type%22%3A%22image%22%2C%22src%22%3A%22https%3A%5C%2F%5C%2Fstorage2.snappages.site%5C%2FKHGFVV%5C%2Fassets%5C%2Fimages%5C%2F13193533_2448x2448_2500.jpg%22%2C%22size%22%3A%22cover%22%2C%22position%22%3A%2250%25+50%25%22%2C%22repeat%22%3A%22no-repeat%22%2C%22attachment%22%3A%22parallax%22%2C%22tint%22%3A%22rgba%280%2C+0%2C+0%2C+.4%29%22%7D" data-tint="rgba(0, 0, 0, .4)" data-label="Main">
      <div class="sp-section-content" style="padding-top:150px;padding-bottom:150px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block " data-type="heading" data-id="f6d83ca4-057c-4680-a65e-644481566a52" style="text-align:center;">
            <div class="sp-block-content" style>
                                        <span class="h1">
                                            <h1>GROW TIME</h1>
                                        </span>
            </div>
          </div>
          <div class="sp-block sp-text-block " data-type="text" data-id="3472ef7b-99c7-485e-ab08-4876154c002d" style="text-align:center;">
            <div class="sp-block-content" style>
              <b>
                Many times on Sundays, we aren &rsquo;t able to take a deep dive into topics that affect all of us in our Christian walk.<br>
                That &rsquo;s what Wednesday nights are for!<br>
              </b>
              <br>
              <b>
                We call our midweek time together &ldquo;Grow Time,&rdquo;and each <br>semester we offer different classes and times of growth for you and your family.
              </b>
              <br>
              <br>
            </div>
          </div>
          <div class="sp-block sp-heading-block " data-type="heading" data-id="e541e205-c26d-4a49-b3c1-8a8c6ef7bfd4" style="text-align:center;">
            <div class="sp-block-content" style>
                                        <span class="h2">
                                            <h2>
                                                <b>EVERY WEDNESDAY @ 7:00PM!</b>
                                            </h2>
                                        </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0" data-index data-scheme="0">
    <div class="sp-section-slide" data-label="Main">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block " data-type="heading" data-id="9b4aaf4a-7ff1-47f0-a409-884b60b7784d" style="text-align:center;">
            <div class="sp-block-content" style>
                                        <span class="h2" data-color="#000000">
                                            <h2 style="color:#000000;">WINTER 2024 CLASSES - BEGINNING JANUARY 10</h2>
                                        </span>
            </div>
          </div>
          <div class="sp-block sp-divider-block " data-type="divider" data-id="189b5a56-6d94-410a-a707-1914cb9c03af" style>
            <div class="sp-block-content" style>
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-row">
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-icon-block " data-type="icon" data-id="f9994fa0-5e7f-437b-b251-497d401fb6ac" style="text-align:center;">
                <div class="sp-block-content" style>
                  <div class="sp-icon-holder" style="font-size:80px;color:#000000;" data-group="fontawesome" data-icon="globe" data-size="80px" data-color="#000000">
                    <i class="fa fa-globe fa-fw"></i>
                  </div>
                </div>
              </div>
              <div class="sp-block sp-heading-block " data-type="heading" data-id="73f1c845-2ae8-4509-9710-8952e1f88259" style="text-align:center;">
                <div class="sp-block-content" style>
                                                <span class="h3">
                                                    <h3>MAIN SESSION</h3>
                                                </span>
                </div>
              </div>
              <div class="sp-block sp-text-block " data-type="text" data-id="9eab877b-9bbe-4ef6-bdfc-b5ec0ea520bd" style="text-align:center;">
                <div class="sp-block-content" style>
                  <br>
                  This coming session, we will be studying "Killing Kryptonite" by John Bevere in our main session, held in the sanctuary. This session is for EVERYONE. <br>
                  <br>
                  NO SIGN UP REQUIRED.<br>
                  <br>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-icon-block " data-type="icon" data-id="3bf3f74b-461e-4f5f-8745-5e360c652182" style="text-align:center;">
                <div class="sp-block-content" style>
                  <div class="sp-icon-holder" style="font-size:80px;color:#000000;" data-group="fontawesome" data-icon="line-chart" data-size="80px" data-color="#000000">
                    <i class="fa fa-line-chart fa-fw"></i>
                  </div>
                </div>
              </div>
              <div class="sp-block sp-heading-block " data-type="heading" data-id="4855d12e-caf8-41b8-ba35-034bc87a5e1a" style="text-align:center;">
                <div class="sp-block-content" style>
                                                <span class="h3">
                                                    <h3>NEXT STEPS</h3>
                                                </span>
                </div>
              </div>
              <div class="sp-block sp-text-block " data-type="text" data-id="7e410f89-5b29-4698-affd-473cc6b408a8" style="text-align:center;">
                <div class="sp-block-content" style>
                  These classes are designed to help believers build their lives upon the Word and develop spiritual maturity. We cover topics like prayer and worship, faith and hope, spiritual hunger and God's Word, and much more! <br>
                  <br>NO SIGN UP REQUIRED.
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-icon-block " data-type="icon" data-id="32389f8f-fbfb-4efd-90ba-e61f53c927bf" style="text-align:center;">
                <div class="sp-block-content" style>
                  <div class="sp-icon-holder" style="font-size:80px;color:#000000;" data-group="fontawesome" data-icon="usd" data-size="80px" data-color="#000000">
                    <i class="fa fa-usd fa-fw"></i>
                  </div>
                </div>
              </div>
              <div class="sp-block sp-heading-block " data-type="heading" data-id="65108bf0-03a4-4708-b174-01065dfa687c" style="text-align:center;">
                <div class="sp-block-content" style>
                                                <span class="h3">
                                                    <h3>FINANCIAL PEACE</h3>
                                                </span>
                </div>
              </div>
              <div class="sp-block sp-text-block " data-type="text" data-id="854717f7-5c6a-4076-bf1d-30c85092ff0b" style="text-align:center;">
                <div class="sp-block-content" style>Financial Peace University is the 12-week class that teaches you the step-by-step plan to win with money and gives you all the tools you need to work it.</div>
              </div>
              <div class="sp-block sp-button-block " data-type="button" data-id="3469c8c4-7933-471e-b226-2cfb032b5aa9" style="text-align:center;">
                <div class="sp-block-content" style>
                                                <span class="text-reset">
                                                    <a class="sp-button" href="https://riveroflife-jax.ccbchurch.com/goto/forms/491/responses/new" target="_self" data-label="SIGN UP" style>SIGN UP</a>
                                                </span>
                </div>
              </div>
            </div>
          </div>
          <div class="sp-block sp-divider-block " data-type="divider" data-id="b0f0b9e3-84a7-41f1-a429-549b1957469b" style>
            <div class="sp-block-content" style>
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-row">
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-icon-block " data-type="icon" data-id="0361b187-f577-46d7-940b-8f7590ae45e4" style="text-align:center;">
                <div class="sp-block-content" style>
                  <div class="sp-icon-holder" style="font-size:80px;color:#000000;" data-group="fontawesome" data-icon="users" data-size="80px" data-color="#000000">
                    <i class="fa fa-users fa-fw"></i>
                  </div>
                </div>
              </div>
              <div class="sp-block sp-heading-block " data-type="heading" data-id="346b9cde-a6e0-41fa-b090-eaa7181933df" style="text-align:center;">
                <div class="sp-block-content" style>
                                                <span class="h3">
                                                    <h3>
                                                        SMALL GROUP<br>FACILITATOR TRAINING
                                                    </h3>
                                                </span>
                </div>
              </div>
              <div class="sp-block sp-text-block " data-type="text" data-id="0786b2d4-d9a2-4c18-8995-43082d04ac19" style="text-align:center;">
                <div class="sp-block-content" style="max-width:400px;">River Groups are focused on growth for the entire family. We want young and old, male and female, single and married to all come together in the name of Jesus. This class will walk you through how to become an effective and encouraging leader within our church!</div>
              </div>
              <div class="sp-block sp-button-block " data-type="button" data-id="2a396951-803a-480d-a474-3c427ddc25cd" style="text-align:center;">
                <div class="sp-block-content" style>
                                                <span class="text-reset">
                                                    <a class="sp-button" href="https://riveroflife-jax.ccbchurch.com/goto/forms/484/responses/new" target="_self" data-label="SIGN UP" style>SIGN UP</a>
                                                </span>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-icon-block " data-type="icon" data-id="d53772ff-4db6-49be-abff-92b28545e7b4" style="text-align:center;">
                <div class="sp-block-content" style>
                  <div class="sp-icon-holder" style="font-size:80px;color:#000000;" data-group="fontawesome" data-icon="cloud" data-size="80px" data-color="#000000">
                    <i class="fa fa-cloud fa-fw"></i>
                  </div>
                </div>
              </div>
              <div class="sp-block sp-heading-block " data-type="heading" data-id="b88c2dfc-4ef3-47d7-b7a1-e5c73ab9b4ed" style="text-align:center;">
                <div class="sp-block-content" style>
                                                <span class="h3">
                                                    <h3>PROPHETIC TRAINING</h3>
                                                </span>
                </div>
              </div>
              <div class="sp-block sp-text-block " data-type="text" data-id="00fe3dac-6486-4022-a104-9232fe206a0e" style="text-align:center;">
                <div class="sp-block-content" style="max-width:400px;">
                  The Bible says that we all may prophesy and that the prophetic is simply hearing from God and sharing what you hear. In this class, you'll learn more about this important gift and how to begin to hear more from Heaven.<br>
                  <br>
                  Wednesdays, February 21 - March 20<br>7pm in the Choir Classroom
                </div>
              </div>
              <div class="sp-block sp-button-block " data-type="button" data-id="14907d40-53cd-468d-aba2-f2a0e649d30d" style="text-align:center;">
                <div class="sp-block-content" style>
                                                <span class="text-reset">
                                                    <a class="sp-button" href="#" target="_blank" data-label="SIGN UP IS FULL" style>SIGN UP IS FULL</a>
                                                </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0" data-index data-scheme="0">
    <div class="sp-section-slide" data-label="Main">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block " data-type="heading" data-id="22339ca8-b387-427e-aab6-6e7555753298" style="text-align:left;">
            <div class="sp-block-content" style>
                                        <span class="h2">
                                            <h2>Have Questions?</h2>
                                        </span>
            </div>
          </div>
          <div class="sp-block sp-heading-block " data-type="heading" data-id="9f66fe58-b078-40df-a556-24b021d507e6" style="text-align:left;padding-top:25px;padding-bottom:25px;">
            <div class="sp-block-content" style>
                                        <span class="h3">
                                            <h3>We'd love to hear from you. Fill out the form below to get started.</h3>
                                        </span>
            </div>
          </div>
          <div class="sp-row">
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-form-block " data-type="form" data-id="cd917d95-9446-4c24-adca-155e9f1bdd99" style>
                <div class="sp-block-content" style>
                  <div class="form-holder" data-email="elise@rolchurch.com" data-subject="Grow Time Request" data-sent="Thank you for contacting us! We will respond shortly.">
                    <form class="sp-form">
                      <div class="sp-fieldset  " data-type="name">
                        <div class="sp-field-col">
                          <label class="sp-field-label">First Name</label>
                          <div class="sp-field-wrapper">
                            <input type="text" class="sp-field"/>
                          </div>
                        </div>
                        <div class="sp-field-col">
                          <label class="sp-field-label">Last Name</label>
                          <div class="sp-field-wrapper">
                            <input type="text" class="sp-field"/>
                          </div>
                        </div>
                      </div>
                      <div class="sp-fieldset  " data-type="email">
                        <div class="sp-field-col">
                          <label class="sp-field-label">Email</label>
                          <div class="sp-field-wrapper">
                            <input type="text" class="sp-field icon"/>
                            <i class="fa fa-envelope-o"></i>
                          </div>
                        </div>
                      </div>
                      <div class="sp-fieldset  " data-type="textarea">
                        <div class="sp-field-col">
                          <label class="sp-field-label">Message</label>
                          <div class="sp-field-wrapper">
                            <textarea class="sp-field"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="button-holder" style="text-align:left;">
                                                            <span class="text-reset">
                                                                <a class="sp-button fill" href target data-label="Send">Send</a>
                                                            </span>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-map-block " data-type="map" data-id="2470add8-476c-4efe-bdb8-0ec11fdac02a" style>
                <div class="sp-block-content" style>
                  <div class="map-holder" style="height:440px;" data-latlng="34.802814,-77.438392" data-markerlatlng="34.802814,-77.438392" data-style="grayscale" data-zoom="17" data-address="2460 Gum Branch Road, Jacksonville, NC"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
