<main id="sp-content">
  <section class="sp-section sp-scheme-1" id="GROW-growtime_content_header" style="padding-top: 349px;">
    <div class="sp-section-backgrounds">
      <div class="sp-section-background parallax" data-darkreader-inline-bgcolor=""
           data-darkreader-inline-color=""
           data-style="background: URL(https://storage2.snappages.site/KHGFVV/assets/images/13193533_2448x2448_2500.jpg) 50%+50% no-repeat;background-size:cover;background-attachment:fixed;color: rgba(0, 0, 0, .4);"
           data-type="image" style="background-position: 50% 50%; background-repeat: no-repeat; background-origin: initial; background-clip: initial; background-color: initial; background-size: cover; background-attachment: fixed; color: rgba(0, 0, 0, 0.4); left: 0%; --darkreader-inline-bgcolor: initial; --darkreader-inline-color: rgba(232, 230, 227, 0.4);">
        <div class="parallax-mirror"
             style="visibility: visible; z-index: 0; position: fixed; top: 0px; left: 0px; overflow: hidden; transform: translate3d(0px, 48px, 0px); height: 916px; width: 1098px;">
          <img class="parallax-slider"
               src="https://storage2.snappages.site/KHGFVV/assets/images/13193533_2448x2448_2500.jpg"
               style="transform: translate3d(0px, 0px, 0px); position: absolute; top: -242.4px; left: 0px; height: 1098px; width: 1098px; max-width: none;">
        </div>
      </div>
    </div>
    <div class="sp-section-slide">
      <div class="sp-section-content" style="padding-top:150px; padding-bottom:150px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span class="h1">
                <h1>IGNITE: Midweek Renewal</h1>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content">
              <b>
                Sundays often offer limited time to delve deep into topics crucial for our Christian journey.
                <br>
                That's why we reserve Wednesday nights for just that!
                <br>
              </b>
              <br>
              <b>
                Welcome to "IGNITE," our midweek gathering where we explore diverse classes tailored for your spiritual
                growth and family enrichment.
              </b>
              <br><br>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>
                  <b>EVERY WEDNESDAY @ 6:00PM!</b>
                </h2>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0" id="GROW-growtime_page_content">
    <div class="sp-section-slide" data-label="Main">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>WINTER 2024 CLASSES - BEGINNING JANUARY 10</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-divider-block">
            <div class="sp-block-content">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-row">
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-icon-block" style="text-align:center;">
                <div class="sp-block-content">
                  <div
                    class="sp-icon-holder"
                    style="font-size:80px;color:#000000;">
                    <i class="fa fa-line-chart fa-fw"></i>
                  </div>
                </div>
              </div>
              <div class="sp-block sp-heading-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <h3>NEXT STEPS</h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content">
                  These classes are crafted to fortify believers on the foundation of the Word and foster spiritual
                  maturity. Topics range from prayer and worship to faith and hope, hunger for God's Word, and beyond!
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-icon-block" style="text-align:center;">
                <div class="sp-block-content">
                  <div class="sp-icon-holder" style="font-size:80px;color:#000000;">
                    <i class="fa fa-usd fa-fw"></i>
                  </div>
                </div>
              </div>
              <div class="sp-block sp-heading-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <h3>FINANCIAL PEACE</h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content">
                  Embark on your financial journey equipping you with a step-by-step strategy to master your finances
                  and the tools to execute it.
                </div>
              </div>
            </div>
          </div>
          <div class="sp-block sp-divider-block">
            <div class="sp-block-content">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-row">
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-icon-block" style="text-align:center;">
                <div class="sp-block-content">
                  <div class="sp-icon-holder" style="font-size:80px; color:#000000;">
                    <i class="fa fa-users fa-fw"></i>
                  </div>
                </div>
              </div>
              <div class="sp-block sp-heading-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <h3>
                      SMALL GROUP
                      <br>
                      FACILITATOR TRAINING
                    </h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:400px;">
                  River Groups aim for holistic growth for all ages and demographics. Whether young or old, single or
                  married, join us to unite in the name of Jesus. This training will empower you to become an impactful
                  and supportive leader within our church community!
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-icon-block" style="text-align:center;">
                <div class="sp-block-content">
                  <div class="sp-icon-holder" style="font-size:80px; color:#000000;">
                    <i class="fa fa-cloud fa-fw"></i>
                  </div>
                </div>
              </div>
              <div class="sp-block sp-heading-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <h3>PROPHETIC TRAINING</h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:400px;">
                  The Bible assures us that we can all prophesy, and the prophetic is merely attuning to God's voice and
                  relaying His message. Discover more about this vital gift and how to tune in to heavenly revelations.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0" id="GROW-growtime_quetions_form">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:left;">
            <div class="sp-block-content">
              <span>
                <h2>Have Questions?</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-heading-block"
               style="text-align:left; padding-top:25px; padding-bottom:25px;"
          >
            <div class="sp-block-content">
              <span>
                <h3>We'd love to hear from you. Fill out the form below to get started.</h3>
              </span>
            </div>
          </div>
          <div class="sp-row">
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-form-block">
                <div class="sp-block-content">
                  <div class="form-holder">
                    <form class="sp-form">
                      <div class="sp-fieldset">
                        <div class="sp-field-col">
                          <label class="sp-field-label">
                            First Name
                          </label>
                          <div class="sp-field-wrapper">
                            <input class="sp-field" type="text"/>
                          </div>
                        </div>
                        <div class="sp-field-col">
                          <label class="sp-field-label">
                            Last Name
                          </label>
                          <div class="sp-field-wrapper">
                            <input class="sp-field" type="text"/>
                          </div>
                        </div>
                      </div>
                      <div class="sp-fieldset">
                        <div class="sp-field-col">
                          <label class="sp-field-label">
                            Email
                          </label>
                          <div class="sp-field-wrapper">
                            <input class="sp-field icon" type="text"/>
                            <i class="fa fa-envelope-o"></i>
                          </div>
                        </div>
                      </div>
                      <div class="sp-fieldset">
                        <div class="sp-field-col">
                          <label class="sp-field-label">
                            Message
                          </label>
                          <div class="sp-field-wrapper">
                            <textarea class="sp-field"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="button-holder" style="text-align:left;">
                        <span class="text-reset">
                          <a class="sp-button fill">
                            Send
                          </a>
                        </span>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-map-block">
                <div class="sp-block-content">
                  <div class="map-holder" style="height:440px;">
                    <app-google-map></app-google-map>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
