<main id="sp-content">
  <section class="sp-section sp-scheme-1" id="GROW-children_content_header">
    <div class="sp-section-slide">
      <div class="sp-section-content" style="padding-top:120px; padding-bottom:120px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h1>
                  <b>CHILDREN</b>
                </h1>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-3" id="GROW-children_services">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" id="GROW-children_river_kids_services" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>River Kids Zone Services</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-divider-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:100px;">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-row">
            <div class="sp-col sp-col-12" id="GROW-children_sunday_service">
              <div class="sp-block sp-heading-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <h3>Sundays at 10am</h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:400px;">
                  4 months through 13 months | Location: Nursery 1
                  <br>
                  14 months through 23 months | Location: Nursery 2
                  <br>
                  2 - 3 year olds | Location: Classroom 1
                  <br>
                  4 years - Kindergarten | Location: Classroom 2
                  <br>
                  1st - 4th grade | Location: 1-4th Grade Room
                  <br>
                  Youth: 8-12th graders | Saturdays at 6pm
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-12" id="GROW-children_wednedsay_service">
              <div class="sp-block sp-heading-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <h3>
                      Wednesdays at 7:00pm
                      <br>
                      Meeting during "Grow Time"
                    </h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:400px;">
                  4 months through 13 months | Location: Nursery 1
                  <br>
                  14 months through 23 months | Location: Nursery 2
                  <br>
                  2 - 3 year olds | Location: Classroom 1
                  <br>
                  4 years - Kindergarten | Location: Classroom 2
                  <br>
                  1st - 4th grade | Location: 1-4th Grade Room
                  <br>
                  5th-7th graders | Location: River Tweens Room
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0" id="GROW-children_page_content">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>Jesus said, "Let the little children come to me..."</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h3>Matthew 19:14</h3>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              We want each child to experience and know the Lord. We hope to help them develop and grow spiritually and
              morally. It is our desire that they would come to receive God&rsquo;s free gift of salvation through Jesus
              Christ and that they would know and apply the truths of the Bible to their daily lives.
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-row">
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-image-block">
                <div class="sp-block-content">
                  <div
                    class="sp-image-holder has-text"
                    style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/708923_5184x3456_500.JPG); box-shadow:inset 0 0 0 10000px rgba(230, 126, 34, .7);"
                    data-ratio="four-three"
                  >
                    <img
                      src="https://storage2.snappages.site/KHGFVV/assets/images/708923_5184x3456_500.JPG"
                      class="fill"
                      alt
                    />
                    <div class="sp-image-title">
                      EQUIP + EMPOWER
                    </div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-image-block">
                <div class="sp-block-content">
                  <div
                    class="sp-image-holder has-text" style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/708928_5184x3456_500.JPG); box-shadow:inset 0 0 0 10000px rgba(52, 152, 219, .77);"
                    data-ratio="four-three">
                    <img
                      src="https://storage2.snappages.site/KHGFVV/assets/images/708928_5184x3456_500.JPG"
                      class="fill"
                      alt
                    />
                    <div class="sp-image-title">
                      THE ENVIRONMENT
                    </div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-image-block">
                <div class="sp-block-content">
                  <div
                    class="sp-image-holder has-text" style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/708933_4032x3024_500.jpg); box-shadow:inset 0 0 0 10000px rgba(22, 160, 133, .77);"
                    data-ratio="four-three"
                  >
                    <img
                      src="https://storage2.snappages.site/KHGFVV/assets/images/708933_4032x3024_500.jpg"
                      class="fill"
                      alt
                    />
                    <div class="sp-image-title">
                      TRAINING + TEACHING
                    </div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sp-row">
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content">
                  We believe that children are able to know God personally, to serve Him and walk with Him from an early
                  age. We believe that children have the ability to impact the world around them and we want to help them
                  learn and grow to be a positive part of their families, friendships, and schools.
                  <br><br>
                  We want to do our part in helping children grow into their full potential. River Kids Zone is focused
                  on empowering our children to do all that they were created to do.
                  <br><br>
                  &ldquo;Train up a child in the way they should go and when he is old, he will not depart from it.
                  <br>
                  Proverbs 22:6
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content">
                  To promote the safety and well being of your children, all of our volunteers are fully screened with
                  the following:
                  <br><br>
                  <b>An approved River Kids Zone application</b>
                  <br>
                  <b>A background record check</b>
                  <br>
                  <b>4 references</b>
                  <br>
                  <b>Guardian System training</b>
                  <br>
                  <b>ROL Membership</b>
                  <br><br>
                  For your child &rsquo;s safety, only the parents are allowed to sign in or sign out their child. We do
                  not release children to their older siblings. &nbsp;Each visiting parent is given an identification
                  number that will flash in the sanctuary display if their child requires their attention.
                  <br><br>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content">
                  The mission of River Kids Zone is to lead the children by example into a relationship with the Lord
                  Jesus Christ using the truths of the Bible as our foundation. &nbsp;Our Bible curriculum was chosen
                  and designed to help children discover what God &rsquo;s word says and how to apply that truth in their
                  lives.
                  <br><br>
                  We present the truths of God&rsquo;s word through:
                  <br><br>
                  <b>
                    Prayer, Praise, and Worship
                    <br>
                    Powerful Bible lessons and illustrated stories
                    <br>
                    Puppets and skits
                    <br>
                    Videos and memory verses
                    <br>
                    Crafts and games
                  </b>
                </div>
              </div>
            </div>
          </div>
          <div class="sp-block sp-divider-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div
            class="sp-block sp-image-block"
            style="text-align:center; padding-top:0px; padding-bottom:0px; padding-left:15px; padding-right:15px;"
          >
            <div class="sp-block-content" style="max-width:240px;">
              <div
                class="sp-image-holder" style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/2505925_3456x5184_500.jpg);"
                data-shape="ellipse"
                data-ratio="square"
                data-pos="top-center"
              >
                <img
                  src="https://storage2.snappages.site/KHGFVV/assets/images/2505925_3456x5184_500.jpg"
                  class="fill"
                  alt
                />
                <div class="sp-image-title"></div>
                <div class="sp-image-caption"></div>
              </div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              <span>
                <h2>Pastor Jackie, Children's Pastor</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:600px;">
              Pastor Jackie Hornage came to River of Life in the storefront church in 1993 and began serving. In 2000,
              she transitioned from an elementary school teacher to full-time staff. &nbsp;Pastor Jackie &rsquo;s passion
              is seeing children come to know Jesus, and she always says that children are the biggest mission field in
              the world. &nbsp;The River Kids Zone at the church is a vital aspect of what we do to build the Kingdom of
              God, and Pastor Jackie is integral in building this ministry. &nbsp;Each year she oversees other programs
              for the children -- Vacation Bible School, Camp Dixie, Back to School Bash, Boys Night Out and more.
            </div>
          </div>
          <div class="sp-block sp-divider-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>Upcoming Events</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-subsplash_events-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="sp-subsplash-holder">
                <script id="subsplash-embed-xf8x43w" type="0e35be39a62a468ea3b84ea7-text/javascript">
                  var target = document.getElementById("subsplash-embed-xf8x43w");
                  var script = document.createElement("script");
                  script.type = "text/javascript";
                  script.onload = function() {subsplashEmbed("+5cbf/lb/ca/+xf8x43w?embed&branding", "https://subsplash.com/", "subsplash-embed-xf8x43w");};
                  script.src = "https://dashboard.static.subsplash.com/production/web-client/external/embed-1.1.0.js";target.parentElement.insertBefore(script, target);
                </script>
              </div>
            </div>
          </div>
          <div class="sp-block sp-divider-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>Frequently Asked Questions</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content">
              <b>
                <i>
                  When does the River Kids Zone open?
                  <br>
                </i>
              </b>
              River Kids Zone opens at 6:50pm on Wednesdays during Grow Time and at 9:45am on Sundays.
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content">
              <b>
                <i>
                  Will the River Kids Zone staff come and get me if my baby needs me?
                  <br>
                </i>
              </b>
              Each visiting parent will be contacted by phone or text if their child needs them during the service.
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content">
              <b>
                <i>
                  What is your pick up procedure?
                  <br>
                </i>
              </b>
              For your child &rsquo;s safety, only the parents are allowed to sign in or sign out their child. We do not
              release children to their older siblings.
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content">
              <b>
                <i>
                  Is there somewhere for nursing mothers to feed their babies?
                  <br>
                </i>
              </b>
              We have a Nursing Mom's Room located to the left side of the sanctuary. &nbsp;This room is equipped with a
              speaker system so that nursing moms do not have to miss the service.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-3 show-arrows" id="GROW-children_member_quotes">
    <div class="sp-section-slide">
      <div class="sp-section-content" style="padding-top:50px; padding-bottom:50px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>Awesome Word, Awesome People, Awesome Church!</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content">
              - Sandra Adams
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sp-section-slide">
      <div class="sp-section-content" style="padding-top:50px; padding-bottom:50px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>It's one of the most amazing churches I have ever been to!</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content">
              - Carrie Winbourne
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sp-section-slide">
      <div class="sp-section-content" style="padding-top:50px; padding-bottom:50px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>The culture with the staff and members of River of Life is bar none.</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content">
              - Crystal Becker
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0" id="GROW-children_more_info_form">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              <span>
                <h2>Need More Information?</h2>
              </span>
            </div>
          </div>
          <div
            class="sp-block sp-heading-block"
            style="text-align:center;padding-top:25px; padding-bottom:25px;"
          >
            <div class="sp-block-content" style="max-width:800px;">
              <span>
                <h3>We'd love to hear from you. Fill out the form below to get started.</h3>
              </span>
            </div>
          </div>
          <div class="sp-block sp-form-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <div class="form-holder">
                <form class="sp-form">
                  <div class="sp-fieldset">
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        First Name
                      </label>
                      <div class="sp-field-wrapper">
                        <input type="text" class="sp-field"/>
                      </div>
                    </div>
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        Last Name
                      </label>
                      <div class="sp-field-wrapper">
                        <input type="text" class="sp-field"/>
                      </div>
                    </div>
                  </div>
                  <div class="sp-fieldset">
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        Email
                      </label>
                      <div class="sp-field-wrapper">
                        <input type="text" class="sp-field icon"/>
                        <i class="fa fa-envelope-o"></i>
                      </div>
                    </div>
                  </div>
                  <div class="sp-fieldset">
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        Message
                      </label>
                      <div class="sp-field-wrapper">
                        <textarea class="sp-field"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="button-holder" style="text-align:left;">
                    <span>
                      <a class="sp-button fill">
                        Contact Us
                      </a>
                    </span>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
