<main id="sp-content">
  <section class="sp-section sp-scheme-1" id="GROW-children_content_header" style="padding-top: 349px;">
    <div class="sp-section-backgrounds">
      <div class="sp-section-background parallax" data-darkreader-inline-bgcolor=""
           data-darkreader-inline-color=""
           data-style="background: URL(https://storage2.snappages.site/KHGFVV/assets/images/8392108_4176x2784_2500.JPG) 50%+50% no-repeat;background-size:cover;background-attachment:fixed;color: rgba(41, 128, 185, .5);"
           data-type="image" style="background-position: 50% 50%; background-repeat: no-repeat; background-origin: initial; background-clip: initial; background-color: initial; background-size: cover; background-attachment: fixed; color: rgba(41, 128, 185, 0.5); left: 0%; --darkreader-inline-bgcolor: initial; --darkreader-inline-color: rgba(84, 164, 217, 0.5);">
        <div class="parallax-mirror"
             style="visibility: visible; z-index: 0; position: fixed; top: 0px; left: 0px; overflow: hidden; transform: translate3d(0px, 48px, 0px); height: 653px; width: 1098px;">
          <img class="parallax-slider"
               src="https://storage2.snappages.site/KHGFVV/assets/images/8392108_4176x2784_2500.JPG"
               style="transform: translate3d(0px, 0px, 0px); position: absolute; top: -85.4px; left: 0px; height: 732px; width: 1098px; max-width: none;">
        </div>
      </div>
    </div>
    <div class="sp-section-slide">
      <div class="sp-section-content" style="padding-top:120px; padding-bottom:120px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h1>
                  <b>CHILDREN</b>
                </h1>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-3" id="GROW-children_services">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" id="GROW-children_river_kids_services" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>River Kids Zone Services</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-divider-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:100px;">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-row">
            <div class="sp-col sp-col-24" id="GROW-children_sunday_service">
              <div class="sp-block sp-heading-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <h3>Sundays at 9 am</h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:400px;">
                  4 months through 13 months | Location: Nursery 1
                  <br>
                  14 months through 23 months | Location: Nursery 2
                  <br>
                  2 - 3 year olds | Location: Classroom 1
                  <br>
                  4 years - Kindergarten | Location: Classroom 2
                  <br>
                  1st - 4th grade | Location: 1-4th Grade Room
                  <br>
                  Youth: 8-12th graders | Saturdays at 6pm
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0" id="GROW-children_page_content">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>Jesus said, "...and do not hinder them, for the kingdom of heaven belongs to such as these."</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h3>Matthew 19:14</h3>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              At our church, we fervently believe in nurturing our children's spiritual journey. We aspire for each
              child to encounter the presence of the Lord, guiding them to spiritual and moral growth. Our deepest
              longing is for them to embrace the gift of salvation offered freely by Jesus Christ, and to live out the
              truths of the Holy Scriptures in their everyday lives.
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-row">
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-image-block">
                <div class="sp-block-content">
                  <div
                    class="sp-image-holder has-text"
                    data-ratio="four-three"
                    style="background-image:url(https://t4.ftcdn.net/jpg/06/46/31/91/240_F_646319165_Nk55FWit1zlYeE335V7KxAZaD3HYKbsg.jpg);
                     box-shadow:inset 0 0 0 10000px rgba(230, 126, 34, .7);"
                  >
                    <div class="sp-image-title">
                      EQUIP + EMPOWER
                    </div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-image-block">
                <div class="sp-block-content">
                  <div
                    class="sp-image-holder has-text"
                    data-ratio="four-three"
                    style="background-image:url(https://as2.ftcdn.net/v2/jpg/00/23/95/53/1000_F_23955330_YTJpunaiPkBEA6AkJ844GSGXVyHNZsWx.jpg);
                    box-shadow:inset 0 0 0 10000px rgba(52, 152, 219, .77);">
                    <div class="sp-image-title">
                      THE ENVIRONMENT
                    </div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-image-block">
                <div class="sp-block-content">
                  <div
                    class="sp-image-holder has-text"
                    data-ratio="four-three"
                    style="background-image:url(https://t3.ftcdn.net/jpg/06/82/44/60/240_F_682446077_HhkKWTsySG0EncYI6hQMcLyr9U2634Rq.jpg);
                    box-shadow:inset 0 0 0 10000px rgba(22, 160, 133, .77);"
                  >
                    <img
                      alt
                      class="fill"
                      src="https://storage2.snappages.site/KHGFVV/assets/images/708933_4032x3024_500.jpg"
                    />
                    <div class="sp-image-title">
                      TRAINING + TEACHING
                    </div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sp-row">
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content">
                  In the spirit of Pentecost, we affirm that children possess the divine capacity to intimately
                  encounter
                  God, to serve Him, and to journey alongside Him from tender years. We fervently believe that even in
                  their innocence, children wield the power to radiate God's light in their spheres, influencing
                  families,
                  friendships, and schools for His glory.
                  <br><br>
                  As stewards of God's precious ones, we are committed to nurturing their inherent potential. River Kids
                  Zone stands resolute in equipping our children to embrace their God-given destinies.
                  <br><br>
                  In accordance with the scriptural wisdom of Proverbs 22:6, we heed the call to train our children in
                  the path of righteousness, knowing that as they mature, they will remain steadfast in their faith.
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content">
                  In our commitment to safeguarding and nurturing your precious children, we uphold rigorous standards
                  for all our volunteers, ensuring:
                  <br><br>
                  <b>Completion of a thorough River Kids Zone application</b>
                  <br>
                  <b>Comprehensive background record checks</b>
                  <br>
                  <b>Verification of four references</b>
                  <br>
                  <b>Completion of Guardian System training</b>
                  <br>
                  <b>Active membership in the River of Life community</b>
                  <br><br>
                  To ensure the utmost safety and security of your child, only parents are authorized to check in or
                  check out their child. For added protection, children are not released to older siblings.
                  Additionally,
                  each visiting parent receives a unique identification number, which will be promptly displayed in the
                  sanctuary if their child needs attention.
                  <br><br>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content">
                  At River Kids Zone, our fervent mission is to guide the young hearts into a vibrant relationship with
                  our Lord Jesus Christ, anchored firmly upon the sacred teachings of the Bible. Our curriculum,
                  handpicked and fashioned with care, serves as a compass, illuminating the path of divine truth for our
                  precious children.
                  <br><br>
                  We impart the sacred teachings of God's Word through:
                  <br><br>
                  <b>
                    Prayer, lifting their spirits heavenward
                    <br>
                    Praise and Worship, igniting their souls with holy fire
                    <br>
                    Dynamic Bible lessons and captivating stories, unveiling the mysteries of Scripture
                    <br>
                    Engaging puppets and lively skits, bringing joy and laughter while imparting wisdom
                    <br>
                    Inspirational videos and memorized verses, embedding the Word deep within their hearts
                    <br>
                    Creative crafts and spirited games, fostering fellowship and fun in the house of God
                  </b>
                </div>
              </div>
            </div>
          </div>
          <div class="sp-block sp-divider-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-block sp-image-block"
               style="text-align:center; padding-top:0px; padding-bottom:0px; padding-left:15px; padding-right:15px;"
          >
            <div class="sp-block-content" style="max-width:240px;">
              <div
                class="sp-image-holder"
                data-pos="top-center"
                data-ratio="square"
                data-shape="ellipse"
                style="background-image:url(https://as1.ftcdn.net/v2/jpg/06/18/43/14/1000_F_618431429_zgbnRLU5xnzsI7ai5M2WWQRRzy1NPONN.jpg);"
              >
                <div class="sp-image-title"></div>
                <div class="sp-image-caption"></div>
              </div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              <span>
                <h2>Pastor Jackie, Children's Pastor</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:600px;">
              At River Kids Zone, Pastor Jackie's influence is profound, serving as a cornerstone in our ministry
              efforts
              to expand the Kingdom of God. She oversees a plethora of impactful programs catering to the spiritual
              growth and development of our children, including Vacation Bible School, Camp Dixie, Back to School Bash,
              Boys Night Out, and more. Through her dedicated leadership, countless young lives are being transformed,
              setting them on a path of faith and discipleship.
            </div>
          </div>
          <div class="sp-block sp-divider-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>Upcoming Events</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-subsplash_events-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="sp-subsplash-holder">
                <script id="subsplash-embed-xf8x43w" type="0e35be39a62a468ea3b84ea7-text/javascript">
                  var target = document.getElementById("subsplash-embed-xf8x43w");
                  var script = document.createElement("script");
                  script.type = "text/javascript";
                  script.onload = function() {subsplashEmbed("+5cbf/lb/ca/+xf8x43w?embed&branding", "https://subsplash.com/", "subsplash-embed-xf8x43w");};
                  script.src = "https://dashboard.static.subsplash.com/production/web-client/external/embed-1.1.0.js";target.parentElement.insertBefore(script, target);
                </script>
              </div>
            </div>
          </div>
          <div class="sp-block sp-divider-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>Frequently Asked Questions</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content">
              <b>
                <i>
                  When does the River Kids Zone come alive?
                  <br>
                </i>
              </b>
              The River Kids Zone springs to life at 6:50pm every Wednesday during Grow Time and at 9:45am on Sundays.
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content">
              <b>
                <i>
                  Will the River Kids Zone team notify me if my little one needs me?
                  <br>
                </i>
              </b>
              Rest assured, we'll promptly contact parents via phone or text should their child require their attention
              during service.
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content">
              <b>
                <i>
                  What's the procedure for picking up my child?
                  <br>
                </i>
              </b>
              Ensuring your child's safety is paramount. Only parents are permitted to check in or check out their
              child.
              We do not release children to older siblings.
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content">
              <b>
                <i>
                  Is there a space for nursing mothers to nurture their babies?
                  <br>
                </i>
              </b>
              Absolutely! We've designated a Nursing Mom's Room located on the left side of the sanctuary. Complete with
              a speaker system, moms can remain connected to the service while tending to their little ones.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-3 show-arrows" id="GROW-children_member_quotes">
    <div class="sp-row">
      <div class="sp-section-slide">
        <div class="sp-section-content" style="padding-top:50px; padding-bottom:50px;">
          <div class="sp-grid sp-col sp-col-24">
            <div class="sp-block sp-heading-block" style="text-align:center;">
              <div class="sp-block-content">
              <span>
                <h2>Awesome Word, Awesome People, Awesome Church!</h2>
              </span>
              </div>
            </div>
            <div class="sp-block sp-text-block" style="text-align:center;">
              <div class="sp-block-content">
                - Sandra Adams
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sp-row sp-scheme-2">
      <div class="sp-section-slide">
        <div class="sp-section-content" style="padding-top:50px; padding-bottom:50px;">
          <div class="sp-grid sp-col sp-col-24">
            <div class="sp-block sp-heading-block" style="text-align:center;">
              <div class="sp-block-content">
              <span>
                <h2>It's one of the most amazing churches I have ever been to!</h2>
              </span>
              </div>
            </div>
            <div class="sp-block sp-text-block" style="text-align:center;">
              <div class="sp-block-content">
                - Carrie Winbourne
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sp-row">
      <div class="sp-section-slide">
        <div class="sp-section-content" style="padding-top:50px; padding-bottom:50px;">
          <div class="sp-grid sp-col sp-col-24">
            <div class="sp-block sp-heading-block" style="text-align:center;">
              <div class="sp-block-content">
              <span>
                <h2>The culture with the staff and members of River of Life is bar none.</h2>
              </span>
              </div>
            </div>
            <div class="sp-block sp-text-block" style="text-align:center;">
              <div class="sp-block-content">
                - Crystal Becker
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0" id="GROW-children_more_info_form">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              <span>
                <h2>Need More Information?</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-heading-block"
               style="text-align:center;padding-top:25px; padding-bottom:25px;"
          >
            <div class="sp-block-content" style="max-width:800px;">
              <span>
                <h3>We'd love to hear from you. Fill out the form below to get started.</h3>
              </span>
            </div>
          </div>
          <div class="sp-block sp-form-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <div class="form-holder">
                <form class="sp-form">
                  <div class="sp-fieldset">
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        First Name
                      </label>
                      <div class="sp-field-wrapper">
                        <input class="sp-field" type="text"/>
                      </div>
                    </div>
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        Last Name
                      </label>
                      <div class="sp-field-wrapper">
                        <input class="sp-field" type="text"/>
                      </div>
                    </div>
                  </div>
                  <div class="sp-fieldset">
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        Email
                      </label>
                      <div class="sp-field-wrapper">
                        <input class="sp-field icon" type="text"/>
                        <i class="fa fa-envelope-o"></i>
                      </div>
                    </div>
                  </div>
                  <div class="sp-fieldset">
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        Message
                      </label>
                      <div class="sp-field-wrapper">
                        <textarea class="sp-field"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="button-holder" style="text-align:left;">
                    <span class="text-reset">
                      <a class="sp-button fill">
                        Contact Us
                      </a>
                    </span>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
