<main id="sp-content">
  <section class="sp-section sp-scheme-1">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h1>
                  <b>RIVER WISE</b>
                </h1>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block " style="text-align:center;">
            <div class="sp-block-content">
              <b>The Ministry geared toward those 60 years +</b>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block " style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>
                  <b>God's Not Done With You Yet!</b>
                </h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:550px;">
              <b>
                Our River Wise Group is geared toward those who are 60 years and older. Our goal is to connect with each
                other, learn about service and health, enjoy entertainment with each other, and share wisdom together.
              </b>
            </div>
          </div>
          <div class="sp-block sp-spacer-block">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-row">
            <div class="sp-col sp-col-2">
              <div class="sp-block sp-spacer-block sp-hide-tablet sp-hide-mobile">
                <div class="sp-block-content">
                  <div class="spacer-holder" style="height:30px;"></div>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-2">
              <div
                class="sp-block sp-icon-block"
                style="text-align:center; padding-top:10px; padding-bottom:10px; padding-left:0px; padding-right:0px;">
                <div class="sp-block-content">
                  <div class="sp-icon-holder" style="font-size:50px; color:#98f0fb;">
                    <i class="pe pe-7s-users pe-fw"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-heading-block">
                <div class="sp-block-content">
                  <span>
                    <h3>Relationships</h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="padding-top:0px; padding-bottom:0px;">
                <div class="sp-block-content">
                  Proverbs 17:17 (NLT)
                  <br>
                  A friend is always loyal,
                  <br>
                  and a brother is born to help in time of need.
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-2">
              <div
                class="sp-block sp-icon-block"
                style="text-align:center; padding-top:10px; padding-bottom:10px; padding-left:0px; padding-right:0px;"
              >
                <div class="sp-block-content">
                  <div
                    class="sp-icon-holder"
                    style="font-size:50px; color:#98f0fb;"
                    data-style="circleborder"
                    >
                    <i class="pe pe-7s-music pe-fw"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-heading-block">
                <div class="sp-block-content">
                  <span>
                    <h3>Entertainment</h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="padding-top:0px; padding-bottom:0px;">
                <div class="sp-block-content">
                  Proverbs 17:22 (NLT)
                  <br>
                  A cheerful heart is good medicine,
                  <br>
                  but a broken spirit saps a person &rsquo;s strength.
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-2">
              <div class="sp-block sp-spacer-block sp-hide-tablet sp-hide-mobile">
                <div class="sp-block-content">
                  <div class="spacer-holder" style="height:30px;"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block sp-hide-mobile">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-row">
            <div class="sp-col sp-col-2">
              <div class="sp-block sp-spacer-block sp-hide-tablet sp-hide-mobile">
                <div class="sp-block-content">
                  <div class="spacer-holder" style="height:30px;"></div>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-2">
              <div
                class="sp-block sp-icon-block"
                style="text-align:center; padding-top:10px; padding-bottom:10px; padding-left:0px; padding-right:0px;"
              >
                <div class="sp-block-content">
                  <div
                    class="sp-icon-holder"
                    style="font-size:50px;color:#98f0fb;"
                    data-style="circleborder"
                  >
                    <i class="pe pe-7s-like2 pe-fw"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-heading-block">
                <div class="sp-block-content">
                  <span>
                    <h3>Health &amp; Serving</h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="padding-top:0px; padding-bottom:0px;">
                <div class="sp-block-content">
                  Mark 10:45 (NLT)
                  <br>
                  For even the Son of Man came not to be served but to serve others and to give his life as a ransom for
                  many.&rdquo;
                  <br><br>
                  1 Corinthians 6:19-20 (NLT)
                  <br>
                  Don &rsquo;t you realize that your body is the temple of the Holy Spirit, who lives in you and was
                  given to you by God? You do not belong to yourself, for God bought you with a high price. So you must
                  honor God with your body.
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-2">
              <div
                class="sp-block sp-icon-block"
                style="text-align:center; padding-top:10px; padding-bottom:10px; padding-left:0px; padding-right:0px;"
              >
                <div class="sp-block-content">
                  <div
                    class="sp-icon-holder"
                    style="font-size:50px; color:#98f0fb;"
                    data-style="circleborder"
                  >
                    <i class="pe pe-7s-coffee pe-fw"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-heading-block">
                <div class="sp-block-content">
                  <span>
                    <h3>Wisdom-Sharing</h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block " style="padding-top:0px; padding-bottom:0px;">
                <div class="sp-block-content">
                  Proverbs 2:6 (NLT)
                  <br>
                  For the Lord grants wisdom!
                  <br>
                  From his mouth come knowledge and understanding.
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-2">
              <div class="sp-block sp-spacer-block sp-hide-tablet sp-hide-mobile">
                <div class="sp-block-content">
                  <div class="spacer-holder" style="height:30px;"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-video-block">
            <div class="sp-block-content">
              <div class="video-holder">
                <iframe
                  src="https://www.youtube.com/embed/lcinGZKCN50?rel=0"
                  frameborder="0"
                  allowfullscreen
                ></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>
                  <b>Upcoming Events</b>
                </h2>
              </span>
            </div>
          </div>
          <div
            class="sp-block sp-subsplash_events-block "
            style="padding-top:0px; padding-bottom:0px; padding-left:15px; padding-right:15px;"
          >
            <div class="sp-block-content">
              <div class="sp-subsplash-holder">
                <script id="subsplash-embed-3vt2pc4" type="e34f9af1b48071bcdd80b43d-text/javascript">
                  var target = document.getElementById("subsplash-embed-3vt2pc4");
                  var script = document.createElement("script");
                  script.type = "text/javascript";
                  script.onload = function() {subsplashEmbed("+5cbf/lb/ca/+3vt2pc4?embed&branding", "https://subsplash.com/", "subsplash-embed-3vt2pc4");};
                  script.src = "https://dashboard.static.subsplash.com/production/web-client/external/embed-1.1.0.js";target.parentElement.insertBefore(script, target);
                </script>
              </div>
            </div>
          </div>
          <div class="sp-block sp-button-block" style="text-align:start;">
            <div class="sp-block-content">
              <span>
                <a
                  class="sp-button fill"
                  href="https://www.dropbox.com/s/5z89ytwj1qlok5m/River%20Wise%20Brochure%20Inside-merged.pdf?dl=0"
                  target="_blank"
                >
                  Download our digital brochure
                </a>
              </span>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:start;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:start;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:left;">
            <div class="sp-block-content">
              <span>
                <h2>Contact Us</h2>
              </span>
            </div>
          </div>
          <div
            class="sp-block sp-heading-block"
            style="text-align:left; padding-top:25px; padding-bottom:25px;"
          >
            <div class="sp-block-content">
              <span>
                <h3>We'd love to hear from you. Fill out the form below to get started.</h3>
              </span>
            </div>
          </div>
          <div class="sp-row">
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-form-block">
                <div class="sp-block-content">
                  <div class="form-holder">
                    <form class="sp-form">
                      <div class="sp-fieldset">
                        <div class="sp-field-col">
                          <label class="sp-field-label">
                            First Name
                          </label>
                          <div class="sp-field-wrapper">
                            <input type="text" class="sp-field"/>
                          </div>
                        </div>
                        <div class="sp-field-col">
                          <label class="sp-field-label">
                            Last Name
                          </label>
                          <div class="sp-field-wrapper">
                            <input type="text" class="sp-field"/>
                          </div>
                        </div>
                      </div>
                      <div class="sp-fieldset">
                        <div class="sp-field-col">
                          <label class="sp-field-label">
                            Email
                          </label>
                          <div class="sp-field-wrapper">
                            <input type="text" class="sp-field icon"/>
                            <i class="fa fa-envelope-o"></i>
                          </div>
                        </div>
                      </div>
                      <div class="sp-fieldset">
                        <div class="sp-field-col">
                          <label class="sp-field-label">
                            Message
                          </label>
                          <div class="sp-field-wrapper">
                            <textarea class="sp-field"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="button-holder" style="text-align:left;">
                        <span class="text-reset">
                          <a
                            class="sp-button fill"
                            href
                            target
                            data-label="Send"
                          >
                            Send
                          </a>
                        </span>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-map-block">
                <div class="sp-block-content">
                  <div class="map-holder" style="height:440px;">
                    <app-google-map></app-google-map>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
