<!-- *** ADD OR EDIT HTML INSIDE OF THE dmRespCol DIVS, SEE DOCUMENTATION FOR GUIDELINES *** -->
<div class="u_1243667655 dmRespRow" style="text-align: center;" id="1243667655">
  <div class="dmRespColsWrapper" id="1173148036">
    <div class="dmRespCol small-12 medium-12 large-12 u_1620106714" id="1620106714">
      <!-- *** INSERT YOUR HTML BELOW *** -->
      <span id="1479169930">
   </span>
      <div class="dmNewParagraph" dmle_widget="paragraph" data-element-type="paragraph" id="1916090978" style="transition:opacity 1s ease-in-out;line-height:initial;" data-uialign="center" no_space_e="true" data-version="5">
        <h3 class="size-24">
     <span class="font-size-24" style="color: rgb(232, 230, 227); font-weight: 700; display: initial; --darkreader-inline-color: #d8d4cf;" data-darkreader-inline-color="" no_space_b="true" no_space_e="true">
      &nbsp;
     </span>
          <span class="font-size-24" style="color: rgb(232, 230, 227); font-weight: 600; display: initial; --darkreader-inline-color: #d8d4cf;" data-darkreader-inline-color="" no_space_b="true" no_space_e="true">
      River of Life Church House of Restoration Privacy Policy
     </span>
          <span single-space="true" class="font-size-24" style="font-weight: 700; display: initial; color: rgb(232, 230, 227); --darkreader-inline-color: #d8d4cf;" data-darkreader-inline-color="" no_space_b="true" no_space_e="true">
      <span class="font-size-24" style="font-weight: 700; display: initial; color: rgb(232, 230, 227); --darkreader-inline-color: #d8d4cf;" data-darkreader-inline-color="">
      </span>
     </span>
        </h3>
      </div>
      <h4 class="dmNewParagraph u_1303079183" dmle_widget="paragraph" data-element-type="paragraph" id="1303079183" data-uialign="center" style="transition: none; display: block;" no_space_e="true">
    <span class="lh-1 font-size-16">
     <div>
      <span class="lh-1 font-size-16" style="">
       Introduction
      </span>
     </div>
    </span>
      </h4>
      <div class="dmNewParagraph" data-dmtmpl="true" id="1133662932" data-uialign="center" style="transition:opacity 1s ease-in-out;line-height:initial;" no_space_e="true" data-version="5">
        <p no_space_b="true" no_space_e="true">
     <span class="" style="display: initial;" no_space_b="true" no_space_e="true">
      <span style="display: initial;" no_space_b="true">
       This Privacy Policy outlines River of Life Church House of Restoration's practices with respect to information collected from users who access our website at
      </span>
     </span>
          <a href="https://www.riveroflifehor.com/" target="_blank" style="display: initial;" no_space_b="true" no_space_e="true">
            riveroflifehor.com
          </a>
          <span class="" style="display: initial;" no_space_b="true" no_space_e="true">
      <span style="display: initial;" no_space_e="true">
       (&quot;Site&quot;) or otherwise share personal information with us (&quot;Users&quot;).
       <br/>
      </span>
     </span>
        </p>
      </div>
      <h4 class="u_1902293774 dmNewParagraph" dmle_widget="paragraph" data-element-type="paragraph" id="1902293774" data-uialign="center" no_space_e="true" style="transition: none; display: block;">
    <span class="lh-1 font-size-16">
     <div>
      <span class="lh-1 font-size-16" style="">
       Grounds for data collection&nbsp;
      </span>
     </div>
    </span>
      </h4>
      <div class="dmNewParagraph" data-dmtmpl="true" id="1443934047" data-uialign="center" style="transition:opacity 1s ease-in-out;line-height:initial;" no_space_e="true" data-version="5">
        <p no_space_b="true" no_space_e="true">
     <span style="display: initial;" no_space_b="true" no_space_e="true">
      Processing of your personal information is necessary for the performance of our contractual obligations, protecting our legitimate interests, and compliance with legal and financial regulatory obligations.
     </span>
        </p>
        <p no_space_b="true" no_space_e="true">
     <span style="display: initial;" no_space_b="true" no_space_e="true">
      <span class="ql-cursor" no_space_b="true" no_space_e="true">
       ﻿
      </span>
     </span>
        </p>
        <p no_space_b="true" no_space_e="true">
     <span style="display: initial;" no_space_b="true" no_space_e="true">
      By using the Site, you consent to the collection, storage, use, disclosure, and other uses of your Personal Information as described in this Privacy Policy.
     </span>
        </p>
        <p no_space_b="true" no_space_e="true">
          <br/>
        </p>
        <p no_space_b="true" no_space_e="true">
     <span style="display: initial;" no_space_b="true" no_space_e="true">
      We encourage our Users to carefully read the Privacy Policy and use it to make informed decisions.
     </span>
        </p>
        <p no_space_b="true" no_space_e="true">
     <span style="display: initial;" no_space_b="true" no_space_e="true">
      <br/>
     </span>
        </p>
      </div>
      <h4 class="u_1127178348 dmNewParagraph" dmle_widget="paragraph" data-element-type="paragraph" id="1127178348" data-uialign="center" no_space_e="true" style="transition: none; display: block;">
    <span class="lh-1 font-size-16">
     <div>
      <span class="lh-1 font-size-16" style="">
       What information we collect?
      </span>
     </div>
    </span>
      </h4>
      <div class="dmNewParagraph" data-dmtmpl="true" id="1284811032" data-uialign="center" no_space_e="true" style="line-height:initial;" data-version="5">
        <p no_space_b="true" no_space_e="true">
     <span style="display: initial;" no_space_b="true" no_space_e="true">
      We collect two types of data and information from Users.
     </span>
        </p>
        <p no_space_b="true" no_space_e="true">
          <br/>
        </p>
        <ol class="defaultList ordered">
          <li no_space_b="true" no_space_e="true">
      <span style="display: initial; font-weight: 600;" no_space_b="true" no_space_e="true">
       Non-personal Information:
      </span>
            <span class="" style="display: initial;" no_space_b="true" no_space_e="true">
       <span style="display: initial;" no_space_e="true">
        Un-identified and non-identifiable information pertaining to a User(s), gathered via your use of the Site.
       </span>
      </span>
          </li>
          <li no_space_b="true" no_space_e="true">
      <span style="display: initial; font-weight: 600;" no_space_b="true" no_space_e="true">
       Personal Information:
      </span>
            <span class="" style="display: initial;" no_space_b="true" no_space_e="true">
       <span style="display: initial;" no_space_e="true">
        Individually identifiable information, including registration information and device information.
       </span>
      </span>
          </li>
        </ol>
        <p style="line-height: 15px;" no_space_b="true" no_space_e="true">
     <span style="color: rgb(255, 0, 56); display: initial; --darkreader-inline-color: #ff1a4c;" data-darkreader-inline-color="" no_space_b="true" no_space_e="true">
      <br/>
     </span>
        </p>
      </div>
      <h4 class="u_1651675547 dmNewParagraph" dmle_widget="paragraph" data-element-type="paragraph" id="1651675547" data-uialign="center" no_space_e="true" style="transition: none; display: block;">
    <span class="lh-1 font-size-16">
     <div>
      <span class="lh-1 font-size-16" style="">
       How do we receive information about you?
      </span>
     </div>
    </span>
      </h4>
      <div class="dmNewParagraph u_1083860406" data-dmtmpl="true" id="1083860406" data-uialign="center" no_space_e="true" style="line-height:initial;" data-version="5">
        <p no_space_b="true" no_space_e="true">
     <span style="display: initial;" no_space_b="true" no_space_e="true">
      We receive your Personal Information when you voluntarily provide details, use or access our Site, and from third-party providers and services.
      <br/>
      <br/>
     </span>
        </p>
      </div>
      <div class="u_1970988313 dmNewParagraph" dmle_widget="paragraph" data-element-type="paragraph" id="1970988313" data-uialign="center" no_space_e="true" style="transition:none;display:block;line-height:initial;" data-version="5">
        <p no_space_b="true" no_space_e="true">
     <span style="display: initial; font-weight: 600;" no_space_b="true" no_space_e="true">
      How We Use Your Information?
     </span>
          <span style="display: initial;" no_space_b="true" no_space_e="true">
      <br/>
     </span>
        </p>
      </div>
      <div class="dmNewParagraph" data-dmtmpl="true" id="1332322979" data-uialign="center" no_space_e="true" style="line-height:initial;" data-version="5">
        <p no_space_b="true" no_space_e="true">
     <span style="display: initial;" no_space_b="true" no_space_e="true">
      We do not rent, sell, or share Users' information with third parties except as described in this Privacy Policy.
     </span>
        </p>
        <p no_space_b="true" no_space_e="true">
          <br/>
        </p>
        <p no_space_b="true" no_space_e="true">
     <span style="display: initial;" no_space_b="true" no_space_e="true">
      We may use the information for purposes such as communicating with you, serving advertisements, marketing our services, and conducting statistical and analytical purposes.
     </span>
        </p>
        <p no_space_b="true" no_space_e="true">
     <span style="display: initial;" no_space_b="true" no_space_e="true">
      <span class="ql-cursor" no_space_b="true" no_space_e="true">
       ﻿
      </span>
     </span>
        </p>
      </div>
      <h4 class="u_1848787429 dmNewParagraph" dmle_widget="paragraph" data-element-type="paragraph" id="1848787429" data-uialign="center" no_space_e="true" style="transition: none; display: block;">
    <span class="lh-1 font-size-16">
     <div>
      <span class="lh-1 font-size-16" style="">
       User Rights
      </span>
     </div>
    </span>
      </h4>
      <div class="dmNewParagraph" data-dmtmpl="true" id="1433828115" data-uialign="center" no_space_e="true" style="line-height:initial;" data-version="5">
        <p no_space_b="true" no_space_e="true">
     <span style="display: initial;" no_space_b="true" no_space_e="true">
      You may request to receive confirmation, access, rectification, erasure, object to processing, or lodge a complaint. However, please note that these rights are subject to our legitimate interests and regulatory requirements.
      <br/>
     </span>
        </p>
      </div>
      <h4 class="u_1992814609 dmNewParagraph" dmle_widget="paragraph" data-element-type="paragraph" id="1992814609" data-uialign="center" no_space_e="true" style="transition: none; display: block;">
    <span class="lh-1 font-size-16">
     <div>
      <span class="lh-1 font-size-16" style="">
       Retention
      </span>
     </div>
    </span>
      </h4>
      <div class="dmNewParagraph" data-dmtmpl="true" id="1728980736" data-uialign="center" no_space_e="true" style="line-height:initial;" data-version="5">
        <p no_space_b="true" no_space_e="true">
     <span style="display: initial;" no_space_b="true" no_space_e="true">
      We will retain your personal information for as long as necessary to provide our services and comply with legal obligations.
      <br/>
     </span>
        </p>
      </div>
      <h4 class="u_1095182628 dmNewParagraph" dmle_widget="paragraph" data-element-type="paragraph" id="1095182628" data-uialign="center" no_space_e="true" style="transition: none; display: block;">
    <span class="lh-1 font-size-16">
     <div>
      <span class="lh-1 font-size-16" style="">
       Cookies
      </span>
     </div>
    </span>
      </h4>
      <div class="dmNewParagraph" data-dmtmpl="true" id="1413986830" data-uialign="center" no_space_e="true" style="line-height:initial;" data-version="5">
        <p no_space_b="true" no_space_e="true">
     <span style="display: initial;" no_space_b="true" no_space_e="true">
      We and our trusted partners use cookies for various purposes. You may remove cookies, but disabling them may limit some features of our Site.
      <br/>
     </span>
        </p>
      </div>
      <div class="u_1507676094 dmNewParagraph" dmle_widget="paragraph" data-element-type="paragraph" id="1507676094" data-uialign="center" no_space_e="true" style="transition:none;display:block;line-height:initial;" data-version="5">
        <h4 class="text-align-left">
     <span style="display: initial; font-weight: 600;" no_space_b="true" no_space_e="true">
      Transfer of Data Outside the EEA
     </span>
        </h4>
      </div>
      <div class="dmNewParagraph" data-dmtmpl="true" id="1324523389" data-uialign="center" no_space_e="true" style="line-height:initial;" data-version="5">
        <p no_space_b="true" no_space_e="true">
     <span style="display: initial;" no_space_b="true" no_space_e="true">
      Data may be transferred outside the EEA to countries approved by the European Commission or through legal agreements ensuring adequate data protection.
      <br/>
     </span>
        </p>
      </div>
      <h4 class="u_1835719266 dmNewParagraph" dmle_widget="paragraph" data-element-type="paragraph" id="1835719266" data-uialign="center" no_space_e="true" style="transition: none; display: block;">
    <span class="lh-1 font-size-16">
     <div>
      <span class="lh-1 font-size-16" style="">
       Advertisements
      </span>
     </div>
    </span>
      </h4>
      <div class="dmNewParagraph u_1691958799" data-dmtmpl="true" id="1691958799" data-uialign="center" no_space_e="true" style="transition:none;display:block;line-height:initial;" data-version="5">
        <p no_space_b="true" no_space_e="true">
     <span style="display: initial;" no_space_b="true" no_space_e="true">
      We use third-party advertising technology. You may opt-out of personalized advertisements through NAI and DAA.
      <br/>
     </span>
        </p>
      </div>
      <h4 class="u_1615284184 dmNewParagraph" dmle_widget="paragraph" data-element-type="paragraph" id="1615284184" data-uialign="center" no_space_e="true" style="transition: none; display: block;">
    <span class="lh-1 font-size-16">
     <div>
      <span class="lh-1 font-size-16" style="">
       Marketing
      </span>
     </div>
    </span>
      </h4>
      <div class="dmNewParagraph" data-dmtmpl="true" id="1245215339" data-uialign="center" no_space_e="true" style="line-height:initial;" data-version="5">
        <p no_space_b="true" no_space_e="true">
     <span style="display: initial;" no_space_b="true" no_space_e="true">
      We may use your Personal Information for promotional materials. You can unsubscribe to stop receiving marketing offers.
      <br/>
     </span>
        </p>
      </div>
      <h4 class="u_1059000972 dmNewParagraph" dmle_widget="paragraph" data-element-type="paragraph" id="1059000972" data-uialign="center" no_space_e="true" style="transition: none; display: block;">
    <span class="lh-1 font-size-16">
     <div>
      <span class="lh-1 font-size-16" style="">
       Corporate transaction
      </span>
     </div>
    </span>
      </h4>
      <div class="dmNewParagraph" data-dmtmpl="true" id="1017714097" data-uialign="center" no_space_e="true" style="line-height:initial;" data-version="5">
        <p no_space_b="true" no_space_e="true">
     <span style="display: initial;" no_space_b="true" no_space_e="true">
      We may share information in the event of a corporate transaction, and the transferee will assume the rights and obligations as described in this Privacy Policy.
      <br/>
     </span>
        </p>
      </div>
      <h4 class="u_1064661103 dmNewParagraph" dmle_widget="paragraph" data-element-type="paragraph" id="1064661103" data-uialign="center" no_space_e="true" style="transition: none; display: block;">
    <span class="lh-1 font-size-16">
     <div>
      <span class="lh-1 font-size-16" style="">
       Minors
      </span>
     </div>
    </span>
      </h4>
      <div class="dmNewParagraph" data-dmtmpl="true" id="1536463887" data-uialign="center" no_space_e="true" style="line-height:initial;" data-version="5">
        <p no_space_b="true" no_space_e="true">
     <span style="display: initial;" no_space_b="true" no_space_e="true">
      Our services are not intended for children, and we do not knowingly collect Personal Information from minors.
      <br/>
     </span>
        </p>
      </div>
      <h4 class="u_1144216550 dmNewParagraph" dmle_widget="paragraph" data-element-type="paragraph" id="1144216550" data-uialign="center" no_space_e="true" style="transition: none; display: block;">
    <span class="lh-1 font-size-16">
     <div>
      <span class="lh-1 font-size-16" style="">
       Updates or amendments to this Privacy Policy
      </span>
     </div>
    </span>
      </h4>
      <div class="dmNewParagraph" data-dmtmpl="true" id="1216494406" data-uialign="center" no_space_e="true" style="line-height:initial;" data-version="5">
        <p no_space_b="true" no_space_e="true">
     <span style="display: initial;" no_space_b="true" no_space_e="true">
      We reserve the right to periodically amend or revise the Privacy Policy. Your continued use constitutes acknowledgment and consent to such amendments.
      <br/>
     </span>
        </p>
      </div>
      <h4 class="u_1953255332 dmNewParagraph" dmle_widget="paragraph" data-element-type="paragraph" id="1953255332" data-uialign="center" no_space_e="true" style="transition: none; display: block;">
    <span class="lh-1 font-size-16">
     <div>
      <span class="lh-1 font-size-16" style="">
       How to contact us
      </span>
     </div>
    </span>
      </h4>
      <div class="dmNewParagraph" data-dmtmpl="true" id="1048753436" data-uialign="center" no_space_e="true" style="line-height:initial;" data-version="5">
        <p no_space_b="true" no_space_e="true">
     <span style="display: initial;" no_space_b="true" no_space_e="true">
      If you have questions about the Site or information we collect, contact us at riveroflife2149@gmail.com.
      <br/>
     </span>
        </p>
        <p no_space_b="true" no_space_e="true">
     <span class="font-size-15" style="color: rgb(255, 8, 76); display: unset; --darkreader-inline-color: #ff1f5d;" data-darkreader-inline-color="" no_space_b="true" no_space_e="true">
      <br/>
     </span>
        </p>
        <p class="size-15" no_space_b="true" no_space_e="true">
     <span class="font-size-15" style="color: rgb(232, 230, 227); display: initial; --darkreader-inline-color: #d8d4cf;" data-darkreader-inline-color="" no_space_b="true" no_space_e="true">
      Last Modified: 01/31/2024
     </span>
        </p>
      </div>
    </div>
  </div>
</div>
