<main id="sp-content">
  <section class="sp-section sp-scheme-3" data-header="true" data-index="30" data-scheme="3" data-header="true">
    <div class="sp-section-slide" data-background-gradient="linear-gradient(160deg, rgb(0, 147, 233) 0%, rgb(128, 208, 199) 100%)" data-label="Main">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-subsplash_events-block " data-type="subsplash_events" data-id="21" style>
            <div class="sp-block-content" style>
              <div class="sp-subsplash-holder" data-source="x9bxpr9" data-title="Churchwide Events">
                <script id="subsplash-embed-x9bxpr9" type="5e6c21317e1d8ca8f28b6d09-text/javascript">
                  var target = document.getElementById("subsplash-embed-x9bxpr9");var script = document.createElement("script");script.type = "text/javascript";script.onload = function() {subsplashEmbed("+5cbf/lb/ca/+x9bxpr9?embed&branding", "https://subsplash.com/", "subsplash-embed-x9bxpr9");};script.src = "https://dashboard.static.subsplash.com/production/web-client/external/embed-1.1.0.js";target.parentElement.insertBefore(script, target);
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
