<main id="sp-content">
  <section class="sp-section sp-scheme-1" style="padding-top: 349px;">
    <div class="sp-section-backgrounds">
      <div class="sp-section-background parallax" data-darkreader-inline-bgcolor=""
           data-darkreader-inline-color=""
           data-type="image"
           style="background-position: 50% 50%; background-repeat: no-repeat; background-origin: initial; background-clip: initial; background-color: initial; background-size: cover; background-attachment: fixed; color: rgba(76, 87, 88, 0.62); left: 0%; --darkreader-inline-bgcolor: initial; --darkreader-inline-color: rgba(180, 174, 164, 0.62);">
        <div class="parallax-mirror"
             style="visibility: visible; z-index: 0; position: fixed; top: 0px; left: 0px; overflow: hidden; transform: translate3d(0px, -152px, 0px); height: 719px; width: 1098px;">
          <img class="parallax-slider"
               src="https://storage2.snappages.site/KHGFVV/assets/images/14184854_3216x2136_2500.jpg"
               style="transform: translate3d(0px, 0px, 0px); position: absolute; top: 82.6px; left: 0px; height: 729px; width: 1098px; max-width: none;">
        </div>
      </div>
    </div>
    <div class="sp-section-slide">
      <div class="sp-section-content" style="padding-top:120px; padding-bottom:120px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h1>MILITARY</h1>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>
                  Our divine calling is to stand in solidarity with our brave service members and their families, ensuring
                  they remain tethered to the divine embrace of God and the fellowship of River of Life Church even
                  amidst the trials of deployment.
                </h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" data-height="30" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              At River of Life, our Military Deployed Support Group stands as a beacon of unity, tirelessly working to
              bridge the physical distance between our deployed heroes and their families through the distribution of
              care packages and regular communication. With each care package, prayerful consideration is given to
              include both practical essentials and spiritual nourishment, fostering strength and resilience in our
              service members.
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" data-height="30" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-image-block"
               style="text-align:center; padding-top:0px; padding-bottom:0px; padding-left:15px; padding-right:15px;"
          >
            <div class="sp-block-content" style="max-width:240px;">
              <div
                class="sp-image-holder"
                style="background-image:url(https://t4.ftcdn.net/jpg/05/10/26/09/240_F_510260998_IXtbqWAWEkzChprfmgAKEzKtqtnNBpqW.jpg);">
                <img
                  alt
                  class="fill"
                  src="https://t4.ftcdn.net/jpg/05/10/26/09/240_F_510260998_IXtbqWAWEkzChprfmgAKEzKtqtnNBpqW.jpg"
                />
                <div class="sp-image-title"></div>
                <div class="sp-image-caption"></div>
              </div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>Meet Our Leader</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-divider-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:100px;">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:600px;">
              Led by the dedicated Shirley Russell, herself a devoted Marine Corps veteran's wife, our group embodies a
              fervent devotion to serving those who serve our nation. With a heart ablaze with love and empathy, Shirley
              leads our efforts in extending the loving arms of our church family to every service member and their
              cherished kin.
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" data-height="30" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>Request a Care Package</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content">
              If you or your loved one is preparing for deployment and calls River of Life Church your spiritual home,
              we warmly invite you to avail yourselves of our care packages. Let us stand with you in prayer and
              provision, ensuring that no member of our military family feels isolated or forgotten during their time
              of service.
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:28px;"></div>
            </div>
          </div>
          <div class="sp-block sp-button-block" style="text-align:center;">
            <div class="sp-block-content">
              <span class="text-reset">
                <a
                  class="sp-button"
                  data-label="Request now"
                  href="https://riveroflife-jax.ccbchurch.com/goto/forms/13/responses/new"
                  target="_blank"
                >
                  Request now
                </a>
              </span>
            </div>
          </div>
          <div class="sp-block sp-divider-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:100px;">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-1">
    <div class="sp-section-backgrounds">
      <div class="sp-section-background" data-darkreader-inline-bgimage=""
           data-style="background-image:linear-gradient(90deg, rgb(22, 34, 42) 0%, rgb(58, 96, 115) 100%);"
           data-type="gradient"
           style="background-image: linear-gradient(90deg, rgb(22, 34, 42) 0%, rgb(58, 96, 115) 100%); left: 0%; --darkreader-inline-bgimage: linear-gradient(90deg, #121b22 0%, #2e4d5c 100%);"></div>
    </div>
    <div class="sp-section-slide">
      <div class="sp-section-content" style="padding-top:150px; padding-bottom:150px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:600px;">
              <span>
                <h2>Questions?</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-spacer-block sp-hide-mobile">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:25px;"></div>
            </div>
          </div>
          <div class="sp-block sp-button-block" style="text-align:center;">
            <div class="sp-block-content">
              <span class="text-reset">
                <a
                  class="sp-button"
                  href="/contact"
                  target="_self"
                >
                  Contact Us
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
