<main id="sp-content">
  <section class="sp-section sp-scheme-1">
    <div class="sp-section-slide">
      <div class="sp-section-content" style="padding-top:120px; padding-bottom:120px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h1>MILITARY</h1>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>
                  Our mission is to serve the service members and their families by keeping them connected to God and
                  the church at ROL while they are serving our country during deployment.
                </h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" data-height="30" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              Our <b>Military Deployed Support Group</b> is united in connecting our Military service members and their
              families to the body here at ROL through the sharing of care packages for the deployed family member and
              phone calls, texts and quarterly meetings with spouses. The ministry is geared to ROL service members and
              their families. If you are a service member or spouse of a service member, let us help you stay connected
              with the body here at ROL.
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" data-height="30" style="height:30px;"></div>
            </div>
          </div>
          <div
            class="sp-block sp-image-block"
            style="text-align:center; padding-top:0px; padding-bottom:0px; padding-left:15px; padding-right:15px;"
          >
            <div class="sp-block-content" style="max-width:240px;">
              <div
                class="sp-image-holder"
                style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/14184915_4160x6240_500.jpeg);">
                <img
                  src="https://storage2.snappages.site/KHGFVV/assets/images/14184915_4160x6240_500.jpeg"
                  class="fill"
                  alt
                />
                <div class="sp-image-title"></div>
                <div class="sp-image-caption"></div>
              </div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>Meet Our Leader</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-divider-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:100px;">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:600px;">
              <b>Shirley Russell</b> heads up our Military Deployed Support Group. She is a Marine Corps veteran's wife
              and has a passion for our service members and their families.
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" data-height="30" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>Request a Care Package</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content">
              If your spouse or loved one is deploying and you are a part of River of Life Church, you can request that
              monthly care packages are sent to your service member. These packages include practical items along with
              items for their spiritual growth.
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:28px;"></div>
            </div>
          </div>
          <div class="sp-block sp-button-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <a
                  class="sp-button"
                  href="https://riveroflife-jax.ccbchurch.com/goto/forms/13/responses/new"
                  target="_blank"
                  data-label="Request now"
                >
                  Request now
                </a>
              </span>
            </div>
          </div>
          <div class="sp-block sp-divider-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:100px;">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-1">
    <div class="sp-section-slide">
      <div class="sp-section-content" style="padding-top:150px; padding-bottom:150px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:600px;">
              <span>
                <h2>Questions?</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-spacer-block sp-hide-mobile">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:25px;"></div>
            </div>
          </div>
          <div class="sp-block sp-button-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <a
                  class="sp-button"
                  href="/contact"
                  target="_self"
                >
                  Contact Us
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
