<main id="sp-content">
  <section class="sp-section sp-scheme-1" id="MV-who_we_are">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <span class="h1">
                <h1>Mission Vision</h1>
              </span>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <span class="h2">
                <h2>Who We Are + What We Believe</h2>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0" id="MV-page_content">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-row">
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-heading-block" style="text-align:center;">
                <div class="sp-block-content" style>
                  <span class="h2">
                    <h2>The Mission</h2>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-divider-block" style="text-align:center; padding-top:0px; padding-bottom:0px;">
                <div class="sp-block-content" style="max-width:100px;">
                  <div class="sp-divider-holder"></div>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:400px;">
                  The mission of River of Life Church is the same mission Jesus gave his followers: Go therefore and
                  make disciples of all nations, baptizing them in the name of the Father, Son, and Holy Spirit.
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-heading-block" style="text-align:center;">
                <div class="sp-block-content" style>
                  <span class="h2">
                    <h2>The Vision</h2>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-divider-block" style="text-align:center; padding-top:0px; padding-bottom:0px;">
                <div class="sp-block-content" style="max-width:110px;">
                  <div class="sp-divider-holder"></div>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:400px;">
                  The vision of River of Life Church is to create a community of authentic believers and to witness a
                  city transformed by the life changing reality of the gospel, as people come to know Jesus as their
                  Lord and Savior.
                </div>
              </div>
            </div>
          </div>
          <div class="sp-block sp-divider-block " data-type="divider" data-id="191" style="text-align:center;">
            <div class="sp-block-content" style>
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center; padding-top:0px; padding-bottom:0px;">
            <div class="sp-block-content" style>
              <span class="h2">
                <h2>Our Core Beliefs</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <span class="h3" data-color="@color2">
                <h3>Get to know more about what we believe.</h3>
              </span>
            </div>
          </div>
          <div class="sp-block sp-divider-block" style="text-align:center; padding-top:0px; padding-bottom:0px;">
            <div class="sp-block-content" style="max-width:100px;">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style>
              The following are the core beliefs of River of Life Church based on the foundational truths taught in the
              Bible. All of our teaching and ministry is rooted in and flows out of these biblical doctrines.
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center; padding-top:0px; padding-bottom:0px;">
            <div class="sp-block-content" style>
              <span class="h2">
                <h2>God</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              There is one eternally existing God who has three distinct persons: God the Father, God the Son, and God
              the Holy Spirit. He is the creator of all that exists, both visible and invisible, and is therefore worthy
              of all glory and praise. God is perfect in love, power, holiness, goodness, knowledge, wisdom, justice,
              and mercy. He is unchangeable and therefore is the same yesterday, today, and tomorrow.
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <span class="h2">
                <h2>Revelation</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              God has revealed himself to us through his son, Jesus Christ, who is the visible image of the invisible
              God, the holy scriptures, and through all of creation itself.
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <div class="spacer-holder" data-height="30" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <span class="h2">
                <h2>Mankind</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              Humans, both male and female, were created in God's image for His glory. The first humans, Adam and Eve,
              were created without sin and appointed as caretakers of the rest of God's creations.
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <span class="h2">
                <h2>The Fall</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              When Adam and Eve chose not to obey God, they ceased to be what they were made to be and became distorted
              images of God. This caused them to fall out of fellowship with God, and fractured all of creation ever
              since that time.
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <div class="spacer-holder" data-height="30" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <span class="h2">
                <h2>Salvation</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              Jesus Christ came to reconcile us with God. He lived a life without sin and willingly died on the cross
              to pay the penalty for our transgressions. God raised him from the dead and now, by grace, offers as a
              free gift eternal life to all who follow Christ, by faith, as their Lord and Savior. That is why salvation
              can be found in Christ alone.
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <span class="h2">
                <h2>The Church</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              The Church is meant to be the visible body of Christ, sent into the world to glorify God and proclaim the
              gospel of Jesus Christ.
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <span class="h2">
                <h2>Resurrection</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              Jesus Christ is returning one day to judge both the living and the dead and to usher in the fullness of
              God's kingdom on earth.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-2" id="MV-connect_with_us">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              <span class="h2">
                <h2>Connect with us.</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-heading-block " style="text-align:center; padding-top:25px; padding-bottom:25px;">
            <div class="sp-block-content" style="max-width:800px;">
              <span class="h3">
                <h3>We'd love to hear from you. Fill out the form below to get started.</h3>
              </span>
            </div>
          </div>
          <div class="sp-block sp-form-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              <div class="form-holder">
                <form class="sp-form">
                  <div class="sp-fieldset">
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        First Name
                      </label>
                      <div class="sp-field-wrapper">
                        <input type="text" class="sp-field"/>
                      </div>
                    </div>
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        Last Name
                      </label>
                      <div class="sp-field-wrapper">
                        <input type="text" class="sp-field"/>
                      </div>
                    </div>
                  </div>
                  <div class="sp-fieldset">
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        Email
                      </label>
                      <div class="sp-field-wrapper">
                        <input type="text" class="sp-field icon"/>
                        <i class="fa fa-envelope-o"></i>
                      </div>
                    </div>
                  </div>
                  <div class="sp-fieldset">
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        Message
                      </label>
                      <div class="sp-field-wrapper">
                        <textarea class="sp-field"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="button-holder" style="text-align:left;">
                    <span class="text-reset">
                      <a class="sp-button fill">
                        Contact Us
                      </a>
                    </span>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
