<main id="sp-content">
  <section class="sp-section sp-scheme-1" id="MV-who_we_are">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <span class="h1">
                <h1>Mission Vision</h1>
              </span>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <span class="h2">
                <h2>Who We Are + What We Believe</h2>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0" id="MV-page_content">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-row">
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-heading-block" style="text-align:center;">
                <div class="sp-block-content" style>
                  <span class="h2">
                    <h2>The Great Commission</h2>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-divider-block" style="text-align:center; padding-top:0px; padding-bottom:0px;">
                <div class="sp-block-content" style="max-width:100px;">
                  <div class="sp-divider-holder"></div>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:400px;">
                  River of Life Church embraces the divine mandate bestowed upon us by Jesus Himself: "Go therefore and
                  make disciples of all nations, baptizing them in the name of the Father, Son, and Holy Spirit."
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-heading-block" style="text-align:center;">
                <div class="sp-block-content" style>
                  <span class="h2">
                    <h2>The Prophetic Vision</h2>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-divider-block" style="text-align:center; padding-top:0px; padding-bottom:0px;">
                <div class="sp-block-content" style="max-width:110px;">
                  <div class="sp-divider-holder"></div>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:400px;">
                  River of Life Church envisions a dynamic community of fervent believers, contributing to the
                  transformation of our city through the profound impact of the gospel. We long to witness a city
                  awakened as individuals encounter Jesus, embracing Him as their Lord and Savior.
                </div>
              </div>
            </div>
          </div>
          <div class="sp-block sp-divider-block " data-type="divider" data-id="191" style="text-align:center;">
            <div class="sp-block-content" style>
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center; padding-top:0px; padding-bottom:0px;">
            <div class="sp-block-content" style>
              <span class="h2">
                <h2>Our Fundamental Convictions</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <span class="h3" data-color="@color2">
                <h3>Discover the bedrock of our faith.</h3>
              </span>
            </div>
          </div>
          <div class="sp-block sp-divider-block" style="text-align:center; padding-top:0px; padding-bottom:0px;">
            <div class="sp-block-content" style="max-width:100px;">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style>
              River of Life Church holds unwavering convictions grounded in the timeless truths revealed in the Bible.
              All our teachings and ministries spring forth from these sacred doctrines.
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center; padding-top:0px; padding-bottom:0px;">
            <div class="sp-block-content" style>
              <span class="h2">
                <h2>The Divine Trinity</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              There exists one eternal God, manifest in three distinct persons: God the Father, God the Son, and God the
              Holy Spirit. He stands as the architect of all that is seen and unseen, deserving of boundless glory and
              praise. God, in His perfection, embodies love, power, holiness, goodness, knowledge, wisdom, justice, and
              mercy. Immutable, He remains the same yesterday, today, and forever.
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <span class="h2">
                <h2>Divine Revelation</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              God has unveiled Himself through His son, Jesus Christ, the visible manifestation of the unseen God, the
              holy scriptures, and the entirety of creation.
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <div class="spacer-holder" data-height="30" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <span class="h2">
                <h2>Humanity's Sacred Design</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              Both man and woman were fashioned in the divine image for God's glorification. The first humans, Adam and
              Eve, were created untarnished and entrusted with the stewardship of God's magnificent creations.
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <span class="h2">
                <h2>The Human Deviation</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              Yet, when Adam and Eve veered from obedience to God, they deviated from their intended nature, distorting
              the divine image within. This separation led to a rupture in communion with God, casting a shadow over all
              of creation from that moment onward.
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <div class="spacer-holder" data-height="30" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <span class="h2">
                <h2>Redemptive Salvation</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              Jesus Christ emerged to restore our connection with God. Living a sinless life, He willingly bore the
              weight of our transgressions on the cross. God resurrected Him, extending, by grace, the priceless gift of
              eternal life to all who, through faith, make Christ their Lord and Savior. Salvation, therefore, is
              exclusively found in Christ.
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <span class="h2">
                <h2>The Ekklesia</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              The Church stands as the visible embodiment of Christ, commissioned to glorify God and proclaim the gospel
              of Jesus Christ to the world.
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <span class="h2">
                <h2>The Imminent Resurrection</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              Anticipating the return of Jesus Christ, we affirm His impending judgment upon the living and the departed,
              heralding the consummation of God's kingdom on earth.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-2" id="MV-connect_with_us">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              <span class="h2">
                <h2>Connect with us.</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-heading-block " style="text-align:center; padding-top:25px; padding-bottom:25px;">
            <div class="sp-block-content" style="max-width:800px;">
              <span class="h3">
                <h3>We'd love to hear from you. Fill out the form below to get started.</h3>
              </span>
            </div>
          </div>
          <div class="sp-block sp-form-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              <div class="form-holder">
                <form class="sp-form">
                  <div class="sp-fieldset">
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        First Name
                      </label>
                      <div class="sp-field-wrapper">
                        <input type="text" class="sp-field"/>
                      </div>
                    </div>
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        Last Name
                      </label>
                      <div class="sp-field-wrapper">
                        <input type="text" class="sp-field"/>
                      </div>
                    </div>
                  </div>
                  <div class="sp-fieldset">
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        Email
                      </label>
                      <div class="sp-field-wrapper">
                        <input type="text" class="sp-field icon"/>
                        <i class="fa fa-envelope-o"></i>
                      </div>
                    </div>
                  </div>
                  <div class="sp-fieldset">
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        Message
                      </label>
                      <div class="sp-field-wrapper">
                        <textarea class="sp-field"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="button-holder" style="text-align:left;">
                    <span class="text-reset">
                      <a class="sp-button fill">
                        Contact Us
                      </a>
                    </span>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
