<main id="sp-content">
  <section class="sp-section sp-scheme-1" data-header="true" data-index data-scheme="1" data-header="true">
    <div class="sp-section-slide" data-background="%7B%22type%22%3A%22image%22%2C%22src%22%3A%22https%3A%5C%2F%5C%2Fstorage2.snappages.site%5C%2FKHGFVV%5C%2Fassets%5C%2Fimages%5C%2F13725768_5184x3456_2500.jpg%22%2C%22size%22%3A%22cover%22%2C%22position%22%3A%2250%25+50%25%22%2C%22repeat%22%3A%22no-repeat%22%2C%22attachment%22%3A%22parallax%22%7D" data-label="Main">
      <div class="sp-section-content" style="padding-top:120px;padding-bottom:120px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block " data-type="heading" data-id="b31a6b1d-1874-46b0-a63d-ba739ceea100" style="text-align:center;">
            <div class="sp-block-content" style>
                                        <span class="h1" data-size="9em">
                                            <h1 style="font-size:9em;">
                                                <b>RIVER GROUPS</b>
                                            </h1>
                                        </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0" data-index data-scheme="0">
    <div class="sp-section-slide" data-label="Main">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-text-block " data-type="text" data-id="82b086bf-3223-4f46-9f46-9191f95d60d6" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              <b>
                <br>
                River Groups are focused on growth for the entire family. We want young and old, male and female, single and married to all come together in the name of Jesus. This inclusiveness is important - older people have something to offer younger people and vice-versa. Married couples can model godly relationships for those who are single. Parents can encourage one another and so on.<br>
                <br>
                River Groups meetings take place in homes all across our area.<br>
                <br>
                We have three types of River Groups:<br>
                <br>
                Home Groups<br>Women's Groups
              </b>
              <br>
              <b>Men's Bible Study</b>
            </div>
          </div>
          <div class="sp-block sp-heading-block " data-type="heading" data-id="a56b4150-5031-41fd-89d8-99609c73bac6" style="text-align:center;">
            <div class="sp-block-content" style>
                                        <span class="h3">
                                            <h3>Groups meet from February - November 2024</h3>
                                        </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0" data-index data-scheme="0">
    <div class="sp-section-slide" data-label="Main">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-row">
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-image-block " data-type="image" data-id="f9e04772-072b-46d1-9df9-39e589b48309" style="padding-top:15px;padding-bottom:15px;">
                <div class="sp-block-content" style>
                  <div class="sp-image-holder" style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/13725495_1984x2820_500.jpeg);" data-source="KHGFVV/assets/images/13725495_1984x2820_2500.jpeg" data-zoom="false" data-fill="true" data-ratio="four-three" data-shadow="soft">
                    <img src="https://storage2.snappages.site/KHGFVV/assets/images/13725495_1984x2820_500.jpeg" class="fill" alt/>
                    <div class="sp-image-title"></div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
              <div class="sp-block sp-spacer-block " data-type="spacer" data-id="652390a5-40a3-46aa-879f-ba2f5ceaa3c8" style="text-align:start;">
                <div class="sp-block-content" style>
                  <div class="spacer-holder" data-height="20" style="height:20px;"></div>
                </div>
              </div>
              <div class="sp-block sp-heading-block " data-type="heading" data-id="1254034d-9669-4d2c-b1fe-b95220e69a48" style="text-align:center;padding-top:0px;padding-bottom:0px;">
                <div class="sp-block-content" style>
                                                <span class="h2">
                                                    <h2>Home Groups</h2>
                                                </span>
                </div>
              </div>
              <div class="sp-block sp-text-block " data-type="text" data-id="9301b5e3-b88f-4edb-9705-ca866eca0588" style="text-align:center;">
                <div class="sp-block-content" style="max-width:800px;">
                  Home Groups are a great way to build godly friendships and to grow in your faith. Home Groups are for everyone: &nbsp;no matter how young or old, whether married or single, families with children and empty nesters, new to the faith and mature believers.<br>
                  <br>Home Groups include portions of ROL sermons which provide the opportunity to apply messages in a deep and personal way. Home Groups are a critical way that ROL stays small while getting bigger, and that help us take more ground for the Kingdom of Heaven.
                </div>
              </div>
              <div class="sp-block sp-button-block " data-type="button" data-id="6131a163-6247-4e93-bcff-b35ae92e04e3" style="text-align:center;">
                <div class="sp-block-content" style>
                                                <span class="text-reset">
                                                    <a class="sp-button" href="/home-groups" target="_self" data-label="sign up for a home group" style>sign up for a home group</a>
                                                </span>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-image-block " data-type="image" data-id="da74f900-6e4a-46a3-abff-a2974562f2a7" style>
                <div class="sp-block-content" style>
                  <div class="sp-image-holder" style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/13725475_2474x1979_500.jpeg);" data-source="KHGFVV/assets/images/13725475_2474x1979_2500.jpeg" data-zoom="false" data-fill="true" data-ratio="four-three" data-shadow="soft">
                    <img src="https://storage2.snappages.site/KHGFVV/assets/images/13725475_2474x1979_500.jpeg" class="fill" alt/>
                    <div class="sp-image-title"></div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
              <div class="sp-block sp-spacer-block " data-type="spacer" data-id="25428125-b52c-4766-a322-4c6d28eb0b6d" style="text-align:start;">
                <div class="sp-block-content" style>
                  <div class="spacer-holder" data-height="20" style="height:20px;"></div>
                </div>
              </div>
              <div class="sp-block sp-heading-block " data-type="heading" data-id="16b25eea-ecad-4713-bf5d-c0f2cce4b766" style="text-align:center;">
                <div class="sp-block-content" style>
                                                <span class="h2">
                                                    <h2>Women's Groups</h2>
                                                </span>
                </div>
              </div>
              <div class="sp-block sp-text-block " data-type="text" data-id="76d6438a-69c0-4f29-a6b8-0d41dbce7d06" style="text-align:center;">
                <div class="sp-block-content" style="max-width:800px;">Women's Groups are designed with YOU in mind. &nbsp;These groups are hosted by women from River of Life Church and meet all over the city of Jacksonville and surrounding areas. &nbsp;From Bible studies to outreach opportunities, we have groups available for a wide variety of ages and interests. &nbsp;There's sure to be a group that you'll love!</div>
              </div>
              <div class="sp-block sp-button-block " data-type="button" data-id="7243ba80-e521-4c97-9802-ce815e3eb0c4" style="text-align:center;">
                <div class="sp-block-content" style>
                                                <span class="text-reset">
                                                    <a class="sp-button" href="/womens-groups" target="_self" data-label="sign up for a women's group" style>sign up for a women's group</a>
                                                </span>
                </div>
              </div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block " data-type="spacer" data-id="481abd16-fc59-4169-afc6-6df1d4d8e8be" style="text-align:center;">
            <div class="sp-block-content" style>
              <div class="spacer-holder" data-height="30" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-divider-block " data-type="divider" data-id="44bf6d0f-2c3a-4a8f-9328-b7ed56335ce2" style="text-align:center;">
            <div class="sp-block-content" style>
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-block sp-button-block " data-type="button" data-id="309d0139-eb31-4b49-8e64-665a597abc94" style="text-align:center;">
            <div class="sp-block-content" style>
                                        <span class="text-reset">
                                            <a class="sp-button" href="/men" target="_self" data-label="Learn More About Men's Bible Study" style>Learn More About Men's Bible Study</a>
                                        </span>
            </div>
          </div>
          <div class="sp-block sp-divider-block " data-type="divider" data-id="10d50646-2a00-48cb-9c39-c1344c272c9a" style="text-align:center;">
            <div class="sp-block-content" style>
              <div class="sp-divider-holder"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-1" data-index data-scheme="1">
    <div class="sp-section-slide" data-background-gradient="linear-gradient(90deg, rgb(22, 34, 42) 0%, rgb(58, 96, 115) 100%)" data-label="Main">
      <div class="sp-section-content" style="padding-top:150px;padding-bottom:150px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block " data-type="heading" data-id="7ca55185-ed1e-420c-ac75-55ccb194f67a" style="text-align:center;">
            <div class="sp-block-content" style="max-width:600px;">
                                        <span class="h1" data-size="6em">
                                            <h1 style="font-size:6em;">Would you like to lead a group?</h1>
                                        </span>
            </div>
          </div>
          <div class="sp-block sp-spacer-block  sp-hide-mobile" data-type="spacer" data-id="4f4e4677-e1c9-491e-80ab-6b3aef0963be" style>
            <div class="sp-block-content" style>
              <div class="spacer-holder" data-height="25" style="height:25px;"></div>
            </div>
          </div>
          <div class="sp-row">
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-button-block " data-type="button" data-id="30730c9d-f496-47cc-b421-d164c076951d" style="text-align:right;">
                <div class="sp-block-content" style>
                                                <span class="text-reset">
                                                    <a class="sp-button" href="https://riveroflife-jax.ccbchurch.com/goto/forms/310/responses/new" target="_blank" data-label="Sign up to lead a home group" style>Sign up to lead a home group</a>
                                                </span>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-button-block " data-type="button" data-id="08978613-6bd8-464b-81d8-96a26303435b" style="text-align:left;">
                <div class="sp-block-content" style>
                                                <span class="text-reset">
                                                    <a class="sp-button" href="https://riveroflife-jax.ccbchurch.com/goto/forms/270/responses/new" target="_blank" data-label="Sign up to lead a women's group" style>Sign up to lead a women's group</a>
                                                </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
