<main id="sp-content">
  <section class="sp-section sp-scheme-1" style="padding-top: 349px;">
    <div class="sp-section-backgrounds">
      <div class="sp-section-background parallax" data-darkreader-inline-bgcolor=""
           data-style="background: URL(https://storage2.snappages.site/KHGFVV/assets/images/13725768_5184x3456_2500.jpg) 50%+50% no-repeat;background-size:cover;background-attachment:fixed;"
           data-type="image"
           style="background-position: 50% 50%; background-repeat: no-repeat; background-origin: initial; background-clip: initial; background-color: initial; background-size: cover; background-attachment: fixed; left: 0%; --darkreader-inline-bgcolor: initial;">
        <div class="parallax-mirror"
             style="visibility: visible; z-index: 0; position: fixed; top: 0px; left: 0px; overflow: hidden; transform: translate3d(0px, 48px, 0px); height: 689px; width: 1122px;">
          <img class="parallax-slider"
               src="https://storage2.snappages.site/KHGFVV/assets/images/13725768_5184x3456_2500.jpg"
               style="transform: translate3d(0px, 0px, 0px); position: absolute; top: -90.4px; left: 0px; height: 748px; width: 1122px; max-width: none;">
        </div>
      </div>
    </div>
    <div class="sp-section-slide">
      <div class="sp-section-content" style="padding-top:120px; padding-bottom:120px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block " style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h1>
                  <b>RIVER GROUPS</b>
                </h1>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              <b>
                <br>
                River Fellowships are gatherings dedicated to holistic growth for every member of the family. We eagerly
                welcome individuals of all ages, genders, marital statuses, and backgrounds to unite under the banner of
                Jesus. This inclusivity is paramount, as it fosters mutual enrichment between the seasoned and the
                youthful, the married and the single. Married couples exemplify godly unions for singles, while parents
                uplift and support one another in their journeys.
                <br><br>
                River Fellowship meetings are hosted in homes scattered throughout our community.
                <br><br>
                We offer three distinct types of River Fellowships:
                <br><br>
                Household Fellowships
                <br>
                Sisters' Circles
                <br>
                Brothers' Bible Studies
              </b>
              <br>
              <b>Men's Bible Study</b>
            </div>
          </div>
          <div class="sp-block sp-heading-block " style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h3>Fellowships convene from February to November 2024</h3>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-row">
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-image-block " style="padding-top:15px; padding-bottom:15px;">
                <div class="sp-block-content">
                  <div
                    class="sp-image-holder"
                    data-ratio="four-three"
                    data-shadow="soft"
                    style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/13725495_1984x2820_500.jpeg);"
                  >
                    <img
                      alt
                      class="fill"
                      src="https://storage2.snappages.site/KHGFVV/assets/images/13725495_1984x2820_500.jpeg"
                    />
                    <div class="sp-image-title"></div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
              <div class="sp-block sp-spacer-block " style="text-align:start;">
                <div class="sp-block-content">
                  <div class="spacer-holder" style="height:20px;"></div>
                </div>
              </div>
              <div class="sp-block sp-heading-block"
                   style="text-align:center; padding-top:0px; padding-bottom:0px;"
              >
                <div class="sp-block-content">
                  <span>
                    <h2>Household Fellowships</h2>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:800px;">
                  Household Fellowships serve as vibrant hubs for nurturing spiritual bonds and deepening faith. They
                  cater to all, regardless of age, marital status, family structure, or spiritual maturity. These
                  gatherings integrate segments from River of Life sermons, enabling participants to engage with
                  messages
                  on a profound and personal level. Household Fellowships play a pivotal role in preserving the intimacy
                  of our community as we expand, empowering us to advance the Kingdom of Heaven.
                  <br><br>
                  Join a Household Fellowship today to embark on a journey of spiritual growth and fellowship.
                </div>
              </div>
              <div class="sp-block sp-button-block " style="text-align:center;">
                <div class="sp-block-content">
                  <span class="text-reset">
                    <a
                      class="sp-button"
                      href="/home-groups"
                      target="_self"
                    >
                      sign up for a home group
                    </a>
                  </span>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-image-block " style>
                <div class="sp-block-content">
                  <div
                    class="sp-image-holder"
                    data-ratio="four-three"
                    data-shadow="soft"
                    style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/13725475_2474x1979_500.jpeg);"
                  >
                    <img
                      alt
                      class="fill"
                      src="https://storage2.snappages.site/KHGFVV/assets/images/13725475_2474x1979_500.jpeg"
                    />
                    <div class="sp-image-title"></div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
              <div class="sp-block sp-spacer-block " style="text-align:start;">
                <div class="sp-block-content">
                  <div class="spacer-holder" style="height:20px;"></div>
                </div>
              </div>
              <div class="sp-block sp-heading-block " style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <h2>Sisters' Circles</h2>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:800px;">
                  Sisters' Circles are tailor-made for women like you. Hosted by devoted women from River of Life
                  Church,
                  these groups convene across Jacksonville and its environs. From enriching Bible studies to impactful
                  outreach endeavors, our diverse range of Sisters' Circles caters to various age groups and interests.
                  There's undoubtedly a circle that resonates with your heart and soul.
                </div>
              </div>
              <div class="sp-block sp-button-block " style="text-align:center;">
                <div class="sp-block-content">
                  <span class="text-reset">
                    <a
                      class="sp-button"
                      href="/womens-groups"
                      target="_self"
                    >
                      sign up for a women's group
                    </a>
                  </span>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-image-block " style>
                <div class="sp-block-content">
                  <div
                    class="sp-image-holder"
                    data-ratio="four-three"
                    data-shadow="soft"
                    style="background-image:url(https://as1.ftcdn.net/v2/jpg/03/15/22/52/1000_F_315225268_pZ8TK02JABNZM63XyqfAzvJpCB4MRtz6.jpg);"
                  >
                    <img
                      alt
                      class="fill"
                      src="https://storage2.snappages.site/KHGFVV/assets/images/13725475_2474x1979_500.jpeg"
                    />
                    <div class="sp-image-title"></div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
              <div class="sp-block sp-spacer-block " style="text-align:start;">
                <div class="sp-block-content">
                  <div class="spacer-holder" style="height:20px;"></div>
                </div>
              </div>
              <div class="sp-block sp-heading-block " style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <h2>Brothers' Bible Studies</h2>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:800px;">
                  Brothers' Bible Studies offer a sacred space for men to delve into the depths of God's Word and grow
                  in spiritual maturity. Led by dedicated brothers from River of Life Church, these studies are held at
                  various locations in Jacksonville and neighboring areas. Whether you're seeking to deepen your
                  understanding of Scripture, build meaningful relationships with other men of faith, or explore
                  practical applications of biblical principles in everyday life, our Brothers' Bible Studies provide a
                  supportive and enriching environment. Join a Brothers' Bible Study today and embark on a
                  transformative
                  journey of spiritual growth and fellowship.
                </div>
              </div>
              <div class="sp-block sp-button-block " style="text-align:center;">
                <div class="sp-block-content">
                  <span class="text-reset">
                    <a
                      class="sp-button"
                      href="/mens-groups"
                      target="_self"
                    >
                      sign up for a men's group
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block " style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-divider-block " style="text-align:center;">
            <div class="sp-block-content">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-block sp-button-block " style="text-align:center;">
            <div class="sp-block-content">
              <span class="text-reset">
                <a
                  class="sp-button"
                  href="/men"
                  target="_self"
                >
                  Learn More About Men's Bible Study
                </a>
              </span>
            </div>
          </div>
          <div class="sp-block sp-divider-block " style="text-align:center;">
            <div class="sp-block-content">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-1">
    <div class="sp-section-backgrounds">
      <div class="sp-section-background" data-darkreader-inline-bgimage=""
           data-style="background-image:linear-gradient(90deg, rgb(22, 34, 42) 0%, rgb(58, 96, 115) 100%);"
           data-type="gradient"
           style="background-image: linear-gradient(90deg, rgb(22, 34, 42) 0%, rgb(58, 96, 115) 100%); left: 0%; --darkreader-inline-bgimage: linear-gradient(90deg, #121b22 0%, #2e4d5c 100%);"></div>
    </div>
    <div class="sp-section-slide">
      <div class="sp-section-content" style="padding-top:150px; padding-bottom:150px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:600px;">
              <span>
                <h1>Would you like to lead a group?</h1>
              </span>
            </div>
          </div>
          <div class="sp-block sp-spacer-block sp-hide-mobile">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:25px;"></div>
            </div>
          </div>
          <div class="sp-row">
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-button-block" style="text-align:right;">
                <div class="sp-block-content">
                  <span class="text-reset">
                    <a
                      class="sp-button"
                      href="https://riveroflife-jax.ccbchurch.com/goto/forms/310/responses/new"
                      target="_blank"
                    >
                      Sign up to lead a home group
                    </a>
                  </span>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-button-block " style="text-align:left;">
                <div class="sp-block-content">
                  <span class="text-reset">
                    <a
                      class="sp-button"
                      href="https://riveroflife-jax.ccbchurch.com/goto/forms/270/responses/new"
                      target="_blank"
                    >
                      Sign up to lead a women's group
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
