body {
  font-family: 'Lato', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 1em 0;
}

.header h1 {
  margin: 0;
}

/* Bootstrap navbar styles */
.navbar {
  /*background-color: #444;*/
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

/* Responsive adjustments for the navigation bar */
@media only screen and (max-width: 600px) {
  .navbar-toggler {
    color: #fff;
    border-color: #fff;
  }

  .navbar-collapse {
    background-color: #444;
  }
}

.main-content {
  padding: 2em 0;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 1em 0;
  text-align: center;
}

.sp-mobile-nav-wrapper.open {
  /* Add your styling for the open state */
  /* For example: */
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}


.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Optional: Style adjustments for the content on top of the video */
.sp-section-content {
  position: relative;
  z-index: 1;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.mat-sidenav-container {
  height: 100%;
}

.example-container {
  margin-top: 64px; /* Adjust based on your toolbar height */
}

.sp-image-grid-item {
  position: relative;
}

.sp-image-grid-item audio {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .sp-image-grid-item {
    background-size: cover;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar .nav-item {
    margin: 0;
    padding: 0.5rem 1rem;
  }
}
