<!--<div class="sp-mobile-nav-wrapper">-->
<div class="sp-nav-links">
  <div class="sp-nav-close-button"></div>
<!--  <div class="sp-mobile-nav">-->
    <ul>
      <!-- Your list items go here -->
      <li [routerLinkActiveOptions]="{exact: true}" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/">
          <span></span>
          HOME
        </a>
      </li>
      <li class="nav-item" data-type="folder" routerLinkActive="active">
        <a class="nav-link">
          <span></span>
          ABOUT &nbsp;<i class="fa fa-angle-down" style="font-size:12px; vertical-align:10%;"></i>
        </a>
        <ul class="sp-second-nav">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/about/mission-vision">
              <span></span>
              MISSION + VISION
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/about/our-story">
              <span></span>
              OUR STORY
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/about/leadership">
              <span></span>
              LEADERSHIP
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/about/praise-worship">
              <span></span>
              PRAISE + WORSHIP
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/about/contact">
              <span></span>
              CONTACT
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/live">
          <span></span>
          LIVESTREAM
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/next-steps">
          <span></span>
          NEXT STEPS
        </a>
      </li>
      <li class="nav-item" data-type="folder" routerLinkActive="active">
        <a class="nav-link">
          <span></span>
          GROW &nbsp;<i class="fa fa-angle-down" style="font-size:12px; vertical-align:10%;"></i>
        </a>
        <ul class="sp-second-nav">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/connect/children">
              <span></span>
              CHILDREN
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/connect/growtime">
              <span></span>
              GROW TIME CLASSES
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/connect/marriage">
              <span></span>
              MARRIAGE
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/connect/men">
              <span></span>
              MEN
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/connect/military">
              <span></span>
              MILITARY
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/connect/river-groups">
              <span></span>
              RIVER GROUPS
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/connect/riverwise">
              <span></span>
              RIVER WISE 60+
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/connect/women">
              <span></span>
              WOMEN
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/connect/rolya">
              <span></span>
              YOUNG ADULTS
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/connect/youth">
              <span></span>
              YOUTH
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/events">
          <span></span>
          EVENTS
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/give">
          <span></span>
          GIVE
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/serve">
          <span></span>
          SERVE
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/memberlogin">
          <span></span>
          MEMBER LOGIN
        </a>
      </li>
    </ul>
<!--  </div>-->
</div>

