<nav id="sp-nav-links">
  <ul>
    <li [routerLinkActiveOptions]="{exact: true}" class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/">
        <span></span>
        HOME
      </a>
    </li>
    <li class="nav-item" data-type="folder" routerLinkActive="active">
      <a class="nav-link">
        <span></span>
        ABOUT &nbsp;<i class="fa fa-angle-down" style="font-size:12px; vertical-align:10%;"></i>
      </a>
      <ul class="sp-second-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/about/mission-vision">
            <span></span>
            MISSION + VISION
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/about/our-story">
            <span></span>
            OUR STORY
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/about/leadership">
            <span></span>
            LEADERSHIP
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/about/praise-worship">
            <span></span>
            PRAISE + WORSHIP
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/about/contact">
            <span></span>
            CONTACT
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/live">
        <span></span>
        LIVESTREAM
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/next-steps">
        <span></span>
        NEXT STEPS
      </a>
    </li>
    <li class="nav-item" data-type="folder" routerLinkActive="active">
      <a class="nav-link">
        <span></span>
        GROW &nbsp;<i class="fa fa-angle-down" style="font-size:12px; vertical-align:10%;"></i>
      </a>
      <ul class="sp-second-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/connect/children">
            <span></span>
            CHILDREN
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/connect/growtime">
            <span></span>
            GROW TIME CLASSES
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/connect/marriage">
            <span></span>
            MARRIAGE
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/connect/men">
            <span></span>
            MEN
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/connect/military">
            <span></span>
            MILITARY
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/connect/river-groups">
            <span></span>
            RIVER GROUPS
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/connect/riverwise">
            <span></span>
            RIVER WISE 60+
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/connect/women">
            <span></span>
            WOMEN
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/connect/rolya">
            <span></span>
            YOUNG ADULTS
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/connect/youth">
            <span></span>
            YOUTH
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/events">
        <span></span>
        EVENTS
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/give">
        <span></span>
        GIVE
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/serve">
        <span></span>
        SERVE
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/memberlogin">
        <span></span>
        MEMBER LOGIN
      </a>
    </li>
  </ul>
</nav>


<div class="sp-mobile-nav-wrapper">
  <div class="sp-nav-close-button"></div>
  <div class="sp-mobile-nav">
    <ul>
      <li class="selected" data-type="basic" id="nav_home" style="z-index:1251"><a href="/" target="_self"><span></span>HOME</a>
      </li>
      <li data-type="folder" id="nav_about" style="z-index:1249;"><a href="/about" target="_self"><span></span>ABOUT&nbsp;<i
        class="fa fa-angle-right"
        style="font-size: 1em; vertical-align: 10%; position: absolute; top: 20px; right: 20px;"></i></a>
        <ul class="sp-second-nav">
          <li id="nav_mission-vision"><a href="/mission-vision" target="_self"><span></span>MISSION + VISION</a></li>
          <li id="nav_our-story"><a href="/our-story" target="_self"><span></span>OUR STORY</a></li>
          <li id="nav_leadership"><a href="/leadership" target="_self"><span></span>LEADERSHIP</a></li>
          <li id="nav_bookstore"><a href="/bookstore" target="_self"><span></span>2460 BOOKSTORE</a></li>
          <li id="nav_contact"><a href="/contact" target="_self"><span></span>CONTACT</a></li>
        </ul>
      </li>
      <li data-type="basic" id="nav_live" style="z-index:1248;"><a href="/live"
                                                                   target="_self"><span></span>LIVESTREAM</a></li>
      <li data-type="basic" id="nav_next-steps" style="z-index:1247;"><a href="/next-steps" target="_self"><span></span>NEXT
        STEPS</a></li>
      <li data-type="folder" id="nav_connect" style="z-index:1246;"><a href="/connect" target="_self"><span></span>GROW&nbsp;<i
        class="fa fa-angle-right"
        style="font-size: 1em; vertical-align: 10%; position: absolute; top: 20px; right: 20px;"></i></a>
        <ul class="sp-second-nav">
          <li id="nav_children"><a href="/children" target="_self"><span></span>CHILDREN</a></li>
          <li id="nav_growtime"><a href="/growtime" target="_self"><span></span>GROW TIME CLASSES</a></li>
          <li id="nav_marriage"><a href="/marriage" target="_self"><span></span>MARRIAGE</a></li>
          <li id="nav_men"><a href="/men" target="_self"><span></span>MEN</a></li>
          <li id="nav_military"><a href="/military" target="_self"><span></span>MILITARY</a></li>
          <li id="nav_river-groups"><a href="/river-groups" target="_self"><span></span>RIVER GROUPS</a></li>
          <li id="nav_riverwise"><a href="/riverwise" target="_self"><span></span>RIVER WISE 60+</a></li>
          <li id="nav_women"><a href="/women" target="_self"><span></span>WOMEN</a></li>
          <li id="nav_rolya"><a href="/rolya" target="_self"><span></span>YOUNG ADULTS</a></li>
          <li id="nav_youth"><a href="/youth" target="_self"><span></span>YOUTH</a></li>
        </ul>
      </li>
      <li data-type="basic" id="nav_events" style="z-index:1245;"><a href="/events"
                                                                     target="_self"><span></span>EVENTS</a></li>
      <li data-type="basic" id="nav_give" style="z-index:1244;"><a href="/give" target="_self"><span></span>GIVE</a>
      </li>
      <li data-type="basic" id="nav_serve" style="z-index:1243;"><a href="/serve" target="_self"><span></span>SERVE</a>
      </li>
      <li data-type="basic" id="nav_memberlogin" style="z-index:1242;"><a href="/memberlogin"
                                                                          target="_self"><span></span>MEMBER LOGIN</a>
      </li>
      <li data-type="basic" id="nav_easter" style="z-index:1241;"><a href="/easter"
                                                                     target="_self"><span></span>Easter</a></li>
    </ul>
  </div>
  <div class="sp-mobile-nav sub"></div>
</div>
<div class="sp-mobile-nav-wrapper open">
  <div class="sp-nav-close-button"></div>
  <div class="sp-mobile-nav">
    <ul>
      <li class="selected" data-type="basic" id="nav_home" style="z-index:1251"><a href="/" target="_self"><span></span>HOME</a>
      </li>
      <li data-type="folder" id="nav_about" style="z-index:1249;"><a href="/about" target="_self"><span></span>ABOUT&nbsp;<i
        class="fa fa-angle-right"
        style="font-size: 1em; vertical-align: 10%; position: absolute; top: 20px; right: 20px;"></i></a>
        <ul class="sp-second-nav">
          <li id="nav_mission-vision"><a href="/mission-vision" target="_self"><span></span>MISSION + VISION</a></li>
          <li id="nav_our-story"><a href="/our-story" target="_self"><span></span>OUR STORY</a></li>
          <li id="nav_leadership"><a href="/leadership" target="_self"><span></span>LEADERSHIP</a></li>
          <li id="nav_bookstore"><a href="/bookstore" target="_self"><span></span>2460 BOOKSTORE</a></li>
          <li id="nav_contact"><a href="/contact" target="_self"><span></span>CONTACT</a></li>
        </ul>
      </li>
      <li data-type="basic" id="nav_live" style="z-index:1248;"><a href="/live"
                                                                   target="_self"><span></span>LIVESTREAM</a></li>
      <li data-type="basic" id="nav_next-steps" style="z-index:1247;"><a href="/next-steps" target="_self"><span></span>NEXT
        STEPS</a></li>
      <li data-type="folder" id="nav_connect" style="z-index:1246;"><a href="/connect" target="_self"><span></span>GROW&nbsp;<i
        class="fa fa-angle-right"
        style="font-size: 1em; vertical-align: 10%; position: absolute; top: 20px; right: 20px;"></i></a>
        <ul class="sp-second-nav">
          <li id="nav_children"><a href="/children" target="_self"><span></span>CHILDREN</a></li>
          <li id="nav_growtime"><a href="/growtime" target="_self"><span></span>GROW TIME CLASSES</a></li>
          <li id="nav_marriage"><a href="/marriage" target="_self"><span></span>MARRIAGE</a></li>
          <li id="nav_men"><a href="/men" target="_self"><span></span>MEN</a></li>
          <li id="nav_military"><a href="/military" target="_self"><span></span>MILITARY</a></li>
          <li id="nav_river-groups"><a href="/river-groups" target="_self"><span></span>RIVER GROUPS</a></li>
          <li id="nav_riverwise"><a href="/riverwise" target="_self"><span></span>RIVER WISE 60+</a></li>
          <li id="nav_women"><a href="/women" target="_self"><span></span>WOMEN</a></li>
          <li id="nav_rolya"><a href="/rolya" target="_self"><span></span>YOUNG ADULTS</a></li>
          <li id="nav_youth"><a href="/youth" target="_self"><span></span>YOUTH</a></li>
        </ul>
      </li>
      <li data-type="basic" id="nav_events" style="z-index:1245;"><a href="/events"
                                                                     target="_self"><span></span>EVENTS</a></li>
      <li data-type="basic" id="nav_give" style="z-index:1244;"><a href="/give" target="_self"><span></span>GIVE</a>
      </li>
      <li data-type="basic" id="nav_serve" style="z-index:1243;"><a href="/serve" target="_self"><span></span>SERVE</a>
      </li>
      <li data-type="basic" id="nav_memberlogin" style="z-index:1242;"><a href="/memberlogin"
                                                                          target="_self"><span></span>MEMBER LOGIN</a>
      </li>
      <li data-type="basic" id="nav_easter" style="z-index:1241;"><a href="/easter"
                                                                     target="_self"><span></span>Easter</a></li>
    </ul>
  </div>
  <div class="sp-mobile-nav sub"></div>
</div>
