<main id="sp-content">
  <section class="sp-section sp-scheme-1" id="PNW-content_header" style="padding-top: 349px;">
    <div class="sp-section-backgrounds">
      <div class="sp-section-background parallax" data-darkreader-inline-bgcolor=""
           data-darkreader-inline-color=""
           data-type="image" style="background-position: 50% 50%; background-repeat: no-repeat; background-origin: initial; background-clip: initial; background-color: initial; background-size: cover; background-attachment: fixed; color: rgba(0, 0, 0, 0.71); left: 0%; --darkreader-inline-bgcolor: initial; --darkreader-inline-color: rgba(232, 230, 227, 0.71);">
        <div class="parallax-mirror"
             style="visibility: visible; z-index: 0; position: fixed; top: 0px; left: 0px; overflow: hidden; transform: translate3d(0px, 48px, 0px); height: 659px; width: 1035px;">
          <img class="parallax-slider"
               src="https://storage2.snappages.site/KHGFVV/assets/images/6214443_3024x4032_2500.png"
               style="transform: translate3d(0px, 0px, 0px); position: absolute; top: -408.4px; left: 0px; height: 1379px; width: 1035px; max-width: none;">
        </div>
      </div>
    </div>
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>
                  <b>
                    Welcome to the River of Life Media Hub!
                    <br><br>
                    Your destination for merchandise,
                    <br>
                    accessing Biblical materials and discovering local treasures!
                  </b>
                </h2>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0" id="PNW-page_content">
    <div class="sp-section-slide">
      <div class="sp-section-content" style="padding-top:130px; padding-bottom:130px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-row">
            <div class="sp-col sp-col-1">
              <div class="sp-block sp-spacer-block sp-hide-desktop sp-hide-tablet">
                <div class="sp-block-content">
                  <div class="spacer-holder" style="height:30px;"></div>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-23">
              <div class="sp-block sp-heading-block" style="padding-top:0px; padding-bottom:0px;">
                <div class="sp-block-content">
                  <span>
                    <h2>Introducing the River of Life Media Hub!</h2>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-heading-block">
                <div class="sp-block-content">
                  <span>
                    <h3>Explore and Elevate Your Worship Experience</h3>
                  </span>
                </div>
              </div>
              <div
                class="sp-block sp-divider-block"
                style="text-align:start; padding-top:0px; padding-bottom:0px;"
              >
                <div class="sp-block-content" style="max-width:100px;">
                  <div class="sp-divider-holder"></div>
                </div>
              </div>
              <div class="sp-block sp-text-block">
                <div class="sp-block-content">
                  <b>
                    We're delighted to present the River of Life Media Hub, your go-to destination for downloading,
                    streaming, and purchasing anointed praise and worship music, as well as enriching media content, all
                    conveniently available through our online shop.
                    <br><br>
                    Immerse yourself in the heart of worship with our carefully curated selection of praise and worship
                    music, teaching materials, and inspirational finds, tailored to enhance your spiritual journey.
                    Whether you're seeking powerful worship songs, insightful teachings, or family-friendly resources,
                    the River of Life Media Hub has it all.
                  </b>
                  <br><br>
                  <b>
                    While we currently operate exclusively online, we look forward to expanding our offerings and
                    connecting with you through the River of Life Media Hub.
                    <br><br>
                    Elevate your worship experience—visit the River of Life Media Hub today!
                  </b>
                </div>
              </div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>
                  <b>Sneak Peek</b>
                </h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-spacer-block">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-gallery-block">
            <div class="sp-block-content">
              <div class="gallery-holder">
                <div class="sp-image-grid" data-spacing="true">
                  <div
                    class="sp-image-grid-item"
                    style="background-image:URL(https://storage2.snappages.site/KHGFVV/assets/images/6215095_3024x4032_500.png);">

                  </div>
                  <div
                    class="sp-image-grid-item"
                    style="background-image:URL(https://storage2.snappages.site/KHGFVV/assets/images/6215165_4032x3024_500.png);">

                  </div>
                  <div
                    class="sp-image-grid-item"
                    style="background-image:URL(https://storage2.snappages.site/KHGFVV/assets/images/6215225_3024x4032_500.png);">

                  </div>
                  <div
                    class="sp-image-grid-item"
                    style="background-image:URL(https://storage2.snappages.site/KHGFVV/assets/images/6215095_3024x4032_500.png);">

                  </div>
                  <div
                    class="sp-image-grid-item"
                    style="background-image:URL(https://storage2.snappages.site/KHGFVV/assets/images/6215165_4032x3024_500.png);">

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <!--          <div class="sp-block sp-heading-block" style="text-align:center;">-->
          <!--            <div class="sp-block-content">-->
          <!--              <span>-->
          <!--                <h2>-->
          <!--                  <b>Hours</b>-->
          <!--                </h2>-->
          <!--              </span>-->
          <!--            </div>-->
          <!--          </div>-->
          <!--          <div class="sp-block sp-text-block" style="text-align:center;">-->
          <!--            <div class="sp-block-content">-->
          <!--              <b>Sundays from 11:15am - 12:30pm</b>-->
          <!--              <br>-->
          <!--              &#45;&#45; Special hours may be added &#45;&#45;-->
          <!--            </div>-->
          <!--          </div>-->
          <div class="sp-block sp-map-block">
            <div class="sp-block-content">
              <div class="map-holder" style="height:520px;">
                <app-google-map></app-google-map>
              </div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block">
            <div class="sp-block-content" style>
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              <span>
                <h2>Questions?</h2>
              </span>
            </div>
          </div>
          <div
            class="sp-block sp-heading-block"
            style="text-align:center; padding-top:25px; padding-bottom:25px;"
          >
            <div class="sp-block-content" style="max-width:800px;">
              <span>
                <h3>Shoot us an email with any further questions!</h3>
              </span>
            </div>
          </div>
          <div class="sp-block sp-form-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="form-holder">
                <app-contact-form></app-contact-form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
