<main id="sp-content">
  <section class="sp-section sp-scheme-1" data-header="true" data-index="182" data-scheme="1" data-header="true">
    <div class="sp-section-slide" data-background="%7B%22type%22%3A%22image%22%2C%22src%22%3A%22https%3A%5C%2F%5C%2Fstorage2.snappages.site%5C%2FKHGFVV%5C%2Fassets%5C%2Fimages%5C%2F6214443_3024x4032_2500.png%22%2C%22size%22%3A%22cover%22%2C%22position%22%3A%2250%25+50%25%22%2C%22repeat%22%3A%22no-repeat%22%2C%22attachment%22%3A%22parallax%22%2C%22tint%22%3A%22%40color4.71%22%7D" data-tint="@color4.71" data-label="Main">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block " data-type="heading" data-id="21" style="text-align:center;">
            <div class="sp-block-content" style>
                                        <span class="h2">
                                            <h2>
                                                <b>
                                                    The 2460 Bookstore is River of Life's <br>
                                                    first designated spot to buy merchandise,<br>Biblical materials, and local finds.
                                                </b>
                                            </h2>
                                        </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0" data-index="182" data-scheme="0">
    <div class="sp-section-slide" data-order="173,176,174,175,172,177,36,37,38,181,178,179,180,159,163,156,160,161,162" data-label="Main">
      <div class="sp-section-content" style="padding-top:130px;padding-bottom:130px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-row">
            <div class="sp-col sp-col-1">
              <div class="sp-block sp-spacer-block  sp-hide-desktop sp-hide-tablet" data-type="spacer" data-id="165" style>
                <div class="sp-block-content" style>
                  <div class="spacer-holder" data-height="30" style="height:30px;"></div>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-23">
              <div class="sp-block sp-heading-block " data-type="heading" data-id="166" style="padding-top:0px;padding-bottom:0px;">
                <div class="sp-block-content" style>
                                                <span class="h2">
                                                    <h2>About 2460</h2>
                                                </span>
                </div>
              </div>
              <div class="sp-block sp-heading-block " data-type="heading" data-id="167" style>
                <div class="sp-block-content" style>
                                                <span class="h3" data-color="@color2">
                                                    <h3 style="color:@color2;">Represent Jesus + your Church.</h3>
                                                </span>
                </div>
              </div>
              <div class="sp-block sp-divider-block " data-type="divider" data-id="168" style="text-align:start;padding-top:0px;padding-bottom:0px;">
                <div class="sp-block-content" style="max-width:100px;">
                  <div class="sp-divider-holder"></div>
                </div>
              </div>
              <div class="sp-block sp-text-block " data-type="text" data-id="169" style>
                <div class="sp-block-content" style>
                  <b>
                    We are so excited to announce that we are opening River of Life &rsquo;s first bookstore, the 2460 Bookstore. We are thrilled to show you all the fresh merchandise, powerful books and learning materials, stuff for kids and adults alike &hellip;it is simply going to be awesome!<br>
                    <br>We decided on the name 2460 because of the address of our new church campus at 2460 Gum Branch Road in Jacksonville. &nbsp;We believe that this store is going to be much more than a place to buy cool things. &nbsp;It will be a chance to spread the Gospel in a very practical way, grow in your faith, and connect with others.
                  </b>
                  <br>
                  <br>
                  <b>
                    We will be open on Sundays from 11:15am - 12:30pm and accept credit/debit cards, cash and check. &nbsp;We will not be selling items online at this time.<br>
                    <br>We can't wait to meet you at the 2460 Bookstore soon!
                  </b>
                </div>
              </div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block " data-type="spacer" data-id="173" style>
            <div class="sp-block-content" style>
              <div class="spacer-holder" data-height="30" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block " data-type="spacer" data-id="176" style>
            <div class="sp-block-content" style>
              <div class="spacer-holder" data-height="30" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block " data-type="heading" data-id="174" style="text-align:center;">
            <div class="sp-block-content" style>
                                        <span class="h2">
                                            <h2>
                                                <b>Sneak Peek</b>
                                            </h2>
                                        </span>
            </div>
          </div>
          <div class="sp-block sp-spacer-block " data-type="spacer" data-id="175" style>
            <div class="sp-block-content" style>
              <div class="spacer-holder" data-height="30" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-gallery-block " data-type="gallery" data-id="172" style>
            <div class="sp-block-content" style>
              <div class="gallery-holder" data-type="grid" data-id="167153">
                <div class="sp-image-grid" data-spacing="true">
                  <div class="sp-image-grid-item" style="background-image:URL(https://storage2.snappages.site/KHGFVV/assets/images/6215095_3024x4032_500.png);"></div>
                  <div class="sp-image-grid-item" style="background-image:URL(https://storage2.snappages.site/KHGFVV/assets/images/6215165_4032x3024_500.png);"></div>
                  <div class="sp-image-grid-item" style="background-image:URL(https://storage2.snappages.site/KHGFVV/assets/images/6215225_3024x4032_500.png);"></div>
                  <div class="sp-image-grid-item" style="background-image:URL(https://storage2.snappages.site/KHGFVV/assets/images/6215305_3024x4032_500.png);"></div>
                  <div class="sp-image-grid-item" style="background-image:URL(https://storage2.snappages.site/KHGFVV/assets/images/6215365_3024x4032_500.png);"></div>
                  <div class="sp-image-grid-item" style="background-image:URL(https://storage2.snappages.site/KHGFVV/assets/images/6215460_3024x4032_500.png);"></div>
                  <div class="sp-image-grid-item" style="background-image:URL(https://storage2.snappages.site/KHGFVV/assets/images/6215545_3024x4032_500.png);"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block " data-type="spacer" data-id="177" style>
            <div class="sp-block-content" style>
              <div class="spacer-holder" data-height="30" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block " data-type="heading" data-id="36" style="text-align:center;">
            <div class="sp-block-content" style>
                                        <span class="h2">
                                            <h2>
                                                <b>Hours</b>
                                            </h2>
                                        </span>
            </div>
          </div>
          <div class="sp-block sp-text-block " data-type="text" data-id="37" style="text-align:center;">
            <div class="sp-block-content" style>
              <b>Sundays from 11:15am - 12:30pm</b>
              <br>&nbsp;-- Special hours may be added --
            </div>
          </div>
          <div class="sp-block sp-map-block " data-type="map" data-id="38" style>
            <div class="sp-block-content" style>
              <div class="map-holder" style="height:520px;" data-latlng="34.802814,-77.438392" data-markerlatlng="34.802814,-77.438392" data-style="grayscale" data-zoom="17" data-address="2460 Gum Branch Road, Jacksonville, NC"></div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block " data-type="spacer" data-id="181" style>
            <div class="sp-block-content" style>
              <div class="spacer-holder" data-height="30" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block " data-type="heading" data-id="178" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
                                        <span class="h2">
                                            <h2>Questions?</h2>
                                        </span>
            </div>
          </div>
          <div class="sp-block sp-heading-block " data-type="heading" data-id="179" style="text-align:center;padding-top:25px;padding-bottom:25px;">
            <div class="sp-block-content" style="max-width:800px;">
                                        <span class="h3">
                                            <h3>Shoot us an email with any further questions!</h3>
                                        </span>
            </div>
          </div>
          <div class="sp-block sp-form-block " data-type="form" data-id="180" style="text-align:center;">
            <div class="sp-block-content" style>
              <div class="form-holder" data-email="elise@rolchurch.com" data-subject="Contact Request" data-sent="Thank you for contacting us! We will respond shortly.">
                <form class="sp-form">
                  <div class="sp-fieldset  " data-type="name">
                    <div class="sp-field-col">
                      <label class="sp-field-label">First Name</label>
                      <div class="sp-field-wrapper">
                        <input type="text" class="sp-field"/>
                      </div>
                    </div>
                    <div class="sp-field-col">
                      <label class="sp-field-label">Last Name</label>
                      <div class="sp-field-wrapper">
                        <input type="text" class="sp-field"/>
                      </div>
                    </div>
                  </div>
                  <div class="sp-fieldset  " data-type="email">
                    <div class="sp-field-col">
                      <label class="sp-field-label">Email</label>
                      <div class="sp-field-wrapper">
                        <input type="text" class="sp-field icon"/>
                        <i class="fa fa-envelope-o"></i>
                      </div>
                    </div>
                  </div>
                  <div class="sp-fieldset  " data-type="textarea">
                    <div class="sp-field-col">
                      <label class="sp-field-label">Message</label>
                      <div class="sp-field-wrapper">
                        <textarea class="sp-field"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="button-holder" style="text-align:left;">
                                                    <span class="text-reset">
                                                        <a class="sp-button fill" href target data-label="Contact Us">Contact Us</a>
                                                    </span>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
