<!-- *** ADD OR EDIT HTML INSIDE OF THE dmRespCol DIVS, SEE DOCUMENTATION FOR GUIDELINES *** -->
<div class="u_1869744900 dmRespRow dmSectionNoParallax hasBackgroundOverlay" style="text-align: center;" id="1869744900">
  <div class="dmRespColsWrapper" id="1926411335">
    <div class="u_1681106153 dmRespCol small-12 medium-12 large-12" id="1681106153" data-anim-desktop="fadeInUp">
      <!-- *** INSERT YOUR HTML BELOW *** -->
      <h1 class="u_1106427399 dmNewParagraph" data-dmtmpl="true" data-element-type="paragraph" id="1106427399" data-vivaldi-spatnav-clickable="1" data-uialign="center" no_space_e="true" data-editor-state="closed" data-anim-desktop="fadeInUp">
        <font face="Fjalla One" no_space_b="true" no_space_e="true">
     <span style="font-weight: 400;" no_space_b="true" no_space_e="true" class="m-specific m-font-size-36 lh-1">
      MINISTRY REQUEST FORM
     </span>
        </font>
      </h1>
      <span id="1918744362">
   </span>
      <div class="dmRespRow" id="1400320209">
        <div class="dmRespColsWrapper" id="1298407160">
          <div class="dmRespCol empty-column small-12 medium-12 large-12" id="1843166706">
            <!-- *** INSERT YOUR HTML BELOW *** -->
            <div class="u_1369321487 graphicWidget" editablewidget="true" dmle_widget="graphic" data-element-type="graphic" data-widget-type="graphic" id="1369321487">
              <a href="#first-section" id="1016012890" dm_dont_rewrite_url="false" file="false">
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 70 70" id="1573995707" class="svg u_1573995707" data-icon-name="ar-arrow_free_down">
                  <g id="1969241567">
                    <path d="M34,8.9V27c-9,0.5-16.1,7.9-16.1,17c0,9.4,7.7,17.1,17.1,17.1c9.4,0,17.1-7.7,17.1-17.1c0-9.1-7.1-16.5-16.1-17V8.9H34z
		 M50.1,44.1c0,8.3-6.8,15.1-15.1,15.1c-8.3,0-15.1-6.8-15.1-15.1c0-8,6.2-14.5,14.1-15v18l-5.7-6.2l-1.5,1.4l8.2,8.8l8.2-8.8
		l-1.5-1.4L36,47.1V29C43.9,29.5,50.1,36.1,50.1,44.1z" id="1523312604">
                    </path>
                  </g>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- *** ADD OR EDIT HTML INSIDE OF THE dmRespCol DIVS, SEE DOCUMENTATION FOR GUIDELINES *** -->
<div class="u_1929454066 dmRespRow dmSectionParallaxNew" style="text-align: center;" id="1929454066">
  <div class="dmRespColsWrapper" id="1634093441">
    <div class="u_1972401616 dmRespCol small-12 medium-12 large-12" id="1972401616">
      <!-- *** INSERT YOUR HTML BELOW *** -->
      <span id="1499907941">
   </span>
      <div class="u_1662070735 dmform default hide-for-small" preserve_css="true" dmle_widget="dudaContactUsRespId" id="1662070735" data-element-type="dContactUsRespId" data-layout="layout-2" data-anim-desktop="none">
        <h3 class="dmform-title dmwidget-title" id="1317608892" hide="true">
        </h3>
        <div class="dmform-wrapper" preserve_css="true" id="1416640936">
          <form method="post" class="dmRespDesignRow" locale="ENGLISH" id="1280432005">
            <div class="dmforminput required  small-12 dmRespDesignCol medium-12 large-12" id="1265979155">
              <label for="dmform-0" id="1592605322" class="">
                Event date
              </label>
              <input type="text" class="dmDatePicker" lang="undefined" placeholder="" date_format="ddmmyyyy" name="dmform-0" id="1457265726"/>
              <input type="hidden" name="label-dmform-0" id="1622008147" class="" value="Event date"/>
            </div>
            <div class="dmforminput required  small-12 dmRespDesignCol medium-12 large-12" id="1615220755">
              <label for="dmform-2" id="1997290944" class="">
                Name of your conference or organization
              </label>
              <input type="text" name="dmform-2" placeholder="" id="1198255382"/>
              <input type="hidden" name="label-dmform-2" id="1850719290" class="" value="Name of your conference or organization"/>
            </div>
            <div class="dmforminput small-12 dmRespDesignCol required medium-12 large-12" id="1250153894">
              <label for="dmform-4" id="1388998424">
                Phone Number
              </label>
              <input type="tel" name="dmform-4" placeholder="" id="1655714180"/>
              <input type="hidden" name="label-dmform-4" value="Phone Number" id="1138509550" class=""/>
            </div>
            <div class="dmforminput small-12 dmRespDesignCol required medium-12 large-12" id="1596145976">
              <label for="dmform-5" id="1580653744">
                Email
              </label>
              <input type="email" name="dmform-5" placeholder="" id="1138480347"/>
              <input type="hidden" name="label-dmform-5" value="Email" id="1656499450" class=""/>
            </div>
            <div class="dmforminput required  small-12 dmRespDesignCol medium-12 large-12" id="1218768913">
              <label for="dmform-1" id="1933185952" class="">
                Is this a teaching symposium, executive coaching, or preaching assignment?
              </label>
              <select name="dmform-1" id="1349468734">
                <option selected="" disabled="" hidden="" value="" id="1632885508">
                </option>
                <option id="1516037027">
                  Teaching Symposium
                </option>
                <option id="1858030849">
                  Executive Coaching
                </option>
                <option id="1794568859">
                  Preaching Assignment
                </option>
              </select>
              <input type="hidden" name="label-dmform-1" id="1189030424" class="" value="Is this a teaching symposium, executive coaching, or preaching assignment?"/>
            </div>
            <div class="dmforminput dmRespDesignCol small-12 required medium-12 large-12" id="1740940725">
              <label for="dmform-3" id="1164409041" class="">
                What is the approximate size of the venue, (how many delegates in attendance?)
              </label>
              <input type="text" name="dmform-3" placeholder="" id="1617555725"/>
              <input type="hidden" name="label-dmform-3" id="1618009337" class="" value="What is the approximate size of the venue, (how many delegates in attendance?)"/>
            </div>
            <div class="dmforminput small-12 medium-12 large-12 dmRespDesignCol" id="1714019597">
              <label for="dmform-6" id="1787818242">
                Is there a theme for your event?
              </label>
              <textarea name="dmform-6" id="1417677477">
       </textarea>
              <input type="hidden" name="label-dmform-6" value="Is there a theme for your event?" id="1998193164" class=""/>
            </div>
            <div class="dmforminput small-12 medium-12 large-12 dmRespDesignCol" id="1059285263">
              <label for="dmform-7" id="1671229406">
                Will Bishop Edwards have the opportunity of receiving his own offering after ministering or is there a set honorarium?
              </label>
              <textarea name="dmform-7" id="1911561797">
       </textarea>
              <input type="hidden" name="label-dmform-7" value="Will Bishop Edwards have the opportunity of receiving his own offering after ministering or is there a set honorarium?" id="1912400990" class=""/>
            </div>
            <div class="dmforminput small-12 medium-12 large-12 dmRespDesignCol" id="1938052723">
              <label for="dmform-8" id="1888788317">
                Is there a product table available for his ministry products and a person available to assist?
              </label>
              <textarea name="dmform-8" id="1998930162">
       </textarea>
              <input type="hidden" name="label-dmform-8" value="Is there a product table available for his ministry products and a person available to assist?" id="1814400134" class=""/>
            </div>
            <span id="1813290345" class="dmWidgetClear" dmle_clear="true">
      </span>
            <div class="dmformsubmit dmWidget R" preserve_css="true" id="1553426610">
              <input class="" name="submit" type="submit" value="SUBMIT" id="1000090000"/>
            </div>
            <input name="dmformsendto" type="hidden" value="cliftonedwardsjr@icloud.com" preserve_css="true" id="1498439124" class=""/>
            <input class="dmActionInput" type="hidden" name="action" value="/_dm/s/rt/widgets/dmform.submit.jsp" id="1173142479"/>
            <input name="dmformsubject" type="hidden" value="Ministry Request Form" preserve_css="true" id="1039868694" class=""/>
          </form>
        </div>
        <div class="dmform-success" style="display:none" preserve_css="true" id="1049453943">
          Thank you for contacting us.
          <br id="1561699657"/>
          We will get back to you as soon as possible
        </div>
        <div class="dmform-error" style="display:none" preserve_css="true" id="1771297712">
          Oops, there was an error sending your message.
          <br id="1219281769"/>
          Please try again later
        </div>
      </div>
      <div class="u_1089475866 dmform default hide-for-large hide-for-medium" preserve_css="true" dmle_widget="dudaContactUsRespId" data-element-type="dContactUsRespId" data-captcha-position="bottomleft" id="1089475866">
        <h3 class="dmform-title dmwidget-title" id="1819226582" hide="true">
          Contact Us
        </h3>
        <div class="dmform-wrapper" preserve_css="true" id="1279769005">
          <form method="post" class="dmRespDesignRow" locale="ENGLISH" id="1998111500">
            <div class="dmforminput required  small-12 medium-4 large-4  dmRespDesignCol" id="1746285479">
              <label for="dmform-0" id="1153771503">
                Event Date
              </label>
              <input type="text" class="dmDatePicker" lang="undefined" placeholder="" date_format="ddmmyyyy" name="dmform-0" id="1589590206"/>
              <input type="hidden" name="label-dmform-0" value="Event Date" id="1542120016" class=""/>
            </div>
            <div class="dmforminput required  small-12 medium-4 large-4  dmRespDesignCol" id="1092149518">
              <label for="dmform-2" id="1474053143">
                Phone:
              </label>
              <input type="tel" class="" name="dmform-2" id="1344954665"/>
              <input type="hidden" name="label-dmform-2" value="Phone" id="1376179277"/>
            </div>
            <div class="dmforminput required  small-12 medium-4 large-4  dmRespDesignCol" id="1888567554">
              <label for="dmform-1" id="1674997443">
                Email
              </label>
              <input type="email" class="" name="dmform-1" id="1789364273"/>
              <input type="hidden" name="label-dmform-1" value="Email" id="1645784290" class=""/>
            </div>
            <div class="dmforminput large-12 medium-12 dmRespDesignCol" id="1385651506">
              <label for="dmform-3" id="1607764757">
                Name of your conference or organization
              </label>
              <input type="text" name="dmform-3" placeholder="" id="1996816110"/>
              <input type="hidden" name="label-dmform-3" value="Name of your conference or organization" id="1376245274" class=""/>
            </div>
            <div class="dmforminput small-12 medium-4 large-4 dmRespDesignCol required" id="1638349040">
              <label for="dmform-4" id="1160787151">
                Is this a teaching symposium, executive coaching, or preaching assignment?
              </label>
              <select name="dmform-4" id="1768210008">
                <option selected="" disabled="" hidden="" value="" id="1923407953">
                </option>
                <option id="62071">
                  Teaching Symposium
                </option>
                <option id="19151">
                  Executive Coaching
                </option>
                <option id="51103">
                  Preaching Assignment
                </option>
              </select>
              <input type="hidden" name="label-dmform-4" value="Is this a teaching symposium, executive coaching, or preaching assignment?" id="1100006229" class=""/>
            </div>
            <div class="dmforminput small-12 medium-4 large-4 dmRespDesignCol" id="1909555846">
              <label for="dmform-5" id="1473767203">
                What is the approximate size of the venue, (how many delegates in attendance?)
              </label>
              <input type="text" name="dmform-5" id="1056098978"/>
              <input type="hidden" name="label-dmform-5" value="What is the approximate size of the venue, (how many delegates in attendance?)" id="1196370610" class=""/>
            </div>
            <div class="dmforminput small-12 medium-4 large-4 dmRespDesignCol" id="1366370310">
              <label for="dmform-6" id="1645779526">
                Is there a theme for your event?
              </label>
              <textarea name="dmform-6" id="1052405538">
       </textarea>
              <input type="hidden" name="label-dmform-6" value="Is there a theme for your event?" id="1402838260" class=""/>
            </div>
            <div class="dmforminput small-12 medium-4 large-4 dmRespDesignCol" id="1199675676">
              <label for="dmform-7" id="1572066438">
                Will Bishop Edwards have the opportunity of receiving his own offering after ministering or is there a set honorarium?
              </label>
              <textarea name="dmform-7" id="1011499147">
       </textarea>
              <input type="hidden" name="label-dmform-7" value="Will Bishop Edwards have the opportunity of receiving his own offering after ministering or is there a set honorarium?" id="1656982421" class=""/>
            </div>
            <div class="dmforminput small-12 medium-4 large-4 dmRespDesignCol" id="1665185666">
              <label for="dmform-8" id="1777090477">
                Is there a product table available for his ministry products and a person available to assist?
              </label>
              <textarea name="dmform-8" id="1698948926">
       </textarea>
              <input type="hidden" name="label-dmform-8" value="Is there a product table available for his ministry products and a person available to assist?" id="1882841178" class=""/>
            </div>
            <span id="1665185666_clear" class="dmWidgetClear" dmle_clear="true">
      </span>
            <div class="dmformsubmit dmWidget R" preserve_css="true" id="1520369828">
              <input class="" name="submit" type="submit" value="Send Message" id="1880125532"/>
            </div>
            <input name="dmformsendto" type="hidden" value="cliftonedwardsjr@icloud.com" preserve_css="true" id="1160872031"/>
            <input class="dmActionInput" type="hidden" name="action" value="/_dm/s/rt/widgets/dmform.submit.jsp" id="1359434898"/>
            <input name="dmformsubject" type="hidden" value="Form Message" preserve_css="true" id="1205386606"/>
            <input name="dmformfrom" type="hidden" value="" preserve_css="true" id="1694817950"/>
          </form>
        </div>
        <div class="dmform-success" style="display:none" preserve_css="true" id="1432169346">
          Thank you for contacting us.
          <br id="1290031601"/>
          We will get back to you as soon as possible.
        </div>
        <div class="dmform-error" style="display:none" preserve_css="true" id="1018852407">
          Oops, there was an error sending your message.
          <br id="1014981307"/>
          Please try again later.
        </div>
      </div>
    </div>
  </div>
</div>




<!-- *** ADD OR EDIT HTML INSIDE OF THE dmRespCol DIVS, SEE DOCUMENTATION FOR GUIDELINES *** -->
<div class="dmRespRow u_1254836760 hasBackgroundOverlay" id="1254836760">
  <div class="dmRespColsWrapper" id="1898928385">
    <div class="dmRespCol large-12 medium-12 small-12" id="1447226702">
      <!-- *** INSERT YOUR HTML BELOW *** -->
      <div class="dmRespRow u_1271675098" id="1271675098">
        <div class="dmRespColsWrapper" id="1336772901">
          <div class="u_1679280167 dmRespCol small-12 large-7 medium-7" id="1679280167">
            <!-- *** INSERT YOUR HTML BELOW *** -->
            <div class="u_1244010701 dmRespRow" id="1244010701" data-anim-desktop="fadeInLeft">
              <div class="dmRespColsWrapper" id="1518626700">
                <div class="u_1605949526 dmRespCol small-12 medium-12 large-12" id="1605949526">
                  <!-- *** INSERT YOUR HTML BELOW *** -->
                  <h3 class="u_1428300880 dmNewParagraph" dmle_widget="paragraph" data-element-type="paragraph" id="1428300880" data-vivaldi-spatnav-clickable="1" style="transition: opacity 1s ease-in-out;" data-uialign="center" no_space_e="true">
                    <font color="#ffffff" no_space_b="true" no_space_e="true">
                      Response
                    </font>
                  </h3>
                </div>
              </div>
            </div>
            <div class="u_1925788706 dmRespRow" id="1925788706" data-anim-desktop="fadeInLeft">
              <div class="dmRespColsWrapper" id="1212704443">
                <div class="dmRespCol large-12 medium-12 small-12" id="1699156965">
                  <!-- *** INSERT YOUR HTML BELOW *** -->
                  <div class="dmNewParagraph u_1012075256" data-dmtmpl="true" data-element-type="paragraph" id="1012075256" data-vivaldi-spatnav-clickable="1" style="transition: none; display: block;" data-uialign="center" data-editor-state="closed" no_space_e="true">
                    <div no_space_b="true" no_space_e="true" style="text-align: left;">
                      <font color="#ffffff" no_space_b="true" no_space_e="true">
                        Please allow 72 hours for a response to your ministry request. Bishop Edwards does not charge to preach the Gospel, however honorariums are negotiable depending on the size of the audience and the occasion to which he is asked to participate and serve.
                      </font>
                    </div>
                    <div no_space_b="true" no_space_e="true" style="text-align: left;">
                      <font color="#ffffff" no_space_b="true" no_space_e="true">
                        <br no_space_b="true" no_space_e="true"/>
                      </font>
                    </div>
                    <div no_space_b="true" no_space_e="true" style="text-align: left;">
                      <font color="#ffffff" no_space_b="true" no_space_e="true">
                        <br no_space_b="true" no_space_e="true"/>
                      </font>
                    </div>
                    <div no_space_b="true" no_space_e="true" style="text-align: left;">
                      <font color="#ffffff" no_space_b="true" no_space_e="true">
                        Thank you for your inquiry and we look forward to connecting with you soon, God bless!
                      </font>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="u_1994875067 dmRespCol small-12 large-5 medium-5 hide-for-small" id="1994875067">
            <!-- *** INSERT YOUR HTML BELOW *** -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




