<main id="sp-content">
  <section class="sp-section sp-scheme-1">
    <div class="sp-section-slide">
      <div class="sp-section-content" style="padding-top:120px; padding-bottom:120px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h1>
                  <b>ROL WOMEN</b>
                </h1>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>"She is clothed with strength and dignity; she can laugh at the days to come."</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h3>- Proverbs 31:25</h3>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              In these stirring times, amidst the clamor of worldly distractions, we sense the Spirit moving to awaken a
              radiant sisterhood attuned to His divine call. With hearts ablaze for His voice, we stand resolved to heed
              His beckoning! Our fervor ignites as we unite with our sisters, racing in tandem to herald the Gospel of
              Jesus. Under the anointing of Pastor Miriam Phillips, Rivers of Grace Women's Fellowship emerges as a
              prophetic voice in the Eastern realm of North Carolina and beyond.
              <br><br>
              <b>Here's a glimpse of our vibrant tapestry of ministries:</b>
              <br><br>
              <b>
                Holy Word Immersions
                <br>
                Covenant Circles
                <br>
                Radiant Gatherings
                <br>
                Travel Opportunities
              </b>
              <br>
              <b>Meetings for many age groups</b>
              <br>
              <b>... and more!</b>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-divider-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-block sp-image-block"
               style="text-align:center; padding-top:0px; padding-bottom:0px; padding-left:15px; padding-right:15px;"
          >
            <div class="sp-block-content" style="max-width:240px;">
              <div class="sp-image-holder"
                   data-pos="top-center"
                   data-ratio="square"
                   data-shape="ellipse"
                   style="background-image:url(https://as2.ftcdn.net/v2/jpg/06/51/23/63/1000_F_651236385_U2nJ0sKAM87Q3CVwx1WrAiOP6vLkGlLA.jpg);"
              >
                <img alt
                     class="fill"
                     src="https://storage2.snappages.site/KHGFVV/assets/images/14145294_4160x6240_500.jpeg"
                />
                <div class="sp-image-title"></div>
                <div class="sp-image-caption"></div>
              </div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>
                  <b>Pastor Miriam Phillips, Lead Shepherdess</b>
                </h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-divider-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:100px;">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:600px;">
              A beacon of divine revelation, Pastor Miriam Phillips kindles the flames of revival with her anointed
              teachings. Nurtured in the crucible of missionary endeavors, Pastor Miriam's fervor for the nations has
              propelled her to proclaim the Gospel across the globe. As steward of Rivers of Grace Women's Fellowship
              and the Prophetic Ministry at River of Life, Pastor Miriam champions the ascent of women into their
              God-ordained destinies, empowering them to radiate His glory in every sphere of life.
            </div>
          </div>
          <div class="sp-block sp-divider-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>
                  <b>Upcoming Events</b>
                </h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-subsplash_events-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="sp-subsplash-holder">
                <script id="subsplash-embed-spw546v" type="445743ac73f8d8f17c8f76e4-text/javascript">
                  var target = document.getElementById("subsplash-embed-spw546v");
                  var script = document.createElement("script");
                  script.type = "text/javascript";
                  script.onload = function() {subsplashEmbed("+5cbf/lb/ca/+spw546v?embed&branding", "https://subsplash.com/", "subsplash-embed-spw546v");};
                  script.src = "https://dashboard.static.subsplash.com/production/web-client/external/embed-1.1.0.js";target.parentElement.insertBefore(script, target);
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-1">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>Women's Small Groups</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h3>We were never meant to walk alone.</h3>
              </span>
            </div>
          </div>
          <div class="sp-block sp-divider-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:100px;">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:750px;">
              Women's Small Groups are designed with YOU in mind. These groups are hosted by women from River of Life
              Church. From Bible studies to outreach opportunities, we have groups available for a wide variety of ages
              and interests. There's sure to be a group that you'll love!
            </div>
          </div>
          <div class="sp-block sp-button-block" style="text-align:center;">
            <div class="sp-block-content">
              <span class="text-reset">
                <a
                  class="sp-button"
                  href="/womens-groups"
                  style="background-color:#ffffff"
                  target="_blank"
                >
                  Find a Group
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              <span>
                <h2>Contact Us</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-heading-block"
               style="text-align:center; padding-top:25px; padding-bottom:25px;"
          >
            <div class="sp-block-content" style="max-width:800px;">
              <span>
                <h3>We'd love to hear from you. Fill out the form below to get started.</h3>
              </span>
            </div>
          </div>
          <div class="sp-block sp-form-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="form-holder">
                <form class="sp-form">
                  <div class="sp-fieldset">
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        First Name
                      </label>
                      <div class="sp-field-wrapper">
                        <input class="sp-field" type="text"/>
                      </div>
                    </div>
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        Last Name
                      </label>
                      <div class="sp-field-wrapper">
                        <input class="sp-field" type="text"/>
                      </div>
                    </div>
                  </div>
                  <div class="sp-fieldset">
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        Email
                      </label>
                      <div class="sp-field-wrapper">
                        <input class="sp-field icon" type="text"/>
                        <i class="fa fa-envelope-o"></i>
                      </div>
                    </div>
                  </div>
                  <div class="sp-fieldset">
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        Message
                      </label>
                      <div class="sp-field-wrapper">
                        <textarea class="sp-field"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="button-holder" style="text-align:left;">
                    <span>
                      <a class="sp-button fill">
                        Contact Us
                      </a>
                    </span>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
