<main id="sp-content">
  <section class="sp-section sp-scheme-3" id="LEADERSHIP-pastors_staff_header">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h1>Leadership</h1>
              </span>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>Pastors &amp; Staff</h2>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0" id="LEADERSHIP-pastors_staff">
    <div class="sp-section-slide" data-label="Main">
      <div class="sp-section-content" style="padding-top:20px; padding-bottom:20px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-spacer-block">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:50px;"></div>
            </div>
          </div>
          <div class="sp-row">
            <div class="sp-col sp-col-9">
              <div class="sp-block sp-image-block" style="text-align:center; padding-top:0px; padding-bottom:0px;">
                <div class="sp-block-content" style="max-width:250px;">
                  <div
                    class="sp-image-holder"
                    data-pos="top-center"
                    data-ratio="square"
                    data-shadow="hover"
                    data-shape="ellipse"
                    style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/8976755_1032x1420_500.png);"
                  >
                    <img
                      alt
                      class="fill"
                      src="https://storage2.snappages.site/KHGFVV/assets/images/8976755_1032x1420_500.png"
                    />
                    <div class="sp-image-title"></div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-15">
              <div class="sp-block sp-heading-block" style="text-align:left;">
                <div class="sp-block-content">
                  <span>
                    <h2>Chris Phillips</h2>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-heading-block" style="text-align:left; padding-top:0px; padding-bottom:0px;">
                <div class="sp-block-content">
                  <span>
                    <h3>Senior Pastor</h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:left;">
                <div class="sp-block-content" style="max-width:600px;">
                  Pastor Chris Phillips is the Senior Pastor of River of Life Church, a thriving multi-generational,
                  multicultural church in Jacksonville, North Carolina. Pastor Chris and his wife, Miriam, have a
                  passion
                  for military families and sponsor a military support group through the church that reaches hundreds of
                  deployed servicemen and women every month.
                  <br><br>
                  Before coming to Jacksonville, Pastor Chris and Miriam spent four years as a missionaries in Brazil,
                  South America, and continue to support several works in that country and around the world. Now, Pastor
                  Chris has been in ministry for 30 years, and has a great passion for Jacksonville and the surrounding
                  areas and providing pastoral leadership to River of Life Church.
                  <br><br>
                  Pastors Chris and Miriam have three grown children, Elise, Evan, and Erianna, two sons-in-law, Torre
                  and Maurice, and a daughter-in-law, Brit, and three grandsons, Rio, Arthur, and Weston!
                </div>
              </div>
              <div class="sp-block sp-button-block" style="text-align:left;">
                <div class="sp-block-content">
                  <span class="text-reset">
                    <a
                      class="sp-button"
                      href="/cdn-cgi/l/email-protection#e18289938892a1938e8d828994938289cf828e8cde9294838b848295dcb6848392889584c4d3d1a28e8f95808295c78282dcc7838282dc"
                    >
                      <i class="fa fa-envelope-o fa-lg fa-fw"></i>
                      Contact
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="sp-block sp-divider-block">
            <div class="sp-block-content">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0" id="LEADER-meet_the_team">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span class="h2">
                <h2>Meet the Team</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:60px;"></div>
            </div>
          </div>
          <div class="sp-row">
            <div class="sp-col sp-col-5" id="LEADERSHIP-team_member_photo">
              <div
                class="sp-block sp-image-block"
                style="text-align:center; padding-top:0px; padding-bottom:0px; padding-left:15px; padding-right:15px;"
              >
                <div class="sp-block-content">
                  <div
                    class="sp-image-holder"
                    data-pos="top-center"
                    data-ratio="square"
                    style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/2505951_3456x5184_500.jpg);"
                  >
                    <img
                      alt
                      class="fill"
                      src="https://storage2.snappages.site/KHGFVV/assets/images/2505951_3456x5184_500.jpg"
                    />
                    <div class="sp-image-title"></div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-6" id="LEADERSHIP-team_member_info">
              <div
                class="sp-block sp-heading-block"
                style="text-align:left; padding-top:0px; padding-bottom:0px;"
              >
                <div class="sp-block-content">
                  <span>
                    <h3>Justin McMahon</h3>
                  </span>
                </div>
              </div>
              <div
                class="sp-block sp-text-block"
                style="text-align:left; padding-top:0px; padding-bottom:0px;"
              >
                <div class="sp-block-content">
                  <b>Finance Director</b>
                </div>
              </div>
              <div
                class="sp-block sp-text-block"
                style="text-align:left; padding-top:10px; padding-bottom:10px;"
              >
                <div class="sp-block-content">
                  Justin directs the financial operations of River of Life. He
                  and his wife, Vanessa, are leaders at their home church in Beulaville, NC, where they live with
                  their three sons, Oliver, Theodore, and Charles.
                </div>
              </div>
              <div
                class="sp-block sp-social-block"
                style="padding-top:0px;padding-bottom:0px;"
              >
                <div class="sp-block-content">
                  <div class="sp-social-holder" style="font-size:15px; margin-top:-0px;">
                    <a
                      class="envelope-o"
                      href="/cdn-cgi/l/email-protection#80a0eaf5f3f4e9eec0f2efece3e8f5f2e3e8aee3efed"
                      style="margin-right:0px;margin-top:0px;"
                      target="_blank"
                    >
                      <i class="fa fa-fw fa-envelope-o"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-2" id="LEADERSHIP-team_member_col_space">
              <div class="sp-block sp-spacer-block">
                <div class="sp-block-content">
                  <div class="spacer-holder" data-height="30" style="height:30px;"></div>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-5">
              <div
                class="sp-block sp-image-block"
                style="text-align:center; padding-top:0px; padding-bottom:0px; padding-left:15px; padding-right:15px;"
              >
                <div class="sp-block-content">
                  <div
                    class="sp-image-holder"
                    data-pos="top-center"
                    data-ratio="square"
                    style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/2505989_3456x5184_500.jpg);"
                  >
                    <img
                      alt
                      class="fill"
                      src="https://storage2.snappages.site/KHGFVV/assets/images/2505989_3456x5184_500.jpg"
                    />
                    <div class="sp-image-title"></div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-6">
              <div
                class="sp-block sp-heading-block"
                style="text-align:left;padding-top:0px;padding-bottom:0px;"
              >
                <div class="sp-block-content">
                  <span>
                    <h3>Robin Fitzgerald</h3>
                  </span>
                </div>
              </div>
              <div
                class="sp-block sp-text-block"
                style="text-align:left; padding-top:0px; padding-bottom:0px;"
              >
                <div class="sp-block-content">
                  <b>Finance Assistant</b>
                </div>
              </div>
              <div
                class="sp-block sp-text-block"
                style="text-align:left; padding-top:10px; padding-bottom:10px;"
              >
                <div class="sp-block-content">
                  Robin is responsible for assisting with the financial operations of the church and the day-to-day
                  operations of the <a href="/bookstore" rel target="_self">2460 Bookstore.</a>
                </div>
              </div>
              <div class="sp-block sp-social-block" style="padding-top:0px; padding-bottom:0px;">
                <div class="sp-block-content">
                  <div class="sp-social-holder" style="font-size:15px; margin-top:-0px;">
                    <a
                      class="envelope-o"
                      href="/cdn-cgi/l/email-protection#80a0f2efe2e9eec0f2efece3e8f5f2e3e8aee3efed"
                       style="margin-right:0px; margin-top:0px;"
                      target="_blank"
                    >
                      <i class="fa fa-fw fa-envelope-o"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" id="LEADERSHIP-team_member_row_space">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:60px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
