<main id="sp-content">
  <section class="sp-section sp-scheme-3" id="LEADERSHIP-pastors_staff_header">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h1>Leadership</h1>
              </span>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>Pastors &amp; Staff</h2>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0" id="LEADERSHIP-pastors_staff">
    <div class="sp-section-slide" data-label="Main">
      <div class="sp-section-content" style="padding-top:20px; padding-bottom:20px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-spacer-block">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:50px;"></div>
            </div>
          </div>
          <div class="sp-row">
            <div class="sp-col sp-col-9">
              <div class="sp-block sp-image-block" style="text-align:center; padding-top:0px; padding-bottom:0px;">
                <div class="sp-block-content" style="max-width:250px;">
                  <div
                    class="sp-image-holder"
                    data-pos="top-center"
                    data-ratio="square"
                    data-shadow="hover"
                    data-shape="ellipse"
                    style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/2505951_3456x5184_500.jpg)"
                  >
                    <img
                      alt
                      class="fill"
                      href="assets/images/_oldsite/HOME/bishop_clifton_edwards_jr-blue_checker_background.png"
                    />
                    <div class="sp-image-title"></div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-15">
              <div class="sp-block sp-heading-block" style="text-align:left;">
                <div class="sp-block-content">
                  <span>
                    <h2>Clifton Edwards Jr.</h2>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-heading-block" style="text-align:left; padding-top:0px; padding-bottom:0px;">
                <div class="sp-block-content">
                  <span>
                    <h3>Pastor/Bishop</h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:left;">
                <div class="sp-block-content" style="max-width:600px;">
                  Bishop Clifton Edwards Jr. in 1991, planted his first church, Antelope Valley Christian Outreach which
                  later became, City of Zion International Ministries of Lancaster CA. Clifton Edwards Jr. is the son of
                  Bishop Emeritus Clifton Edwards Sr. who founded and pastored the Gospel of Christ Apostolic Church in
                  Los Angeles CA. Pastor Edwards was faithful to his fathers ministry for over 20 years. He was a gifted
                  musician, composer and song writer. He was brought to national acclaimed through the late great Mattie
                  Moss Clark, who recorded several hit songs such as; "I Don't Want To Be Lost" 1985 / "Shine On" 1986 /
                  "By Faith" 1987. Bishop Edwards wrote a song performed by, Men of Standard & Kirk Franklin entitled;
                  "Latter Rain" 2009. His latest musical offering can be found on the Spotify App & C.DBaby.com;
                  Preachers Music Group. He has also Authored a book entitled; "Jealousy Is Crueler Than The Grave"/
                  Exlibris Publisher.
                  <br><br>
                  Bishop Edwards has been married for 36 years to Tracie Edwards who is a wonderful wife and partner in
                  ministry. He has two amazing children. Lamar (Mars) Edwards, who is a Music Producer for secular Artist
                  such as, Faith Evans, T.I., The Game, Snoop Dogg, Usher and Jay Z too name a few. His daughter Jasmine
                  Edwards is an ORU Graduate, worked at The Potters House, T.D. Jakes Ministries and later worked directly
                  for Sheryl Brady Ministries.
                  <br><br>
                  The future looks bright for River of Life House of Restoration. The preaching is anointed and impactful
                  and fellowship is family oriented. Come and get your life back at River of Life Church. "If you drink
                  of this water, you will never thirst again".
                </div>
              </div>
              <div class="sp-block sp-button-block" style="text-align:left;">
                <div class="sp-block-content">
                  <span class="text-reset">
                    <a
                      class="sp-button"
                      href="/cdn-cgi/l/email-protection#e18289938892a1938e8d828994938289cf828e8cde9294838b848295dcb6848392889584c4d3d1a28e8f95808295c78282dcc7838282dc"
                    >
                      <i class="fa fa-envelope-o fa-lg fa-fw"></i>
                      Contact
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="sp-block sp-divider-block">
            <div class="sp-block-content">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0" id="LEADER-meet_the_team">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span class="h2">
                <h2>Meet the Team</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:60px;"></div>
            </div>
          </div>
          <div class="sp-row">
            <div class="sp-col sp-col-5" id="LEADERSHIP-team_member_photo">
              <div
                class="sp-block sp-image-block"
                style="text-align:center; padding-top:0px; padding-bottom:0px; padding-left:15px; padding-right:15px;"
              >
                <div class="sp-block-content">
                  <div
                    class="sp-image-holder"
                    data-pos="top-center"
                    data-ratio="square"
                    style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/2505951_3456x5184_500.jpg);"
                  >
                    <img
                      alt
                      class="fill"
                      src="https://storage2.snappages.site/KHGFVV/assets/images/2505951_3456x5184_500.jpg"
                    />
                    <div class="sp-image-title"></div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-6" id="LEADERSHIP-team_member_info">
              <div
                class="sp-block sp-heading-block"
                style="text-align:left; padding-top:0px; padding-bottom:0px;"
              >
                <div class="sp-block-content">
                  <span>
                    <h3>Justin McMahon</h3>
                  </span>
                </div>
              </div>
              <div
                class="sp-block sp-text-block"
                style="text-align:left; padding-top:0px; padding-bottom:0px;"
              >
                <div class="sp-block-content">
                  <b>Finance Director</b>
                </div>
              </div>
              <div
                class="sp-block sp-text-block"
                style="text-align:left; padding-top:10px; padding-bottom:10px;"
              >
                <div class="sp-block-content">
                  Justin directs the financial operations of River of Life. He
                  and his wife, Vanessa, are leaders at their home church in Beulaville, NC, where they live with
                  their three sons, Oliver, Theodore, and Charles.
                </div>
              </div>
              <div
                class="sp-block sp-social-block"
                style="padding-top:0px;padding-bottom:0px;"
              >
                <div class="sp-block-content">
                  <div class="sp-social-holder" style="font-size:15px; margin-top:-0px;">
                    <a
                      class="envelope-o"
                      href="/cdn-cgi/l/email-protection#80a0eaf5f3f4e9eec0f2efece3e8f5f2e3e8aee3efed"
                      style="margin-right:0px;margin-top:0px;"
                      target="_blank"
                    >
                      <i class="fa fa-fw fa-envelope-o"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-2" id="LEADERSHIP-team_member_col_space">
              <div class="sp-block sp-spacer-block">
                <div class="sp-block-content">
                  <div class="spacer-holder" data-height="30" style="height:30px;"></div>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-5">
              <div
                class="sp-block sp-image-block"
                style="text-align:center; padding-top:0px; padding-bottom:0px; padding-left:15px; padding-right:15px;"
              >
                <div class="sp-block-content">
                  <div
                    class="sp-image-holder"
                    data-pos="top-center"
                    data-ratio="square"
                    style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/2505989_3456x5184_500.jpg);"
                  >
                    <img
                      alt
                      class="fill"
                      src="https://storage2.snappages.site/KHGFVV/assets/images/2505989_3456x5184_500.jpg"
                    />
                    <div class="sp-image-title"></div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-6">
              <div
                class="sp-block sp-heading-block"
                style="text-align:left;padding-top:0px;padding-bottom:0px;"
              >
                <div class="sp-block-content">
                  <span>
                    <h3>Robin Fitzgerald</h3>
                  </span>
                </div>
              </div>
              <div
                class="sp-block sp-text-block"
                style="text-align:left; padding-top:0px; padding-bottom:0px;"
              >
                <div class="sp-block-content">
                  <b>Finance Assistant</b>
                </div>
              </div>
              <div
                class="sp-block sp-text-block"
                style="text-align:left; padding-top:10px; padding-bottom:10px;"
              >
                <div class="sp-block-content">
                  Robin is responsible for assisting with the financial operations of the church and the day-to-day
                  operations of the <a href="/bookstore" rel target="_self">2460 Bookstore.</a>
                </div>
              </div>
              <div class="sp-block sp-social-block" style="padding-top:0px; padding-bottom:0px;">
                <div class="sp-block-content">
                  <div class="sp-social-holder" style="font-size:15px; margin-top:-0px;">
                    <a
                      class="envelope-o"
                      href="/cdn-cgi/l/email-protection#80a0f2efe2e9eec0f2efece3e8f5f2e3e8aee3efed"
                       style="margin-right:0px; margin-top:0px;"
                      target="_blank"
                    >
                      <i class="fa fa-fw fa-envelope-o"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" id="LEADERSHIP-team_member_row_space">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:60px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
