<main id="sp-content">
  <section class="sp-section sp-scheme-1">
    <div class="sp-section-slide">
      <div class="sp-section-content" style="padding-top:120px; padding-bottom:120px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h1>
                  <b>YOUNG ADULTS</b>
                </h1>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-image-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:240px;">
              <div class="sp-image-holder"
                   data-fill="true"
                   data-ratio="square"
                   style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/12685984_1920x1920_500.png);">
                <img alt
                     class="fill"
                     src="https://storage2.snappages.site/KHGFVV/assets/images/12685984_1920x1920_500.png"/>
                <div class="sp-image-title"></div>
                <div class="sp-image-caption"></div>
              </div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>ROLYA is our Young Adults Ministry</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h3>For 18 Years &amp;Graduated - 35 Years Old</h3>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block " style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              We live in a unique community where we have one of the youngest populations in the country! ROLYA is
              specifically designed for young adults from all walks of life. &nbsp;From newly graduated to those with
              young
              families, we have something for you! Each month we host events designed to help you connect with others,
              grow in your faith, and have fun! We can't wait to meet you soon.
            </div>
          </div>
          <div class="sp-block sp-image-block"
               style="text-align:center; padding-top:0px; padding-bottom:0px; padding-left:15px; padding-right:15px;">
            <div class="sp-block-content" style="max-width:240px;">
              <div class="sp-image-holder"
                   data-pos="top-center"
                   data-ratio="square"
                   data-shape="ellipse"
                   style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/5829407_2663x4026_500.jpg);">
                <img alt class="fill"
                     src="https://storage2.snappages.site/KHGFVV/assets/images/5829407_2663x4026_500.jpg"/>
                <div class="sp-image-title"></div>
                <div class="sp-image-caption"></div>
              </div>
            </div>
          </div>
          <div class="sp-block sp-heading-block " style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>
                  <b>Meet our Leaders, Maurice + Erianna Scott</b>
                </h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block " style="text-align:center;">
            <div class="sp-block-content">
              <b>ROLYA is led by Maurice &amp;Erianna Scott and a team of excellent leaders,&nbsp;</b>
              <br>
              <b>with a passion to see the lives and destinies of young adults changed by the power of the Gospel.</b>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-3">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>Weekend Meetups</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-divider-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:100px;">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block " style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h3>One &nbsp;Sunday a month @ 6pm</h3>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:400px;">
              We meet once a month at 6pm in the youth auditorium.
              Scroll down to find the next meet up!
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-1">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>
                  <b>Upcoming Events</b>
                </h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-subsplash_events-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="sp-subsplash-holder">
                <script id="subsplash-embed-gg3v652" type="1cc4358ff5de0412c970a469-text/javascript">
                  var target = document.getElementById("subsplash-embed-gg3v652");
                  var script = document.createElement("script");
                  script.type = "text/javascript";
                  script.onload = function() {subsplashEmbed("+5cbf/lb/ca/+gg3v652?embed&branding", "https://subsplash.com/", "subsplash-embed-gg3v652");};
                  script.src = "https://dashboard.static.subsplash.com/production/web-client/external/embed-1.1.0.js";target.parentElement.insertBefore(script, target);
                </script>
              </div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>
                  <b>Scenes from ROLYA Events</b>
                </h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-gallery-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="gallery-holder">
                <div class="sp-image-grid" data-spacing="true">
                  <div
                    class="sp-image-grid-item"
                    style="background-image:URL(https://storage2.snappages.site/KHGFVV/assets/images/6213457_4609x3471_500.JPG);"
                  ></div>
                  <div
                    class="sp-image-grid-item"
                    style="background-image:URL(https://storage2.snappages.site/KHGFVV/assets/images/6213466_4957x3226_500.JPG);"
                  ></div>
                  <div
                    class="sp-image-grid-item"
                    style="background-image:URL(https://storage2.snappages.site/KHGFVV/assets/images/6213478_4844x3225_500.JPG);"
                  ></div>
                  <div
                    class="sp-image-grid-item"
                    style="background-image:URL(https://storage2.snappages.site/KHGFVV/assets/images/6213483_4898x3265_500.JPG);"
                  ></div>
                  <div
                    class="sp-image-grid-item"
                    style="background-image:URL(https://storage2.snappages.site/KHGFVV/assets/images/6213488_4988x3207_500.JPG);"
                  ></div>
                  <div
                    class="sp-image-grid-item"
                    style="background-image:URL(https://storage2.snappages.site/KHGFVV/assets/images/6213493_3842x2561_500.JPG);"
                  ></div>
                  <div
                    class="sp-image-grid-item"
                    style="background-image:URL(https://storage2.snappages.site/KHGFVV/assets/images/6213498_4854x3296_500.JPG);"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              <span>
                <h2>Contact Us</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-heading-block"
               style="text-align:center; padding-top:25px; padding-bottom:25px;"
          >
            <div class="sp-block-content" style="max-width:800px;">
              <span>
                <h3>We'd love to hear from you. Fill out the form below to get started.</h3>
              </span>
            </div>
          </div>
          <div class="sp-block sp-form-block " style="text-align:center;">
<!--            TODO: Build form module to use  in all places-->
            <div class="sp-block-content"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
