<!-- *** ADD OR EDIT HTML INSIDE OF THE dmRespCol DIVS, SEE DOCUMENTATION FOR GUIDELINES *** -->
<div class="u_1700214844 dmRespRow hide-for-medium hide-for-small" id="1700214844">
  <div class="dmRespColsWrapper" id="1990112841">
    <div class="dmRespCol large-12 medium-12 small-12" id="1586634495">
      <!-- *** INSERT YOUR HTML BELOW *** -->
      <div class="dmRespRow u_1252063258" id="1252063258">
        <div class="dmRespColsWrapper" id="1338630639">
          <div class="dmRespCol large-12 medium-12 small-12" id="1821310189">
            <!-- *** INSERT YOUR HTML BELOW *** -->
            <h1 class="u_1228248452 dmNewParagraph" data-dmtmpl="true" data-element-type="paragraph" id="1228248452" data-vivaldi-spatnav-clickable="1" style="transition: none; display: block;" data-uialign="center" no_space_e="true" data-editor-state="closed" data-anim-desktop="fadeInUp">
              <font style="color: rgb(255, 255, 255);" class="m-font-size-36 lh-1 font-size-70" no_space_b="true" no_space_e="true">
        <span style="font-weight: 400; font-family: 'Fjalla One';" no_space_b="true" no_space_e="true" class="m-font-size-36 lh-1 font-size-70">
         ABOUT
        </span>
              </font>
            </h1>
          </div>
        </div>
      </div>
      <div class="dmRespRow u_1541049902" id="1541049902">
        <div class="dmRespColsWrapper" id="1410026878">
          <div class="dmRespCol small-12 medium-12 large-12 u_1322469461" id="1322469461">
            <!-- *** INSERT YOUR HTML BELOW *** -->
            <div class="u_1122331918 graphicWidget" editablewidget="true" dmle_widget="graphic" data-element-type="graphic" data-widget-type="graphic" id="1122331918">
              <a href="#first-section" id="1483578542" dm_dont_rewrite_url="false" file="false">
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 70 70" id="1718235280" class="svg u_1718235280" data-icon-name="ar-arrow_free_down">
                  <g id="1085405824">
                    <path d="M34,8.9V27c-9,0.5-16.1,7.9-16.1,17c0,9.4,7.7,17.1,17.1,17.1c9.4,0,17.1-7.7,17.1-17.1c0-9.1-7.1-16.5-16.1-17V8.9H34z
		 M50.1,44.1c0,8.3-6.8,15.1-15.1,15.1c-8.3,0-15.1-6.8-15.1-15.1c0-8,6.2-14.5,14.1-15v18l-5.7-6.2l-1.5,1.4l8.2,8.8l8.2-8.8
		l-1.5-1.4L36,47.1V29C43.9,29.5,50.1,36.1,50.1,44.1z" id="1499577213">
                    </path>
                  </g>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- *** ADD OR EDIT HTML INSIDE OF THE dmRespCol DIVS, SEE DOCUMENTATION FOR GUIDELINES *** -->
<div class="dmRespRow u_first-section" id="first-section" data-anchor="first-section">
  <div class="dmRespColsWrapper" id="1552298135">
    <div class="dmRespCol large-12 medium-12 small-12" id="1026575781">
      <!-- *** INSERT YOUR HTML BELOW *** -->
      <div class="dmRespRow u_1309473172" id="1309473172">
        <div class="dmRespColsWrapper" id="1337007679">
          <div class="dmRespCol large-12 medium-12 small-12 u_1125560056" id="1125560056">
            <!-- *** INSERT YOUR HTML BELOW *** -->
            <div class="u_1949888881 dmNewParagraph" data-dmtmpl="true" data-element-type="paragraph" id="1949888881" data-vivaldi-spatnav-clickable="1" data-uialign="center" no_space_e="true" data-anim-desktop="fadeInUp" style="opacity: 1; transform: translate3d(0%, 0%, 0px); visibility: visible !important; transition-delay: unset !important; transition-duration: unset !important; animation-delay: unset !important; animation-duration: unset !important; transition-property: none !important;">
              <font color="#ffffff" no_space_b="true" no_space_e="true">
        <span style="" no_space_b="true" no_space_e="true" class="lh-1 font-size-16">
         River of Life Church House of Restoration is a Bible based, Christo-Centric Ministry plant that  teaches Biblical principles to parishioners and models a 21st Century Ministry in a Post Modern Society. Our flavor of Worship is Pentecostal however, we create an atmosphere through our Worship Experience that makes healing and deliverance available to all who bask in the very presence of God. Join us for one of our Worship Experiences. We are located at 2149 North Avenue, Sacramento, CA 95838. Sunday Morning at 9:00 am.
        </span>
              </font>
            </div>
            <div class="u_1233751403 imageWidget align-center" editablewidget="true" data-element-type="image" dmle_widget="image" data-widget-type="image" id="1233751403" data-anim-desktop="fadeInUp">
              <a id="1733343379">
                <img src="https://irp-cdn.multiscreensite.com/3b2dbe36/dms3rep/multi/ornaments-01.png" id="1846503447" class="" data-dm-image-path="https://irp-cdn.multiscreensite.com/3b2dbe36/dms3rep/multi/ornaments-01.png"/>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="dmRespRow u_1772047513" id="1772047513">
        <div class="dmRespColsWrapper" id="1337256442">
          <div class="dmRespCol large-12 medium-12 small-12" id="1181917326">
            <!-- *** INSERT YOUR HTML BELOW *** -->
            <div class="u_1114480218 flex-container dmImageSlider dmNoMargin dmNoMark" editablewidget="true" data-widget-type="imageSlider" dmle_volatile_widget="true" dmle_widget="dudaSliderId" data-element-type="dSliderId" id="1114480218" data-anim-desktop="zoomIn">
              <div class="flexslider ed-version nav-layout-2" sliderscriptparams="{'stretch':true,'animation':true,'randomize':false,'directionNav':true,'isAutoPlay':true,'isFade':false,'controlNav':false,'slideshowSpeed':7000,'animationDuration':600,'pausePlay':true}" id="1104491670" layout="empty">
                <ul class="slides" id="1537321293">
                  <li layout="center" position="center" animation="fadeInUp" show-content="true" color-overlay="true" text-background="true" id="1717922957">
                    <img dm="true" src="https://irp.cdn-website.com/3b2dbe36/dms3rep/multi/8TH_2411.jpg" id="1521101809" class="" alt="River of Life Church House of Restoration | Sacramento CA | New Age Ministry Church  Nearby"/>
                    <div class="color-overlay" id="1561333372">
                    </div>
                    <div class="slide-inner" id="1544797899">
                      <div class="text-wrapper" id="1019898943">
                        <h3 class="slide-title" id="1906073665">
                          Slide title
                        </h3>
                        <div class="slide-text richText" id="1002906240">
                          Write your caption here
                        </div>
                      </div>
                      <div class="slide-button dmWidget clearfix" id="1472069680">
            <span class="iconBg" dmle_generated="true" id="1959758936">
             <span class="icon hasFontIcon icon-star" dmle_dont_remove="true" dmle_generated="true" id="1986196498">
             </span>
            </span>
                        <span class="text" id="1650704173">
             Button
            </span>
                      </div>
                    </div>
                  </li>
                  <li layout="center" position="center" animation="fadeInUp" show-content="true" color-overlay="true" text-background="true" id="1724940839">
                    <img dm="true" src="https://irp.cdn-website.com/3b2dbe36/dms3rep/multi/8TH_2376.jpg" id="1558948459" class="" alt="River of Life Church House of Restoration | Sacramento CA | New Age Ministry Church  Nearby"/>
                    <div class="color-overlay" id="1853489643">
                    </div>
                    <div class="slide-inner" id="1721016268">
                      <div class="text-wrapper" id="1202381875">
                        <h3 class="slide-title" id="1984676120">
                          Slide title
                        </h3>
                        <div class="slide-text richText" id="1668864636">
                          Write your caption here
                        </div>
                      </div>
                      <div class="slide-button dmWidget clearfix" id="1078004388">
            <span class="iconBg" dmle_generated="true" id="1948295469">
             <span class="icon hasFontIcon icon-star" dmle_dont_remove="true" dmle_generated="true" id="1903893114">
             </span>
            </span>
                        <span class="text" id="1543681394">
             Button
            </span>
                      </div>
                    </div>
                  </li>
                  <li layout="center" position="center" animation="fadeInUp" show-content="true" color-overlay="true" text-background="true" id="1348602936">
                    <img dm="true" src="https://irp.cdn-website.com/3b2dbe36/dms3rep/multi/8TH_2363.jpg" id="1797205670" class="" alt="River of Life Church House of Restoration | Sacramento CA | New Age Ministry Church  Nearby"/>
                    <div class="color-overlay" id="1763423535">
                    </div>
                    <div class="slide-inner" id="1140150688">
                      <div class="text-wrapper" id="1641956252">
                        <h3 class="slide-title" id="1709058665">
                          Slide title
                        </h3>
                        <div class="slide-text richText" id="1599756199">
                          Write your caption here
                        </div>
                      </div>
                      <div class="slide-button dmWidget clearfix" id="1138585235">
            <span class="iconBg" dmle_generated="true" id="1599862899">
             <span class="icon hasFontIcon icon-star" dmle_dont_remove="true" dmle_generated="true" id="1072309814">
             </span>
            </span>
                        <span class="text" id="1529890206">
             Button
            </span>
                      </div>
                    </div>
                  </li>
                  <li layout="center" position="center" animation="fadeInUp" show-content="true" color-overlay="true" text-background="true" id="1400173067">
                    <img dm="true" src="https://irp.cdn-website.com/3b2dbe36/dms3rep/multi/8TH_2305-Edit.jpg" id="1946879884" class="" alt="River of Life Church House of Restoration | Sacramento CA | New Age Ministry Church  Nearby"/>
                    <div class="color-overlay" id="1175571902">
                    </div>
                    <div class="slide-inner" id="1335868554">
                      <div class="text-wrapper" id="1225951313">
                        <h3 class="slide-title" id="1628672407">
                          Slide title
                        </h3>
                        <div class="slide-text richText" id="1122214392">
                          Write your caption here
                        </div>
                      </div>
                      <div class="slide-button dmWidget clearfix" id="1169438173">
            <span class="iconBg" dmle_generated="true" id="1912614253">
             <span class="icon hasFontIcon icon-star" dmle_dont_remove="true" dmle_generated="true" id="1069770469">
             </span>
            </span>
                        <span class="text" id="1302349605">
             Button
            </span>
                      </div>
                    </div>
                  </li>
                  <li layout="center" position="center" animation="fadeInUp" show-content="true" color-overlay="true" text-background="true" id="1089133129">
                    <img dm="true" src="https://irp.cdn-website.com/3b2dbe36/dms3rep/multi/8TH_2260.jpg" id="1263682747" class="" alt="River of Life Church House of Restoration | Sacramento CA | New Age Ministry Church  Nearby"/>
                    <div class="color-overlay" id="1171932209">
                    </div>
                    <div class="slide-inner" id="1735834483">
                      <div class="text-wrapper" id="1597567706">
                        <h3 class="slide-title" id="1210336255">
                          Slide title
                        </h3>
                        <div class="slide-text richText" id="1206445844">
                          Write your caption here
                        </div>
                      </div>
                      <div class="slide-button dmWidget clearfix" id="1472082222">
            <span class="iconBg" dmle_generated="true" id="1521341344">
             <span class="icon hasFontIcon icon-star" dmle_dont_remove="true" dmle_generated="true" id="1872678782">
             </span>
            </span>
                        <span class="text" id="1430052694">
             Button
            </span>
                      </div>
                    </div>
                  </li>
                  <li layout="center" position="center" animation="fadeInUp" show-content="true" color-overlay="true" text-background="true" id="1214351092">
                    <img dm="true" src="https://irp.cdn-website.com/3b2dbe36/dms3rep/multi/8TH_2267.jpg" id="1455705153" class="" alt="River of Life Church House of Restoration | Sacramento CA | New Age Ministry Church  Nearby"/>
                    <div class="color-overlay" id="1241131669">
                    </div>
                    <div class="slide-inner" id="1335344991">
                      <div class="text-wrapper" id="1099601958">
                        <h3 class="slide-title" id="1287778679">
                          Slide title
                        </h3>
                        <div class="slide-text richText" id="1465003997">
                          Write your caption here
                        </div>
                      </div>
                      <div class="slide-button dmWidget clearfix" id="1744933888">
            <span class="iconBg" dmle_generated="true" id="1199284478">
             <span class="icon hasFontIcon icon-star" dmle_dont_remove="true" dmle_generated="true" id="1205589916">
             </span>
            </span>
                        <span class="text" id="1732761815">
             Button
            </span>
                      </div>
                    </div>
                  </li>
                  <li layout="center" position="center" animation="fadeInUp" show-content="true" color-overlay="true" text-background="true" id="1510498544">
                    <img dm="true" src="https://irp.cdn-website.com/3b2dbe36/dms3rep/multi/8TH_2246-Edit.jpg" id="1484155303" class="" alt="River of Life Church House of Restoration | Sacramento CA | New Age Ministry Church  Nearby"/>
                    <div class="color-overlay" id="1230197283">
                    </div>
                    <div class="slide-inner" id="1328170911">
                      <div class="text-wrapper" id="1742548317">
                        <h3 class="slide-title" id="1175488784">
                          Slide title
                        </h3>
                        <div class="slide-text richText" id="1556720714">
                          Write your caption here
                        </div>
                      </div>
                      <div class="slide-button dmWidget clearfix" id="1134639780">
            <span class="iconBg" dmle_generated="true" id="1605328936">
             <span class="icon hasFontIcon icon-star" dmle_dont_remove="true" dmle_generated="true" id="1991883219">
             </span>
            </span>
                        <span class="text" id="1524523806">
             Button
            </span>
                      </div>
                    </div>
                  </li>
                  <li layout="center" position="center" animation="fadeInUp" show-content="true" color-overlay="true" text-background="true" id="1601479708">
                    <img dm="true" src="https://irp.cdn-website.com/3b2dbe36/dms3rep/multi/8TH_2204.jpg" id="1568863376" class="" alt="River of Life Church House of Restoration | Sacramento CA | New Age Ministry Church  Nearby"/>
                    <div class="color-overlay" id="1762478317">
                    </div>
                    <div class="slide-inner" id="1512874119">
                      <div class="text-wrapper" id="1874758268">
                        <h3 class="slide-title" id="1421903708">
                          Slide title
                        </h3>
                        <div class="slide-text richText" id="1014440152">
                          Write your caption here
                        </div>
                      </div>
                      <div class="slide-button dmWidget clearfix" id="1936435683">
            <span class="iconBg" dmle_generated="true" id="1217676685">
             <span class="icon hasFontIcon icon-star" dmle_dont_remove="true" dmle_generated="true" id="1360735895">
             </span>
            </span>
                        <span class="text" id="1037476519">
             Button
            </span>
                      </div>
                    </div>
                  </li>
                  <li layout="center" position="center" animation="fadeInUp" show-content="true" color-overlay="true" text-background="true" id="1631272881">
                    <img dm="true" src="https://irp.cdn-website.com/3b2dbe36/dms3rep/multi/8TH_2415.jpg" id="1839926952" class="" alt="River of Life Church House of Restoration | Sacramento CA | New Age Ministry Church  Nearby"/>
                    <div class="color-overlay" id="1658172725">
                    </div>
                    <div class="slide-inner" id="1239068674">
                      <div class="text-wrapper" id="1539324203">
                        <h3 class="slide-title" id="1029665007">
                          Slide title
                        </h3>
                        <div class="slide-text richText" id="1487521166">
                          Write your caption here
                        </div>
                      </div>
                      <div class="slide-button dmWidget clearfix" id="1622431448">
            <span class="iconBg" dmle_generated="true" id="1192919420">
             <span class="icon hasFontIcon icon-star" dmle_dont_remove="true" dmle_generated="true" id="1582482271">
             </span>
            </span>
                        <span class="text" id="1483698088">
             Button
            </span>
                      </div>
                    </div>
                  </li>
                  <li layout="center" position="center" animation="fadeInUp" show-content="true" color-overlay="true" text-background="true" id="1066685467">
                    <img dm="true" src="https://irp.cdn-website.com/3b2dbe36/dms3rep/multi/8TH_2413.jpg" id="1455314370" class="" alt="River of Life Church House of Restoration | Sacramento CA | New Age Ministry Church  Nearby"/>
                    <div class="color-overlay" id="1984927577">
                    </div>
                    <div class="slide-inner" id="1736909961">
                      <div class="text-wrapper" id="1604021041">
                        <h3 class="slide-title" id="1267092958">
                          Slide title
                        </h3>
                        <div class="slide-text richText" id="1769315216">
                          Write your caption here
                        </div>
                      </div>
                      <div class="slide-button dmWidget clearfix" id="1694635029">
            <span class="iconBg" dmle_generated="true" id="1436308652">
             <span class="icon hasFontIcon icon-star" dmle_dont_remove="true" dmle_generated="true" id="1601203940">
             </span>
            </span>
                        <span class="text" id="1804617201">
             Button
            </span>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- *** ADD OR EDIT HTML INSIDE OF THE dmRespCol DIVS, SEE DOCUMENTATION FOR GUIDELINES *** -->
<div class="dmRespRow u_1507720611 hasBackgroundOverlay dmSectionParallaxNew" id="1507720611">
  <div class="dmRespColsWrapper" id="1781482044">
    <div class="dmRespCol large-12 medium-12 small-12" id="1991158928">
      <!-- *** INSERT YOUR HTML BELOW *** -->
      <div class="dmRespRow u_1457924227" id="1457924227">
        <div class="dmRespColsWrapper" id="1095953588">
          <div class="u_1539176998 dmRespCol small-12 large-7 medium-7" id="1539176998">
            <!-- *** INSERT YOUR HTML BELOW *** -->
            <div class="u_1915378862 dmRespRow" id="1915378862" data-anim-desktop="fadeInLeft">
              <div class="dmRespColsWrapper" id="1731830148">
                <div class="u_1166038641 dmRespCol small-12 medium-12 large-12" id="1166038641">
                  <!-- *** INSERT YOUR HTML BELOW *** -->
                  <h3 class="u_1133080322 dmNewParagraph" dmle_widget="paragraph" data-element-type="paragraph" id="1133080322" data-vivaldi-spatnav-clickable="1" style="transition: opacity 1s ease-in-out;" data-uialign="center" no_space_e="true">
                    <font color="#ffffff" no_space_b="true" no_space_e="true">
                      The pedagogy of our ministry is free of heresy
                    </font>
                  </h3>
                </div>
              </div>
            </div>
            <div class="u_1978384491 dmRespRow" id="1978384491" data-anim-desktop="fadeInLeft">
              <div class="dmRespColsWrapper" id="1890406527">
                <div class="dmRespCol large-12 medium-12 small-12" id="1192582507">
                  <!-- *** INSERT YOUR HTML BELOW *** -->
                  <div class="dmNewParagraph u_1051582175" data-dmtmpl="true" data-element-type="paragraph" id="1051582175" data-vivaldi-spatnav-clickable="1" style="transition: none; display: block;" data-uialign="center" data-editor-state="closed" no_space_e="true">
                    <div no_space_b="true" no_space_e="true" style="text-align: left;">
                      <font no_space_b="true" no_space_e="true" color="#ffffff">
                        The Holy Scriptures are the context of all truth and are God inspired. You will receive an &quot;Exegesis&quot;, (explanation), of the Biblical Passage every time you attend. Please give us a try, you will be glad you did. If you cannot make it to our assembly, feel free to watch our Facebook Live Podcast every Sunday Morning @ 9:00 AM.
                      </font>
                    </div>
                    <div no_space_b="true" no_space_e="true" style="text-align: left;">
                      <font no_space_b="true" no_space_e="true" color="#ffffff">
                        <br no_space_b="true" no_space_e="true"/>
                      </font>
                    </div>
                    <div no_space_b="true" no_space_e="true" style="text-align: left;">
                      <font no_space_b="true" no_space_e="true" color="#ffffff">
                        If you would like Pastor Clifton Edwards Jr. to speak at your church or conference, please click on the Booking &amp; Contact tab and a staff member will connect with you as soon as possible.
                      </font>
                    </div>
                    <div no_space_b="true" no_space_e="true" style="text-align: left;">
                      <font no_space_b="true" no_space_e="true" color="#ffffff">
                        <br no_space_b="true" no_space_e="true"/>
                      </font>
                    </div>
                    <div no_space_b="true" no_space_e="true" style="text-align: left;">
                      <font no_space_b="true" no_space_e="true" color="#ffffff">
                        Please feel free to place your blogs or comments on our Website and let us know how the ministry is blessing you.
                      </font>
                    </div>
                    <div no_space_b="true" no_space_e="true" style="text-align: left;">
                      <font no_space_b="true" no_space_e="true" color="#ffffff">
                        <br no_space_b="true" no_space_e="true"/>
                      </font>
                    </div>
                    <div no_space_b="true" no_space_e="true" style="text-align: left;">
                      <font no_space_b="true" no_space_e="true" color="#ffffff">
                        Thanks again for visiting our Website and remember, our ministry is designed to satisfy those who are thirsty, (life changing experience). John 4:14,&quot; If you drink of this water, you will never thirst again&quot;. Shalom!
                      </font>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="u_1735251248 dmRespCol small-12 large-5 medium-5 hide-for-small" id="1735251248">
            <!-- *** INSERT YOUR HTML BELOW *** -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




