<!-- *** ADD OR EDIT HTML INSIDE OF THE dmRespCol DIVS, SEE DOCUMENTATION FOR GUIDELINES *** -->
<div class="u_1700214844 dmRespRow hide-for-medium hide-for-small" id="1700214844">
  <div class="dmRespColsWrapper" id="1990112841">
    <div class="dmRespCol large-12 medium-12 small-12" id="1586634495">
      <!-- *** INSERT YOUR HTML BELOW *** -->
      <div class="dmRespRow u_1252063258" id="1252063258">
        <div class="dmRespColsWrapper" id="1338630639">
          <div class="dmRespCol large-12 medium-12 small-12" id="1821310189">
            <!-- *** INSERT YOUR HTML BELOW *** -->
            <h1 class="u_1228248452 dmNewParagraph" data-dmtmpl="true" data-element-type="paragraph" id="1228248452" data-vivaldi-spatnav-clickable="1" style="transition: none; display: block;" data-uialign="center" no_space_e="true" data-editor-state="closed" data-anim-desktop="fadeInUp">
              <font style="color: rgb(255, 255, 255);" class="m-font-size-36 lh-1 font-size-70" no_space_b="true" no_space_e="true">
        <span style="font-weight: 400; font-family: 'Fjalla One';" no_space_b="true" no_space_e="true" class="m-font-size-36 lh-1 font-size-70">
         WATCH LIVE
        </span>
              </font>
            </h1>
          </div>
        </div>
      </div>
      <div class="dmRespRow u_1541049902" id="1541049902">
        <div class="dmRespColsWrapper" id="1410026878">
          <div class="dmRespCol small-12 medium-12 large-12 u_1322469461" id="1322469461">
            <!-- *** INSERT YOUR HTML BELOW *** -->
            <div class="u_1122331918 graphicWidget" editablewidget="true" dmle_widget="graphic" data-element-type="graphic" data-widget-type="graphic" id="1122331918">
              <a href="#first-section" id="1483578542" dm_dont_rewrite_url="false" file="false">
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 70 70" id="1718235280" class="svg u_1718235280" data-icon-name="ar-arrow_free_down">
                  <g id="1085405824">
                    <path d="M34,8.9V27c-9,0.5-16.1,7.9-16.1,17c0,9.4,7.7,17.1,17.1,17.1c9.4,0,17.1-7.7,17.1-17.1c0-9.1-7.1-16.5-16.1-17V8.9H34z
		 M50.1,44.1c0,8.3-6.8,15.1-15.1,15.1c-8.3,0-15.1-6.8-15.1-15.1c0-8,6.2-14.5,14.1-15v18l-5.7-6.2l-1.5,1.4l8.2,8.8l8.2-8.8
		l-1.5-1.4L36,47.1V29C43.9,29.5,50.1,36.1,50.1,44.1z" id="1499577213">
                    </path>
                  </g>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- *** ADD OR EDIT HTML INSIDE OF THE dmRespCol DIVS, SEE DOCUMENTATION FOR GUIDELINES *** -->
<div class="dmRespRow u_first-section" id="first-section" data-anchor="first-section">
  <div class="dmRespColsWrapper" id="1552298135">
    <div class="dmRespCol large-12 medium-12 small-12" id="1026575781">
      <!-- *** INSERT YOUR HTML BELOW *** -->
      <div class="dmRespRow u_1309473172" id="1309473172">
        <div class="dmRespColsWrapper" id="1337007679">
          <div class="dmRespCol large-12 medium-12 small-12" id="1125560056">
            <!-- *** INSERT YOUR HTML BELOW *** -->
            <div class="u_1949888881 dmNewParagraph" data-dmtmpl="true" data-element-type="paragraph" id="1949888881" data-vivaldi-spatnav-clickable="1" style="transition: none; display: block;" data-uialign="center" no_space_e="true" data-anim-desktop="fadeInUp">
              <font color="#ffffff" no_space_b="true" no_space_e="true">
        <span style="font-size: 16px;" no_space_b="true" no_space_e="true">
         You've got a website that you worked super hard to complete. You want the world to visit it, be compelled by your mission and vision, and respond by getting involved, contributing, buying, or even asking for help and services. To do that, you need to convince them with your words, images, and media. This takes time, effort, and sometimes money. But, we're going to talk you through a few tips that will help cut to the chase and create compelling, targeted, and efficient content clients, customers, donors, volunteers, potential partners will love.
        </span>
              </font>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- *** ADD OR EDIT HTML INSIDE OF THE dmRespCol DIVS, SEE DOCUMENTATION FOR GUIDELINES *** -->
<div class="dmRespRow u_1507720611 hasBackgroundOverlay" id="1507720611">
  <div class="dmRespColsWrapper" id="1781482044">
    <div class="dmRespCol large-12 medium-12 small-12" id="1991158928">
      <!-- *** INSERT YOUR HTML BELOW *** -->
      <div class="dmRespRow u_1629222120" id="1629222120">
        <div class="dmRespColsWrapper" id="1321999705">
          <div class="u_1357600367 dmRespCol small-12 large-7 medium-7" id="1357600367">
            <!-- *** INSERT YOUR HTML BELOW *** -->
            <div class="u_1775056709 dmRespRow" id="1775056709" data-anim-desktop="fadeInLeft">
              <div class="dmRespColsWrapper" id="1054511118">
                <div class="u_1684413824 dmRespCol small-12 medium-12 large-12" id="1684413824">
                  <!-- *** INSERT YOUR HTML BELOW *** -->
                  <h3 class="u_1000515834 dmNewParagraph" dmle_widget="paragraph" data-element-type="paragraph" id="1000515834" data-vivaldi-spatnav-clickable="1" style="transition: opacity 1s ease-in-out;" data-uialign="center" no_space_e="true">
                    IMPORTANT NOTE:
                  </h3>
                </div>
              </div>
            </div>
            <div class="u_1728286911 dmRespRow" id="1728286911" data-anim-desktop="fadeInLeft">
              <div class="dmRespColsWrapper" id="1824140166">
                <div class="dmRespCol large-12 medium-12 small-12" id="1912922056">
                  <!-- *** INSERT YOUR HTML BELOW *** -->
                  <div class="dmNewParagraph u_1160565649" data-dmtmpl="true" data-element-type="paragraph" id="1160565649" data-vivaldi-spatnav-clickable="1" style="transition: none; display: block;" data-uialign="center" data-editor-state="closed" no_space_e="true">
                    <div no_space_b="true" no_space_e="true" style="text-align: left;">
                      <font color="#ffffff" no_space_b="true" no_space_e="true">
                        This information appears on this page because you have not yet added content to it. It's just a placeholder. It will be removed when either you sign into your Client Dashboard and replace it using the Content Manager or our team finishes placing information that you have sent to us through our content management services onto this page.
                        <span style="text-decoration-line: underline;" no_space_e="true">
             If you are in the Content Manager now, click on the New Page icon above (to the right of the Source button) or highlight all of this text and press the DELETE key to remove all of this
            </span>
                        . But since you're here, let's talk about content.
                      </font>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="u_1522138994 dmRespCol small-12 large-5 medium-5" id="1522138994">
            <!-- *** INSERT YOUR HTML BELOW *** -->
            <div class="u_1690651539 imageWidget align-center" editablewidget="true" data-element-type="image" dmle_widget="image" data-widget-type="image" id="1690651539" data-anim-desktop="fadeInUp">
              <a id="1671519002">
                <img src="https://irp-cdn.multiscreensite.com/3b2dbe36/dms3rep/multi/graphicLorem2.jpg" id="1506869133" class="" data-dm-image-path="https://irp-cdn.multiscreensite.com/3b2dbe36/dms3rep/multi/graphicLorem2.jpg"/>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="dmRespRow u_1964443560" id="1964443560">
        <div class="dmRespColsWrapper" id="1723460670">
          <div class="u_1026777631 dmRespCol small-12 large-5 medium-5 hide-for-small" id="1026777631">
            <!-- *** INSERT YOUR HTML BELOW *** -->
          </div>
          <div class="u_1312839847 dmRespCol small-12 large-7 medium-7" id="1312839847">
            <!-- *** INSERT YOUR HTML BELOW *** -->
            <div class="u_1868278562 dmRespRow" id="1868278562" data-anim-desktop="fadeInRight">
              <div class="dmRespColsWrapper" id="1910603040">
                <div class="u_1709671713 dmRespCol small-12 medium-12 large-12" id="1709671713">
                  <!-- *** INSERT YOUR HTML BELOW *** -->
                  <h3 class="u_1966288279 dmNewParagraph" dmle_widget="paragraph" data-element-type="paragraph" id="1966288279" data-vivaldi-spatnav-clickable="1" style="transition: opacity 1s ease-in-out;" data-uialign="center" no_space_e="true">
                    DEFINE YOUR GOALS. DON'T BE AIMLESS.
                  </h3>
                </div>
              </div>
            </div>
            <div class="u_1057468509 dmRespRow" id="1057468509" data-anim-desktop="fadeInRight">
              <div class="dmRespColsWrapper" id="1409443302">
                <div class="dmRespCol large-12 medium-12 small-12" id="1658896641">
                  <!-- *** INSERT YOUR HTML BELOW *** -->
                  <div class="dmNewParagraph u_1080690764" data-dmtmpl="true" data-element-type="paragraph" id="1080690764" data-vivaldi-spatnav-clickable="1" style="transition: none; display: block;" data-uialign="center" data-editor-state="closed" no_space_e="true">
                    <div no_space_b="true" no_space_e="true" style="text-align: left;">
           <span style="color: rgb(255, 255, 255);" no_space_b="true" no_space_e="true">
            Start off by determining what you want a website visitor to do once they read your content. Do you want them to download a PDF? Do you want them to fill out a form? Do you want them to submit a donation through your website? Knowing the answers to these questions allows you to craft your content in a way that persuades them to do exactly what you want them to do.
           </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="dmRespRow u_1457924227" id="1457924227">
        <div class="dmRespColsWrapper" id="1095953588">
          <div class="u_1539176998 dmRespCol small-12 large-7 medium-7" id="1539176998">
            <!-- *** INSERT YOUR HTML BELOW *** -->
            <div class="u_1915378862 dmRespRow" id="1915378862" data-anim-desktop="fadeInLeft">
              <div class="dmRespColsWrapper" id="1731830148">
                <div class="u_1166038641 dmRespCol small-12 medium-12 large-12" id="1166038641">
                  <!-- *** INSERT YOUR HTML BELOW *** -->
                  <h3 class="u_1133080322 dmNewParagraph" dmle_widget="paragraph" data-element-type="paragraph" id="1133080322" data-vivaldi-spatnav-clickable="1" style="transition: opacity 1s ease-in-out;" data-uialign="center" no_space_e="true">
                    BE PASSIONATE. DON'T BE CLINICAL.
                  </h3>
                </div>
              </div>
            </div>
            <div class="u_1978384491 dmRespRow" id="1978384491" data-anim-desktop="fadeInLeft">
              <div class="dmRespColsWrapper" id="1890406527">
                <div class="dmRespCol large-12 medium-12 small-12" id="1192582507">
                  <!-- *** INSERT YOUR HTML BELOW *** -->
                  <div class="dmNewParagraph u_1051582175" data-dmtmpl="true" data-element-type="paragraph" id="1051582175" data-vivaldi-spatnav-clickable="1" style="transition: none; display: block;" data-uialign="center" data-editor-state="closed" no_space_e="true">
                    <div no_space_b="true" no_space_e="true" style="text-align: left;">
           <span style="color: rgb(255, 255, 255);" no_space_b="true" no_space_e="true">
            A mistake that many businesses and nonprofits make with their website is being too dispassionate about what they are saying. Boring mission statements, stoic history timelines, and no attention to the donation appeal text are costing organizations millions, and they don't even know it. Start off the right way by making your content passionate, exciting, and inviting. Talk as you would on a stage or in person. Develop a voice to your content that relates to your audience. Don't put your visitors to sleep with clinical, monotone information that doesn't inspire them. Think about what inspires you and infect them with that same level of motivation.
           </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="u_1735251248 dmRespCol small-12 large-5 medium-5 hide-for-small" id="1735251248">
            <!-- *** INSERT YOUR HTML BELOW *** -->
          </div>
        </div>
      </div>
      <div class="dmRespRow u_1510091779" id="1510091779">
        <div class="dmRespColsWrapper" id="1569924367">
          <div class="u_1596689035 dmRespCol small-12 large-5 medium-5 hide-for-small" id="1596689035">
            <!-- *** INSERT YOUR HTML BELOW *** -->
          </div>
          <div class="u_1012898155 dmRespCol small-12 large-7 medium-7" id="1012898155">
            <!-- *** INSERT YOUR HTML BELOW *** -->
            <div class="u_1143130804 dmRespRow" id="1143130804" data-anim-desktop="fadeInRight">
              <div class="dmRespColsWrapper" id="1641702478">
                <div class="u_1643234156 dmRespCol small-12 medium-12 large-12" id="1643234156">
                  <!-- *** INSERT YOUR HTML BELOW *** -->
                  <h3 class="u_1258026997 dmNewParagraph" dmle_widget="paragraph" data-element-type="paragraph" id="1258026997" data-vivaldi-spatnav-clickable="1" style="transition: opacity 1s ease-in-out;" data-uialign="center" no_space_e="true">
                    BE PERSONAL. DON'T BE FORMAL.
                  </h3>
                </div>
              </div>
            </div>
            <div class="u_1247773835 dmRespRow" id="1247773835" data-anim-desktop="fadeInRight">
              <div class="dmRespColsWrapper" id="1834149133">
                <div class="dmRespCol large-12 medium-12 small-12" id="1269195311">
                  <!-- *** INSERT YOUR HTML BELOW *** -->
                  <div class="dmNewParagraph u_1241468144" data-dmtmpl="true" data-element-type="paragraph" id="1241468144" data-vivaldi-spatnav-clickable="1" style="transition: none; display: block;" data-uialign="center" data-editor-state="closed" no_space_e="true">
                    <div no_space_b="true" no_space_e="true" style="text-align: left;">
                      <font color="#ffffff" no_space_b="true" no_space_e="true">
                        People want to be spoken to by people, not websites. Address your audience as if they were right in front of you. Think about how you would relate to them. If they are donors, think about the reasons your current donors give and what personal attachment they have to your mission. If your audience is potential clients (people to help), think about the situations they find themselves in and what concerns they have when they come to you for assistance. Talk to them at their level, not above it. Don't create artificial barriers by formalizing your language.
                      </font>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- *** ADD OR EDIT HTML INSIDE OF THE dmRespCol DIVS, SEE DOCUMENTATION FOR GUIDELINES *** -->
<div class="u_1333911266 dmRespRow fullBleedChanged fullBleedMode" style="text-align: center;" id="1333911266">
  <div class="dmRespColsWrapper" id="1921760331">
    <div class="u_1038367133 dmRespCol small-12 large-5 medium-5" id="1038367133" data-anim-desktop="fadeInLeft">
      <!-- *** INSERT YOUR HTML BELOW *** -->
      <h3 class="u_1630021737 dmNewParagraph" dmle_widget="paragraph" data-element-type="paragraph" id="1630021737" data-vivaldi-spatnav-clickable="1" style="transition: opacity 1s ease-in-out;" data-uialign="center" no_space_e="true">
        <font color="#40092d" no_space_b="true" no_space_e="true">
          TALK IN SECTIONS. DON'T RAMBLE ON.
        </font>
      </h3>
      <div class="u_1179506503 dmNewParagraph" data-dmtmpl="true" id="1179506503" data-uialign="center" style="transition: opacity 1s ease-in-out 0s;" no_space_e="true" data-editor-state="closed">
        <div no_space_b="true" no_space_e="true">
          <font color="#101010" no_space_b="true" no_space_e="true">
            People most definitely read on the internet. After all, that's what you're doing right now. But, like this post, you will want to divide what you write into digestible sections that a website visitor can quickly scan before deciding that he or she intends to read the information in that section. Be as long winded with your page as you need to be. But, remember to break your content up using section headers and stick to your talking points under each header.
          </font>
        </div>
      </div>
    </div>
    <div class="u_1536844897 dmRespCol small-12 dmSectionNoParallax large-7 medium-7" id="1536844897" data-gallery-bg="eyJzbGlkZXMiOlsiaHR0cHM6Ly9pcnAtY2RuLm11bHRpc2NyZWVuc2l0ZS5jb20vbWQvZG1pcC9kbXMzcmVwL211bHRpL2hvbWUtZGVjb3ItZGl5LmpwZyJdfQ==" data-anim-desktop="fadeInUp">
      <!-- *** INSERT YOUR HTML BELOW *** -->
    </div>
  </div>
</div>





