<section class="sp-section sp-scheme-1 include-menu" style="padding-top: 349px;">
  <div class="sp-section-backgrounds">
    <div class="sp-section-background" data-darkreader-inline-color="" data-style="color: rgba(41, 128, 185, .44);"
         data-type="video"
         data-video-id="o5zDH9-3w2k"
         data-video-source="youtube"
         style="color: rgba(41, 128, 185, 0.44); left: 0%; --darkreader-inline-color: rgba(84, 164, 217, 0.44);">
      <iframe
        allowfullscreen="false"
        data-vidmark="1" frameborder="0" id="pulse_yt_1"
        src="https://www.youtube.com/embed/bnBY4tQosdk?si=RPAq9NYdKIio1r27&amp;autoplay=1&amp;loop=1&amp;mute=1&amp;cc_load_policy=0&amp;controls=0&amp;disablekb=0&amp;iv_load_policy=3&amp;playsinline=1&amp;rel=0&amp;showinfo=0&amp;modestbranding=3&amp;enablejsapi=1"
        style="height: 1080px; width: 1920px;" title="Website September 2021"></iframe>
    </div>
  </div>
  <div class="sp-section-slide current" data-tint="rgba(41, 128, 185, .44)">
    <div class="sp-section-content" style="padding-top:150px;padding-bottom:150px;">
      <div class="sp-grid sp-col sp-col-24">
        <div class="sp-block sp-heading-block " data-id="0eed201f-17ad-4f16-bbfc-864639247294" data-type="heading"
             style="text-align:center;padding-top:5px;padding-bottom:5px;">
          <div class="sp-block-content" style="max-width:580px;"><span class="h1"><h1
            style="font-size:1em;">RIVER OF LIFE CHURCH</h1></span></div>
        </div>
        <div class="sp-block sp-text-block " data-id="43759939-229b-4b44-a301-9c2664321691" data-type="text"
             style="text-align:center;">
          <div class="sp-block-content" style=""><span class="fr-marker" data-id="0" data-type="true"
                                                       style="display: none; line-height: 0;"></span>
            HOUSE OF RESTORATION<span class="fr-marker" data-id="0" data-type="false"
                         style="display: none; line-height: 0;"></span><br><br></div>
        </div>
        <div class="sp-block sp-divider-block " data-id="46a18139-4f4e-42dc-94f1-de5fd470659d" data-type="divider"
             style="text-align:center;">
          <div class="sp-block-content" style="max-width:550px;">
            <div class="sp-divider-holder"></div>
          </div>
        </div>
        <div class="sp-row">
          <div class="sp-col sp-col-12">
            <div class="sp-block sp-button-block " data-id="b7f7757a-ece1-4ddd-8852-f05a26447295" data-type="button"
                 style="text-align:right;">
              <div class="sp-block-content" style=""><span class="text-reset"><a class="sp-button outline"
                                                                                 data-color="transparent"
                                                                                 data-darkreader-inline-bgcolor=""
                                                                                 data-darkreader-inline-color=""
                                                                                 data-label="PLAN YOUR VISIT"
                                                                                 data-style="outline"
                                                                                 data-text-color="#ffffff"
                                                                                 href="/about"
                                                                                 style="background-color: transparent !important; color: rgb(255, 255, 255) !important; --darkreader-inline-bgcolor: transparent; --darkreader-inline-color: #e8e6e3;"
                                                                                 target="_blank">PLAN YOUR VISIT</a></span>
              </div>
            </div>
          </div>
          <div class="sp-col sp-col-12">
            <div class="sp-block sp-button-block " data-id="1dd758fb-7157-496f-94b5-1794452ea850" data-type="button"
                 style="text-align:left;">
              <div class="sp-block-content" style=""><span class="text-reset"><a class="sp-button outline"
                                                                                 data-color="transparent"
                                                                                 data-darkreader-inline-bgcolor=""
                                                                                 data-darkreader-inline-color=""
                                                                                 data-label="need prayer?"
                                                                                 data-style="outline"
                                                                                 data-text-color="#ffffff"
                                                                                 href="https://riveroflifechurch.breezechms.com/form/a20ef6"
                                                                                 style="background-color: transparent !important; color: rgb(255, 255, 255) !important; --darkreader-inline-bgcolor: transparent; --darkreader-inline-color: #e8e6e3;"
                                                                                 target="_blank">need prayer?</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sp-resizer">
    <iframe></iframe>
    <iframe></iframe>
  </div>
</section>
