<main id="sp-content">
  <section class="sp-section sp-scheme-1" id="GROW-marriage_content_header">
    <div class="sp-section-slide">
      <div class="sp-section-content" style="padding-top:120px; padding-bottom:120px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h1>
                  <b>MARRIAGE</b>
                </h1>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0" id="GROW-marriage_meet_leaders">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>
                  As long as we love one another, God will live in us,
                  <br>
                  and His love will be complete in us.
                </h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h3>I John 4:12</h3>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              At River of Life, we are here for marriages. &nbsp;We believe that a godly marriage is a blessing to the
              entire church. &nbsp;Here, we want your marriage to thrive. &nbsp;Through our Marriage Group, we mentor
              couples, offer exciting events, and create an atmosphere where you and your spouse can connect + grow.
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div
            class="sp-block sp-image-block"
            style="text-align:center; padding-top:0px; padding-bottom:0px; padding-left:15px; padding-right:15px;"
          >
            <div class="sp-block-content" style="max-width:240px;">
              <div
                class="sp-image-holder"
                style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/1803313_2000x1333_500.jpg);"
                data-shape="ellipse"
                data-ratio="square"
              >
                <img
                  src="https://storage2.snappages.site/KHGFVV/assets/images/1803313_2000x1333_500.jpg"
                  class="fill"
                  alt
                />
                <div class="sp-image-title"></div>
                <div class="sp-image-caption"></div>
              </div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>Meet Our Leaders</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-divider-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:100px;">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:600px;">
              <b>Keith and Linda Jones</b> head up our Marriage group. They have a passion to see healthy marriages grow
              and develop.
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>
                  <b>Marriage Events</b>
                </h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-subsplash_events-block">
            <div class="sp-block-content">
              <div class="sp-subsplash-holder">
                <script id="subsplash-embed-hvss4k6" type="ca678ea6f29fc21da6563319-text/javascript">
                  var target = document.getElementById("subsplash-embed-hvss4k6");
                  var script = document.createElement("script");script.type = "text/javascript";
                  script.onload = function() {subsplashEmbed("+5cbf/lb/ca/+hvss4k6?embed&branding", "https://subsplash.com/", "subsplash-embed-hvss4k6");};
                  script.src = "https://dashboard.static.subsplash.com/production/web-client/external/embed-1.1.0.js";target.parentElement.insertBefore(script, target);
                </script>
              </div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>
                  <b>Marriage Mentorship</b>
                </h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content">
              We have seasoned and experienced couple mentor/coaches to come alongside married and engaged couples to help
              <br>
              them navigate their journey. &nbsp;These mentors/coaches have a heart for:
              <br>
              <b>
                <br>
                Helping navigate the unique challenges and dynamics of marriage
                <br>
                Discovering God's plan for marriage
                <br>
                Turning challenges into opportunities for growth
                <br>
                Discovering the joy of knowing your spouse and being known
                <br>
                Supporting and strengthening marriages
              </b>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <div class="spacer-holder" style="height:28px;"></div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-button-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <span class="text-reset">
                <a
                  class="sp-button"
                  href="https://riveroflife-jax.ccbchurch.com/goto/forms/209/responses/new"
                  target="_self"
                >
                  Request a marriage mentor
                </a>
              </span>
            </div>
          </div>
          <div class="sp-block sp-divider-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:100px;">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0" id="GROW-marriage_meet_mentors">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>Meet the Marriage Mentors</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-divider-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:100px;">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:550px;">
              Our Marriage mentors are here for YOU!
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-row">
            <div class="sp-col sp-col-5">
              <div
                class="sp-block sp-image-block"
                style="text-align:center; padding-top:0px; padding-bottom:0px; padding-left:15px; padding-right:15px;"
              >
                <div class="sp-block-content" style>
                  <div
                    class="sp-image-holder"
                    style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/1803348_6960x4640_500.jpg);"
                    data-ratio="square"
                  >
                    <img
                      src="https://storage2.snappages.site/KHGFVV/assets/images/1803348_6960x4640_500.jpg"
                      class="fill"
                      alt
                    />
                    <div class="sp-image-title"></div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-6">
              <div
                class="sp-block sp-heading-block"
                style="text-align:left; padding-top:0px; padding-bottom:0px;"
              >
                <div class="sp-block-content">
                  <span>
                    <h3>LeBaron + Athalyn Fitz</h3>
                  </span>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-2">
              <div class="sp-block sp-spacer-block">
                <div class="sp-block-content">
                  <div class="spacer-holder" style="height:30px;"></div>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-5">
              <div
                class="sp-block sp-image-block"
                style="text-align:center; padding-top:0px;padding-bottom:0px; padding-left:15px; padding-right:15px;"
              >
                <div class="sp-block-content" style>
                  <div
                    class="sp-image-holder"
                    style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/1803353_6960x4640_500.jpg);"
                    data-ratio="square"
                  >
                    <img
                      src="https://storage2.snappages.site/KHGFVV/assets/images/1803353_6960x4640_500.jpg"
                      class="fill"
                      alt
                    />
                    <div class="sp-image-title"></div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-6">
              <div
                class="sp-block sp-heading-block"
                style="text-align:left; padding-top:0px; padding-bottom:0px;"
              >
                <div class="sp-block-content">
                  <span>
                    <h3>James + Pat Ladson</h3>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style>
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:60px;"></div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block  sp-hide-tablet sp-hide-mobile">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:45px;"></div>
            </div>
          </div>
          <div class="sp-block sp-divider-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:100px;">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-row">
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-heading-block">
                <div class="sp-block-content">
                  <span>
                    <h2>Interested in becoming a marriage mentor?</h2>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block">
                <div class="sp-block-content">
                  Are you a marriage mentor or interested in becoming one? Use the button below to download information.
                </div>
              </div>
              <div class="sp-block sp-button-block" style="text-align:left;">
                <div class="sp-block-content">
                  <span class="text-reset">
                    <a
                      class="sp-button"
                      href="https://riveroflife-jax.ccbchurch.com/goto/forms/210/responses/new"
                      target="_self"
                    >
                      Fill Out a Request
                    </a>
                  </span>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-image-block">
                <div class="sp-block-content">
                  <div
                    class="sp-image-holder"
                    style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/1803420_5472x3648_500.jpg);"
                  >
                    <img
                      src="https://storage2.snappages.site/KHGFVV/assets/images/1803420_5472x3648_500.jpg"
                      class="fill"
                      alt
                    />
                    <div class="sp-image-title"></div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sp-block sp-divider-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:100px;">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-1" id="GROW-marriage_getting_married">
    <div class="sp-section-slide">
      <div class="sp-section-content" style="padding-top:150px; padding-bottom:150px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:600px;">
              <span>
                <h2>
                  <b>Getting Married?</b>
                </h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-spacer-block sp-hide-mobile">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:25px;"></div>
            </div>
          </div>
          <div class="sp-block sp-button-block" style="text-align:center;">
            <div class="sp-block-content">
              <span class="text-reset">
                <a
                  class="sp-button"
                  routerLink="/about/contact"
                  target="_self"
                >
                  Contact Us
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
