<main id="sp-content">
  <section class="sp-section sp-scheme-1" style="padding-top: 349px;">
    <div class="sp-section-backgrounds">
      <div class="sp-section-background" data-darkreader-inline-bgcolor=""
           data-darkreader-inline-color=""
           data-type="image" style="background: url(&quot;https://storage2.snappages.site/KHGFVV/assets/images/9865431_5472x3648_2500.JPG&quot;) 50% 50% / cover no-repeat scroll; color: rgba(0, 0, 0, 0.14); left: 0%; --darkreader-inline-bgcolor: initial; --darkreader-inline-color: rgba(232, 230, 227, 0.14);"></div>
    </div>
    <div class="sp-section-slide">
      <div class="sp-section-content" style="padding-top:150px; padding-bottom:150px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:left;">
            <div class="sp-block-content" style="max-width:500px;">
              <span>
                <h1>
                  <b>DEEPEN YOUR SPIRITUAL JOURNEY</b>
                </h1>
              </span>
            </div>
          </div>
          <div class="sp-block sp-divider-block">
            <div class="sp-block-content">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:left;">
            <div class="sp-block-content" style="max-width:500px;">
              <b>
                Congratulations on embarking on your Christian journey! But where do you go from here? We're here to
                guide you as you grow in your faith and embrace the purpose God has for you. If you're seeking the next
                steps in your journey, here's how we can assist you:
              </b>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-row">
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-image-block" style="padding-top:15px; padding-bottom:15px;">
                <div class="sp-block-content">
                  <div class="sp-image-holder"
                       data-ratio="four-three"
                       data-shadow="soft"
                       style="background-image:url(https://as1.ftcdn.net/v2/jpg/05/99/42/72/1000_F_599427217_JT91Bjb0AOU3ahUqYHoog4PQrLaHSULm.jpg);">
                    <img alt
                         class="fill"
                         src="https://storage2.snappages.site/KHGFVV/assets/images/9865526_4480x6720_500.jpg"/>
                    <div class="sp-image-title"></div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
              <div class="sp-block sp-spacer-block" style="text-align:start;">
                <div class="sp-block-content">
                  <div class="spacer-holder" data-height="20" style="height:20px;"></div>
                </div>
              </div>
              <div class="sp-block sp-heading-block"
                   style="text-align:center; padding-top:0px; padding-bottom:0px;">
                <div class="sp-block-content">
                  <span>
                    <h2>
                      Next Steps
                      <br>
                      Classes
                    </h2>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:800px;">
                  These empowering sessions, formerly known as the Purple Book, are tailored to help believers construct
                  their lives upon the foundation of the Word and cultivate spiritual maturity. Delve into topics such
                  as prayer and worship, faith and hope, spiritual hunger, and God's Word. Whether you're new to the
                  faith or a seasoned believer, these classes offer a profound opportunity for growth. Completion of
                  these classes is required for membership at River of Life, although membership is not a prerequisite
                  for attendance.
                  <br><br>
                  Classes are held during our <b>Mid-week Renewal format on Wednesdays at 6pm.</b>
                </div>
              </div>
              <div class="sp-block sp-button-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span class="text-reset">
                    <a class="sp-button"
                       data-label="Learn More"
                       href="/growtime"
                       target="_self">
                      Learn More
                    </a>
                  </span>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-image-block">
                <div class="sp-block-content">
                  <div class="sp-image-holder"
                       data-ratio="four-three"
                       data-shadow="soft"
                       style="background-image:url(https://as1.ftcdn.net/v2/jpg/06/82/37/90/1000_F_682379010_92X7egR4QjbbNGrRAHAQV8lxtThZAQXz.jpg);">
                    <img alt
                         class="fill"
                         src="https://storage2.snappages.site/KHGFVV/assets/images/9865562_2736x4104_500.jpg"/>
                    <div class="sp-image-title"></div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
              <div class="sp-block sp-spacer-block" style="text-align:start;">
                <div class="sp-block-content">
                  <div class="spacer-holder" style="height:20px;"></div>
                </div>
              </div>
              <div class="sp-block sp-heading-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <h2>Membership Classes</h2>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:800px;">
                  If you've been a part of River of Life for some time and are considering membership, our membership
                  classes are designed just for you. Discover the history, values, and vision of River of Life Church in
                  these informative sessions.
                  <br><br>
                  Held quarterly on Saturday mornings, stay tuned for updates on the next class schedule.
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-image-block">
                <div class="sp-block-content">
                  <div class="sp-image-holder"
                       data-ratio="four-three"
                       data-shadow="soft"
                       style="background-image:url(https://as2.ftcdn.net/v2/jpg/06/53/28/37/1000_F_653283720_VLYVa3PiQUTQOo6zSJp3pWnxl00nGKl3.jpg);">
                    <img alt
                         class="fill"
                         src="https://storage2.snappages.site/KHGFVV/assets/images/9865613_5472x3648_500.JPG"/>
                    <div class="sp-image-title"></div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
              <div class="sp-block sp-spacer-block" style="text-align:start;">
                <div class="sp-block-content">
                  <div class="spacer-holder" style="height:20px;"></div>
                </div>
              </div>
              <div class="sp-block sp-heading-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <h2>
                      Baptism
                    </h2>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:800px;">
                  Baptism is a significant step in declaring our faith in Jesus Christ. It symbolizes our spiritual
                  rebirth and commitment to following Him. This outward display of our inward faith is vital for every
                  believer. Join us for baptisms held quarterly throughout the year.
                </div>
              </div>
              <div class="sp-block sp-button-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span class="text-reset">
                    <a
                      class="sp-button"
                      href="https://river-of-life-church-80069.churchcenter.com/registrations/events/2172926"
                      target="_blank"
                    >
                      Learn More
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:left;">
            <div class="sp-block-content">
              <span>
                <h2>Let's Get Started</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-heading-block"
               style="text-align:left; padding-top:25px; padding-bottom:25px;">
            <div class="sp-block-content">
              <span>
                <h3>We'd love to help you in your next steps with Jesus + here at ROL.</h3>
              </span>
            </div>
          </div>
          <div class="sp-block sp-form-block">
            <div class="sp-block-content">
              <div class="form-holder">
                <form class="sp-form">
                  <div class="sp-fieldset">
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        First Name
                      </label>
                      <div class="sp-field-wrapper">
                        <input class="sp-field" type="text"/>
                      </div>
                    </div>
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        Last Name
                      </label>
                      <div class="sp-field-wrapper">
                        <input class="sp-field" type="text"/>
                      </div>
                    </div>
                  </div>
                  <div class="sp-fieldset">
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        Email
                      </label>
                      <div class="sp-field-wrapper">
                        <input class="sp-field icon" type="text"/>
                        <i class="fa fa-envelope-o"></i>
                      </div>
                    </div>
                  </div>
                  <div class="sp-fieldset">
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        Message
                      </label>
                      <div class="sp-field-wrapper">
                        <textarea class="sp-field"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="button-holder" style="text-align:left;">
                    <span>
                      <a class="sp-button fill">
                        Send
                      </a>
                    </span>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
