<main id="sp-content">
  <section class="sp-section sp-scheme-1" data-header="true" data-index data-scheme="1" data-header="true">
    <div class="sp-section-slide" data-background="%7B%22type%22%3A%22image%22%2C%22src%22%3A%22https%3A%5C%2F%5C%2Fstorage2.snappages.site%5C%2FKHGFVV%5C%2Fassets%5C%2Fimages%5C%2F9865431_5472x3648_2500.JPG%22%2C%22size%22%3A%22cover%22%2C%22position%22%3A%2250%25+50%25%22%2C%22repeat%22%3A%22no-repeat%22%2C%22attachment%22%3A%22scroll%22%2C%22tint%22%3A%22%40color4.14%22%7D" data-tint="@color4.14" data-label="Main">
      <div class="sp-section-content" style="padding-top:150px;padding-bottom:150px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block " data-type="heading" data-id="5bc45051-97c9-47aa-918d-7092ba807710" style="text-align:left;">
            <div class="sp-block-content" style="max-width:500px;">
                                        <span class="h1" data-size="5.4em">
                                            <h1 style="font-size:5.4em;">
                                                <b>GROW IN YOUR FAITH</b>
                                            </h1>
                                        </span>
            </div>
          </div>
          <div class="sp-block sp-divider-block " data-type="divider" data-id="fb33cc59-edf4-49ae-99e8-ac5d4c41c930" style>
            <div class="sp-block-content" style>
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-block sp-text-block " data-type="text" data-id="e74deceb-f435-4ae8-9dc5-bb6f78d012ea" style="text-align:left;">
            <div class="sp-block-content" style="max-width:500px;">
              <b>You've started your Christian walk, so what's next? &nbsp;We want to help you grow in your faith and become the person God made you to be. If you want to know what your next steps are in that journey, here are some ways we can help.</b>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0" data-index data-scheme="0">
    <div class="sp-section-slide" data-label="Main">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-row">
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-image-block " data-type="image" data-id="cff64a23-0bbc-416c-a33e-c000238cfe60" style="padding-top:15px;padding-bottom:15px;">
                <div class="sp-block-content" style>
                  <div class="sp-image-holder" style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/9865526_4480x6720_500.jpg);" data-source="KHGFVV/assets/images/9865526_4480x6720_2500.jpg" data-zoom="false" data-fill="true" data-ratio="four-three" data-shadow="soft">
                    <img src="https://storage2.snappages.site/KHGFVV/assets/images/9865526_4480x6720_500.jpg" class="fill" alt/>
                    <div class="sp-image-title"></div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
              <div class="sp-block sp-spacer-block " data-type="spacer" data-id="dbbade93-ae67-45c4-bdd3-d8f1bd361cce" style="text-align:start;">
                <div class="sp-block-content" style>
                  <div class="spacer-holder" data-height="20" style="height:20px;"></div>
                </div>
              </div>
              <div class="sp-block sp-heading-block " data-type="heading" data-id="3f4354af-f2f9-45eb-a2a7-2c2e37b08f11" style="text-align:center;padding-top:0px;padding-bottom:0px;">
                <div class="sp-block-content" style>
                                                <span class="h2">
                                                    <h2>
                                                        Next Steps<br>Classes
                                                    </h2>
                                                </span>
                </div>
              </div>
              <div class="sp-block sp-text-block " data-type="text" data-id="bb4451ce-107a-46fe-af50-e654d6e29fb4" style="text-align:center;">
                <div class="sp-block-content" style="max-width:800px;">
                  These classes (formerly Purple Book) are designed to help believers build their lives upon the Word and develop spiritual maturity. We cover topics like prayer and worship, faith and hope, spiritual hunger and God's Word, and much more! This is a great foundation for anyone wanting to deepen their faith, and is required for membership at River of Life. However, you do not have to be seeking membership to attend. These classes are just a great way to grow in Christ!<br>
                  <br>
                  Classes are held during our <b>Grow Time mid-week format on Wednesdays at 7pm.</b>
                </div>
              </div>
              <div class="sp-block sp-button-block " data-type="button" data-id="c8b0e9e6-b72d-4684-912a-070ddbd9ea9a" style="text-align:center;">
                <div class="sp-block-content" style>
                                                <span class="text-reset">
                                                    <a class="sp-button" href="/growtime" target="_self" data-label="Learn More" style>Learn More</a>
                                                </span>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-image-block " data-type="image" data-id="219067a1-b388-4807-a864-b64a5b4c3312" style>
                <div class="sp-block-content" style>
                  <div class="sp-image-holder" style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/9865562_2736x4104_500.jpg);" data-source="KHGFVV/assets/images/9865562_2736x4104_2500.jpg" data-zoom="false" data-fill="true" data-ratio="four-three" data-shadow="soft">
                    <img src="https://storage2.snappages.site/KHGFVV/assets/images/9865562_2736x4104_500.jpg" class="fill" alt/>
                    <div class="sp-image-title"></div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
              <div class="sp-block sp-spacer-block " data-type="spacer" data-id="32ef16b5-5cd7-4212-9fd1-777320c52a5a" style="text-align:start;">
                <div class="sp-block-content" style>
                  <div class="spacer-holder" data-height="20" style="height:20px;"></div>
                </div>
              </div>
              <div class="sp-block sp-heading-block " data-type="heading" data-id="b09befdf-e941-4703-b464-47f525e37b5a" style="text-align:center;">
                <div class="sp-block-content" style>
                                                <span class="h2">
                                                    <h2>Membership Classes</h2>
                                                </span>
                </div>
              </div>
              <div class="sp-block sp-text-block " data-type="text" data-id="7b6023d1-7551-4bef-a2bf-c3ebb383721f" style="text-align:center;">
                <div class="sp-block-content" style="max-width:800px;">
                  Perhaps you &rsquo;ve been attending River of Life for a little while, and you &rsquo;re ready to take the next step and find out what it means to be a member of the church! The purpose of membership classes is to help you know the history, values and vision of River of Life Church.<br>
                  <br>Membership classes are held quarterly on a Saturday morning. Stay tuned to announcements for the latest class details!
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-image-block " data-type="image" data-id="d15002fa-f72a-4efe-9cc3-5b7abf0e2e6f" style>
                <div class="sp-block-content" style>
                  <div class="sp-image-holder" style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/9865613_5472x3648_500.JPG);" data-source="KHGFVV/assets/images/9865613_5472x3648_2500.JPG" data-zoom="false" data-fill="true" data-ratio="four-three" data-shadow="soft">
                    <img src="https://storage2.snappages.site/KHGFVV/assets/images/9865613_5472x3648_500.JPG" class="fill" alt/>
                    <div class="sp-image-title"></div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
              <div class="sp-block sp-spacer-block " data-type="spacer" data-id="57d14edc-c0fa-4581-8737-fc2044792f79" style="text-align:start;">
                <div class="sp-block-content" style>
                  <div class="spacer-holder" data-height="20" style="height:20px;"></div>
                </div>
              </div>
              <div class="sp-block sp-heading-block " data-type="heading" data-id="fd90759a-2a32-4770-8847-1612a1bae7d0" style="text-align:center;">
                <div class="sp-block-content" style>
                                                <span class="h2">
                                                    <h2>
                                                        Getting<br>Baptized
                                                    </h2>
                                                </span>
                </div>
              </div>
              <div class="sp-block sp-text-block " data-type="text" data-id="d766c486-1a4d-4cc5-bff4-b2538dc85886" style="text-align:center;">
                <div class="sp-block-content" style="max-width:800px;">Baptism is an important step that shows others we have personally trusted Jesus for our salvation. &nbsp;It symbolizes dying to the old and coming out a new creation. &nbsp;This is an outward symbol of our inward faith, and is crucial to the life of every believer. We have baptism every quarter of the year.</div>
              </div>
              <div class="sp-block sp-button-block " data-type="button" data-id="f314f7b8-33c5-44d6-8b61-c5b661c6cfaa" style="text-align:center;">
                <div class="sp-block-content" style>
                                                <span class="text-reset">
                                                    <a class="sp-button" href="https://river-of-life-church-80069.churchcenter.com/registrations/events/2172926" target="_blank" data-label="Learn More" style>Learn More</a>
                                                </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0" data-index data-scheme="0">
    <div class="sp-section-slide" data-label="Main">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block " data-type="heading" data-id="5e1f4b00-596e-4f5a-9c95-c1d8ab3af31d" style="text-align:left;">
            <div class="sp-block-content" style>
                                        <span class="h2">
                                            <h2>Let's Get Started</h2>
                                        </span>
            </div>
          </div>
          <div class="sp-block sp-heading-block " data-type="heading" data-id="915accdf-8fd0-46ee-9de1-23162da6ad52" style="text-align:left;padding-top:25px;padding-bottom:25px;">
            <div class="sp-block-content" style>
                                        <span class="h3">
                                            <h3>We'd love to help you in your next steps with Jesus + here at ROL. &nbsp;</h3>
                                        </span>
            </div>
          </div>
          <div class="sp-block sp-form-block " data-type="form" data-id="6f761a3a-ce43-41fb-ada2-ef94f4d7e1b6" style>
            <div class="sp-block-content" style>
              <div class="form-holder" data-email="elise@rolchurch.com" data-subject="Contact Request" data-sent="Thank you for contacting us! We will respond shortly.">
                <form class="sp-form">
                  <div class="sp-fieldset  " data-type="name">
                    <div class="sp-field-col">
                      <label class="sp-field-label">First Name</label>
                      <div class="sp-field-wrapper">
                        <input type="text" class="sp-field"/>
                      </div>
                    </div>
                    <div class="sp-field-col">
                      <label class="sp-field-label">Last Name</label>
                      <div class="sp-field-wrapper">
                        <input type="text" class="sp-field"/>
                      </div>
                    </div>
                  </div>
                  <div class="sp-fieldset  " data-type="email">
                    <div class="sp-field-col">
                      <label class="sp-field-label">Email</label>
                      <div class="sp-field-wrapper">
                        <input type="text" class="sp-field icon"/>
                        <i class="fa fa-envelope-o"></i>
                      </div>
                    </div>
                  </div>
                  <div class="sp-fieldset  " data-type="textarea">
                    <div class="sp-field-col">
                      <label class="sp-field-label">Message</label>
                      <div class="sp-field-wrapper">
                        <textarea class="sp-field"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="button-holder" style="text-align:left;">
                                                    <span class="text-reset">
                                                        <a class="sp-button fill" href target data-label="Send">Send</a>
                                                    </span>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
