<main id="sp-content">
  <section class="sp-section sp-scheme-1">
    <div class="sp-section-slide">
      <div class="sp-section-content" style="padding-top:150px; padding-bottom:150px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:left;">
            <div class="sp-block-content" style="max-width:500px;">
              <span>
                <h1>
                  <b>GROW IN YOUR FAITH</b>
                </h1>
              </span>
            </div>
          </div>
          <div class="sp-block sp-divider-block">
            <div class="sp-block-content">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:left;">
            <div class="sp-block-content" style="max-width:500px;">
              <b>
                You've started your Christian walk, so what's next? We want to help you grow in your faith and become
                the person God made you to be. If you want to know what your next steps are in that journey, here are
                some ways we can help.
              </b>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-row">
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-image-block" style="padding-top:15px; padding-bottom:15px;">
                <div class="sp-block-content">
                  <div class="sp-image-holder"
                       style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/9865526_4480x6720_500.jpg);"
                       data-ratio="four-three"
                       data-shadow="soft">
                    <img src="https://storage2.snappages.site/KHGFVV/assets/images/9865526_4480x6720_500.jpg"
                         class="fill"
                         alt/>
                    <div class="sp-image-title"></div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
              <div class="sp-block sp-spacer-block" style="text-align:start;">
                <div class="sp-block-content">
                  <div class="spacer-holder" data-height="20" style="height:20px;"></div>
                </div>
              </div>
              <div class="sp-block sp-heading-block"
                   style="text-align:center; padding-top:0px; padding-bottom:0px;">
                <div class="sp-block-content">
                  <span>
                    <h2>
                      Next Steps
                      <br>
                      Classes
                    </h2>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:800px;">
                  These classes (formerly Purple Book) are designed to help believers build their lives upon the Word
                  and develop spiritual maturity. We cover topics like prayer and worship, faith and hope, spiritual
                  hunger and God's Word, and much more! This is a great foundation for anyone wanting to deepen their
                  faith, and is required for membership at River of Life. However, you do not have to be seeking
                  membership to attend. These classes are just a great way to grow in Christ!
                  <br><br>
                  Classes are held during our <b>Grow Time mid-week format on Wednesdays at 7pm.</b>
                </div>
              </div>
              <div class="sp-block sp-button-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <a class="sp-button"
                       href="/growtime"
                       target="_self"
                       data-label="Learn More">
                      Learn More
                    </a>
                  </span>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-image-block">
                <div class="sp-block-content">
                  <div class="sp-image-holder"
                       style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/9865562_2736x4104_500.jpg);"
                       data-ratio="four-three"
                       data-shadow="soft">
                    <img src="https://storage2.snappages.site/KHGFVV/assets/images/9865562_2736x4104_500.jpg"
                         class="fill"
                         alt/>
                    <div class="sp-image-title"></div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
              <div class="sp-block sp-spacer-block" style="text-align:start;">
                <div class="sp-block-content">
                  <div class="spacer-holder" style="height:20px;"></div>
                </div>
              </div>
              <div class="sp-block sp-heading-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <h2>Membership Classes</h2>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:800px;">
                  Perhaps you &rsquo;ve been attending River of Life for a little while, and you &rsquo;re ready to take
                  the next step and find out what it means to be a member of the church! The purpose of membership
                  classes is to help you know the history, values and vision of River of Life Church.
                  <br><br>
                  Membership classes are held quarterly on a Saturday morning. Stay tuned to announcements for the latest
                  class details!
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-image-block">
                <div class="sp-block-content">
                  <div class="sp-image-holder"
                       style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/9865613_5472x3648_500.JPG);"
                       data-ratio="four-three"
                       data-shadow="soft">
                    <img src="https://storage2.snappages.site/KHGFVV/assets/images/9865613_5472x3648_500.JPG"
                      class="fill"
                      alt/>
                    <div class="sp-image-title"></div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
              <div class="sp-block sp-spacer-block" style="text-align:start;">
                <div class="sp-block-content">
                  <div class="spacer-holder" style="height:20px;"></div>
                </div>
              </div>
              <div class="sp-block sp-heading-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <h2>
                      Getting
                      <br>
                      Baptized
                    </h2>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:800px;">
                  Baptism is an important step that shows others we have personally trusted Jesus for our salvation.
                  It symbolizes dying to the old and coming out a new creation. This is an outward symbol of our inward
                  faith, and is crucial to the life of every believer. We have baptism every quarter of the year.
                </div>
              </div>
              <div class="sp-block sp-button-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <a
                      class="sp-button"
                      href="https://river-of-life-church-80069.churchcenter.com/registrations/events/2172926"
                      target="_blank"
                    >
                      Learn More
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:left;">
            <div class="sp-block-content">
              <span >
                <h2>Let's Get Started</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-heading-block"
               style="text-align:left; padding-top:25px; padding-bottom:25px;">
            <div class="sp-block-content">
              <span>
                <h3>We'd love to help you in your next steps with Jesus + here at ROL.</h3>
              </span>
            </div>
          </div>
          <div class="sp-block sp-form-block">
            <div class="sp-block-content">
              <div class="form-holder">
                <form class="sp-form">
                  <div class="sp-fieldset">
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        First Name
                      </label>
                      <div class="sp-field-wrapper">
                        <input type="text" class="sp-field"/>
                      </div>
                    </div>
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        Last Name
                      </label>
                      <div class="sp-field-wrapper">
                        <input type="text" class="sp-field"/>
                      </div>
                    </div>
                  </div>
                  <div class="sp-fieldset">
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        Email
                      </label>
                      <div class="sp-field-wrapper">
                        <input type="text" class="sp-field icon"/>
                        <i class="fa fa-envelope-o"></i>
                      </div>
                    </div>
                  </div>
                  <div class="sp-fieldset">
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        Message
                      </label>
                      <div class="sp-field-wrapper">
                        <textarea class="sp-field"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="button-holder" style="text-align:left;">
                    <span>
                      <a class="sp-button fill">
                        Send
                      </a>
                    </span>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
