<main id="sp-content">
  <section class="sp-section sp-scheme-1" style="padding-top: 349px;">
    <div class="sp-section-backgrounds">
      <div class="sp-section-background parallax" data-darkreader-inline-bgcolor=""
           data-darkreader-inline-color=""
           data-type="image"
           style="background-position: 50% 50%; background-repeat: no-repeat; background-origin: initial; background-clip: initial; background-color: initial; background-size: cover; background-attachment: fixed; color: rgba(149, 165, 166, 0.46); left: 0%; --darkreader-inline-bgcolor: initial; --darkreader-inline-color: rgba(170, 163, 152, 0.46);">
        <div class="parallax-mirror"
             style="visibility: visible; z-index: 0; position: fixed; top: 0px; left: 0px; overflow: hidden; transform: translate3d(0px, 48px, 0px); height: 653px; width: 1098px;">
          <img class="parallax-slider"
               src="https://storage2.snappages.site/KHGFVV/assets/images/8029104_6240x4160_2500.JPG"
               style="transform: translate3d(0px, 0px, 0px); position: absolute; top: -85.4px; left: 0px; height: 732px; width: 1098px; max-width: none;">
        </div>
      </div>
    </div>
    <div class="sp-section-slide">
      <div class="sp-section-content" style="padding-top:120px; padding-bottom:120px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block " style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h1>
                  <b>RIVER MEN</b>
                </h1>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>"Be vigilant, stand strong in your faith, act with courage, and be empowered by the Spirit."</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h3>1 Corinthians 16:13</h3>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              Welcome to the River Men's Fellowship, a sanctuary for every man seeking to deepen his walk with the Lord.
              Under the guidance of Pastor Chris Phillips, our mission is to cultivate a community of men who are
              steadfast
              leaders in the Kingdom of God.
              <br><br>
              In the transient landscape of military communities where River of Life resides, our ministry plays a
              crucial
              role. Men often face sudden deployments and relocations, disrupting their families and routines. Our aim
              is
              to provide unwavering support and spiritual nourishment through every twist and turn of life's journey.
              <br><br>
              We offer:
              <br><br>
              <b>
                An annual empowering conference
                <br>
                Men's fellowship gatherings
                <br>
                Engaging Bible studies
                <br>
                Connections tailored to our military brethren
              </b>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-1">
    <div class="sp-section-backgrounds">
      <div class="sp-section-background" data-darkreader-inline-bgcolor=""
           data-darkreader-inline-color=""
           data-style="background: URL(https://storage2.snappages.site/KHGFVV/assets/images/3042591_2000x1125_2500.JPG) 50%+50% no-repeat;background-size:cover;background-attachment:scroll;color: rgba(0, 0, 0, .63);"
           data-type="image" style="background: url(&quot;https://storage2.snappages.site/KHGFVV/assets/images/3042591_2000x1125_2500.JPG&quot;) 50% 50% / cover no-repeat scroll; color: rgba(0, 0, 0, 0.63); left: 0%; --darkreader-inline-bgcolor: initial; --darkreader-inline-color: rgba(232, 230, 227, 0.63);"></div>
    </div>
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>Get Connected. Go Deeper.</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-divider-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:100px;">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:750px;">
              We have different small groups and Bible studies going on throughout the year. Get connected with others +
              learn more by clicking the button below.
            </div>
          </div>
          <div class="sp-block sp-button-block " style="text-align:center;">
            <div class="sp-block-content">
              <span class="text-reset">
                <a
                  class="sp-button"
                  href="/events"
                  style
                  target="_self"
                >
                  more info
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>
                  <b>Upcoming Events</b>
                </h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-subsplash_events-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="sp-subsplash-holder">
                <script id="subsplash-embed-5fh33yx" type="bffc993519dea96b51311b95-text/javascript">
                  var target = document.getElementById("subsplash-embed-5fh33yx");
                  var script = document.createElement("script");
                  script.type = "text/javascript";
                  script.onload = function() {subsplashEmbed("+5cbf/lb/ca/+5fh33yx?embed&branding", "https://subsplash.com/", "subsplash-embed-5fh33yx");}
                  ;script.src = "https://dashboard.static.subsplash.com/production/web-client/external/embed-1.1.0.js";target.parentElement.insertBefore(script, target);
                </script>
              </div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              <span>
                <h2>Contact Us</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-heading-block"
               style="text-align:center; padding-top:25px; padding-bottom:25px;"
          >
            <div class="sp-block-content" style="max-width:800px;">
              <span>
                <h3>We'd love to hear from you. Fill out the form below to get started.</h3>
              </span>
            </div>
          </div>
          <div class="sp-block sp-form-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="form-holder">
                <form class="sp-form">
                  <div class="sp-fieldset">
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        First Name
                      </label>
                      <div class="sp-field-wrapper">
                        <input class="sp-field" type="text"/>
                      </div>
                    </div>
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        Last Name
                      </label>
                      <div class="sp-field-wrapper">
                        <input class="sp-field" type="text"/>
                      </div>
                    </div>
                  </div>
                  <div class="sp-fieldset">
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        Email
                      </label>
                      <div class="sp-field-wrapper">
                        <input class="sp-field icon" type="text"/>
                        <i class="fa fa-envelope-o"></i>
                      </div>
                    </div>
                  </div>
                  <div class="sp-fieldset">
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        Message
                      </label>
                      <div class="sp-field-wrapper">
                        <textarea class="sp-field"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="button-holder" style="text-align:left;">
                    <span class="text-reset">
                      <a class="sp-button fill">
                        Contact Us
                      </a>
                    </span>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
