<main id="sp-content">
  <section class="sp-section sp-scheme-1" style="background: linear-gradient(160deg, rgb(0, 147, 233) 0%, rgb(128, 208, 199) 100%);">
    <div class="sp-section-content" style="padding-top: 30px; padding-bottom: 30px;">
      <h1 class="sp-heading" style="text-align: center;">LIVE STREAM</h1>
      <p class="sp-text" style="text-align: center;"><b>MEET US HERE EVERY SUNDAY AT 9AM!</b></p>
      <div class="sp-divider" style="margin: 0 auto;"></div>
      <iframe class="sp-iframe" style="width: 100%; height: 500px; border: none;" src="https://www.youtube.com/embed/p74lc6MJ5tI?si=8sgflsZ2W-V46qSC" title="Latest Live Stream: River of Life Church" allow="accelerometer; autoplay;"></iframe>
    </div>
  </section>

<!--  <section class="sp-section sp-scheme-0" style="padding: 20px 0;">-->
<!--    <div class="sp-section-content">-->
<!--      <h2 class="sp-heading" style="text-align: center;">Recent Messages</h2>-->
<!--      <div class="sp-media-library" style="text-align: center;">-->
<!--        <div class="sp-media-item">-->
<!--          <a href="https://www.youtube.com/live/o1yhyt_H0wU?si=AdLD8NaOW-6Eev6e" target="_blank">-->
<!--            <h3>Easter Sunday Service</h3>-->
<!--            <p>March 31, 2024 | Bishop Clifton Edwards Jr.</p>-->
<!--          </a>-->
<!--        </div>-->
<!--        <div class="sp-media-item">-->
<!--          <a href="/media/xdkphr2/strengthen-the-core-in-24-part-four" target="_blank">-->
<!--            <h3>Strengthen the Core in 24 (Part Four)</h3>-->
<!--            <p>Jan 28, 2024 | Pastor Chris Phillips, Pastor Miriam Phillips</p>-->
<!--          </a>-->
<!--        </div>-->
<!--        <div class="sp-media-item">-->
<!--          <a href="/media/72phfvb/strengthen-the-core-in-24-part-three" target="_blank">-->
<!--            <h3>Strengthen the Core in 24 (Part Three)</h3>-->
<!--            <p>Jan 21, 2024 | Pastor Chris Phillips</p>-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
</main>
