<main id="sp-content">
  <section class="sp-section sp-scheme-1" data-header="true" data-index="36" data-scheme="1" data-header="true">
    <div class="sp-section-slide" data-background-gradient="linear-gradient(160deg, rgb(0, 147, 233) 0%, rgb(128, 208, 199) 100%)" data-label="Main">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block " data-type="heading" data-id="24" style="text-align:center;padding-top:30px;padding-bottom:30px;">
            <div class="sp-block-content" style>
                                        <span class="h1">
                                            <h1>LIVE STREAM</h1>
                                        </span>
            </div>
          </div>
          <div class="sp-block sp-text-block " data-type="text" data-id="23" style="text-align:center;">
            <div class="sp-block-content" style>
              <b>MEET US HERE EVERY SUNDAY AT 10AM!</b>
            </div>
          </div>
          <div class="sp-block sp-divider-block " data-type="divider" data-id="30" style="text-align:center;">
            <div class="sp-block-content" style>
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-block sp-code-block  sp-animate bounceIn" data-type="code" data-id="31" data-transition="bounceIn" style>
            <div class="sp-block-content" style>
              <div class="code-holder" data-id="28666" data-title>
                <div style="position:relative;overflow:hidden;padding-top:56.25%;">
                  <iframe allow="autoplay; fullscreen" allowfullscreen="true" src="https://control.resi.io/webplayer/video.html?id=1646c957-7d4e-40f6-b5d3-7d7ae975da10" style="position:absolute;top:0;left:0;width:100%;height:100%;border:none;"></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0" data-index="36" data-scheme="0">
    <div class="sp-section-slide" data-label="Main">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block " data-type="heading" data-id="35" style="text-align:center;">
            <div class="sp-block-content" style>
                                        <span class="h2">
                                            <h2>Recent Messages</h2>
                                        </span>
            </div>
          </div>
          <div class="sp-block sp-media_library-block " data-type="media_library" data-id="32" style="text-align:center;">
            <div class="sp-block-content" style>
              <div class="sp-search-holder" data-target="media">
                <div class="sp-fieldset" data-type="search">
                  <div class="sp-field-wrapper">
                    <input type="text" class="sp-field icon" placeholder="search..."/>
                  </div>
                  <i class="fa fa-search"></i>
                </div>
              </div>
              <div class="spacer-holder" data-height="24" style="height:24px;"></div>
              <div class="sp-media-library" data-source="recent" data-title="Most Recent" data-layout="grid" data-search="true" data-pagination="true" data-labels="true" data-page="1" data-limit="12" data-total="1290">
                <a class="sp-media-item" href="/media/d35pdxm/strengthen-the-core-in-24-part-five">
                  <div class="sp-media-thumb" style="color:#c6fc70;background-color:#919e7d;background-image:url(https://images.subsplash.com/image.jpg?id=65558e74-2a46-453c-a5c5-65f42061bd87&w=800&h=450);">
                    <div class="sp-media-play-overlay"></div>
                  </div>
                  <div class="sp-media-title">Strengthen the Core in 24' (Part Five)</div>
                  <div class="sp-media-subtitle">
                    Feb 4, 2024 &nbsp;<span style="font-size:.8em;">&bullet;</span>
                    &nbsp;Pastor Chris Phillips, Pastor Miriam Phillips
                  </div>
                </a>
                <a class="sp-media-item" href="/media/xdkphr2/strengthen-the-core-in-24-part-four">
                  <div class="sp-media-thumb" style="color:#c6fc70;background-color:#919e7d;background-image:url(https://images.subsplash.com/image.jpg?id=65558e74-2a46-453c-a5c5-65f42061bd87&w=800&h=450);">
                    <div class="sp-media-play-overlay"></div>
                  </div>
                  <div class="sp-media-title">Strengthen the Core in '24 (Part Four)</div>
                  <div class="sp-media-subtitle">
                    Jan 28, 2024 &nbsp;<span style="font-size:.8em;">&bullet;</span>
                    &nbsp;Pastor Chris Phillips, Pastor Miriam Phillips
                  </div>
                </a>
                <a class="sp-media-item" href="/media/72phfvb/strengthen-the-core-in-24-part-three">
                  <div class="sp-media-thumb" style="color:#c6fc70;background-color:#919e7d;background-image:url(https://images.subsplash.com/image.jpg?id=65558e74-2a46-453c-a5c5-65f42061bd87&w=800&h=450);">
                    <div class="sp-media-play-overlay"></div>
                  </div>
                  <div class="sp-media-title">Strengthen the Core in '24 (Part Three)</div>
                  <div class="sp-media-subtitle">
                    Jan 21, 2024 &nbsp;<span style="font-size:.8em;">&bullet;</span>
                    &nbsp;Pastor Chris Phillips
                  </div>
                </a>
                <a class="sp-media-item" href="/media/vd26s58/strengthen-the-core-in-24-part-two">
                  <div class="sp-media-thumb" style="color:#c6fc70;background-color:#919e7d;background-image:url(https://images.subsplash.com/image.jpg?id=65558e74-2a46-453c-a5c5-65f42061bd87&w=800&h=450);">
                    <div class="sp-media-play-overlay"></div>
                  </div>
                  <div class="sp-media-title">Strengthen the Core in '24 (Part Two)</div>
                  <div class="sp-media-subtitle">
                    Jan 14, 2024 &nbsp;<span style="font-size:.8em;">&bullet;</span>
                    &nbsp;Pastor Chris Phillips
                  </div>
                </a>
                <a class="sp-media-item" href="/media/rkmg5xr/resilience">
                  <div class="sp-media-thumb" style="color:#c6fc70;background-color:#919e7d;background-image:url(https://images.subsplash.com/image.jpg?id=65558e74-2a46-453c-a5c5-65f42061bd87&w=800&h=450);">
                    <div class="sp-media-play-overlay"></div>
                  </div>
                  <div class="sp-media-title">Resilience</div>
                  <div class="sp-media-subtitle">
                    Jan 7, 2024 &nbsp;<span style="font-size:.8em;">&bullet;</span>
                    &nbsp;Odell Benton
                  </div>
                </a>
                <a class="sp-media-item" href="/media/2smzrdt/born-to-serve-part-3">
                  <div class="sp-media-thumb" style="color:#fffb00;background-color:#888e5f;background-image:url(https://images.subsplash.com/image.jpg?id=98ccac32-8c19-4e62-9ec1-7f99319a6fc0&w=800&h=450);">
                    <div class="sp-media-play-overlay"></div>
                  </div>
                  <div class="sp-media-title">Born to Serve (Part 3)</div>
                  <div class="sp-media-subtitle">
                    Oct 22, 2023 &nbsp;<span style="font-size:.8em;">&bullet;</span>
                    &nbsp;Pastor Chris Phillips, Pastor Miriam Phillips
                  </div>
                </a>
                <a class="sp-media-item" href="/media/3d2zw3x/born-to-serve-part-2">
                  <div class="sp-media-thumb" style="color:#fffb00;background-color:#888e5f;background-image:url(https://images.subsplash.com/image.jpg?id=98ccac32-8c19-4e62-9ec1-7f99319a6fc0&w=800&h=450);">
                    <div class="sp-media-play-overlay"></div>
                  </div>
                  <div class="sp-media-title">Born to Serve (Part 2)</div>
                  <div class="sp-media-subtitle">
                    Oct 15, 2023 &nbsp;<span style="font-size:.8em;">&bullet;</span>
                    &nbsp;Pastor Chris Phillips
                  </div>
                </a>
                <a class="sp-media-item" href="/media/b3qyy7z/born-to-serve-part-1">
                  <div class="sp-media-thumb" style="color:#fffb00;background-color:#888e5f;background-image:url(https://images.subsplash.com/image.jpg?id=98ccac32-8c19-4e62-9ec1-7f99319a6fc0&w=800&h=450);">
                    <div class="sp-media-play-overlay"></div>
                  </div>
                  <div class="sp-media-title">Born to Serve (Part 1)</div>
                  <div class="sp-media-subtitle">
                    Oct 8, 2023 &nbsp;<span style="font-size:.8em;">&bullet;</span>
                    &nbsp;Pastor Chris Phillips
                  </div>
                </a>
                <a class="sp-media-item" href="/media/wfpz6zs/give-me-this-mountain">
                  <div class="sp-media-thumb" style="color:#b4ede4;background-color:#617c6c;background-image:url(https://images.subsplash.com/image.jpg?id=a147244b-5c26-4a1a-bbb5-a1a472bf32d5&w=800&h=450&crop=0,233,950,534&fix_crop=true);">
                    <div class="sp-media-play-overlay"></div>
                  </div>
                  <div class="sp-media-title">Give Me This Mountain</div>
                  <div class="sp-media-subtitle">
                    Oct 8, 2023 &nbsp;<span style="font-size:.8em;">&bullet;</span>
                    &nbsp;Pastor Miriam Phillips
                  </div>
                </a>
                <a class="sp-media-item" href="/media/f86dtq6/sunday-service-keith-jones">
                  <div class="sp-media-thumb" style="color:#dc8b0a;background-color:#674d26;background-image:url(https://images.subsplash.com/image.jpg?id=a7264e8b-3028-47df-a861-0b454a216b66&w=800&h=450);">
                    <div class="sp-media-play-overlay"></div>
                  </div>
                  <div class="sp-media-title">Sunday Service (Keith Jones)</div>
                  <div class="sp-media-subtitle">
                    Oct 1, 2023 &nbsp;<span style="font-size:.8em;">&bullet;</span>
                    &nbsp;Keith Jones
                  </div>
                </a>
                <a class="sp-media-item" href="/media/7m4dt9t/resolute">
                  <div class="sp-media-thumb" style="color:#effe00;background-color:#5d8977;background-image:url(https://images.subsplash.com/image.jpg?id=8c8e73f8-d9a7-4949-aa3d-61a51f0df3c5&w=800&h=450);">
                    <div class="sp-media-play-overlay"></div>
                  </div>
                  <div class="sp-media-title">Resolute</div>
                  <div class="sp-media-subtitle">
                    Sep 24, 2023 &nbsp;<span style="font-size:.8em;">&bullet;</span>
                    &nbsp;Pastor Chris Phillips
                  </div>
                </a>
                <a class="sp-media-item" href="/media/hpwkzw2/new">
                  <div class="sp-media-thumb" style="color:#4a420c;background-color:#44492e;background-image:url(https://images.subsplash.com/image.jpg?id=0ae5bbfa-959e-4305-845f-d5c37a7b2a38&w=800&h=450);">
                    <div class="sp-media-play-overlay"></div>
                  </div>
                  <div class="sp-media-title">New</div>
                  <div class="sp-media-subtitle">
                    Sep 17, 2023 &nbsp;<span style="font-size:.8em;">&bullet;</span>
                    &nbsp;Pastor Chris Phillips
                  </div>
                </a>
                <span></span>
              </div>
              <div class="text-reset">
                <div class="sp-button" id="view-more-button">View More</div>
              </div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block " data-type="spacer" data-id="33" style="text-align:center;">
            <div class="sp-block-content" style>
              <div class="spacer-holder" data-height="30" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block " data-type="spacer" data-id="34" style="text-align:center;">
            <div class="sp-block-content" style>
              <div class="spacer-holder" data-height="30" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block " data-type="heading" data-id="26" style="text-align:center;">
            <div class="sp-block-content" style>
                                        <span class="h2">
                                            <h2>Give</h2>
                                        </span>
            </div>
          </div>
          <div class="sp-block sp-text-block " data-type="text" data-id="27" style="text-align:center;">
            <div class="sp-block-content" style>If you've been blessed by the ministry and would like to honor God by giving, please use the form below to get started.</div>
          </div>
          <div class="sp-block sp-subsplash_giving-block " data-type="subsplash_giving" data-id="25" style>
            <div class="sp-block-content" style>
              <div class="sp-subsplash-holder">
                <iframe src="https://wallet.subsplash.com/ui/embed/KHGFVV/" width="100%" height="630" style="border:none;overflow:hidden" frameborder="0" scrolling="no"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
