<main id="sp-content">
  <section class="sp-section sp-scheme-1">
    <div class="sp-section-backgrounds">
      <div class="sp-section-background" data-darkreader-inline-bgimage=""
           data-style="background-image:linear-gradient(160deg, rgb(0, 147, 233) 0%, rgb(128, 208, 199) 100%);"
           data-type="gradient"
           style="background-image: linear-gradient(160deg, rgb(0, 147, 233) 0%, rgb(128, 208, 199) 100%); left: 0%; --darkreader-inline-bgimage: linear-gradient(160deg, #0076ba 0%, #2a716b 100%);"></div>
    </div>
    <div class="sp-section-slide current"
         data-background-gradient="linear-gradient(160deg, rgb(0, 147, 233) 0%, rgb(128, 208, 199) 100%)"
         data-label="Main">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block " data-id="24" data-type="heading"
               style="text-align:center;padding-top:30px;padding-bottom:30px;">
            <div class="sp-block-content" style=""><span class="h1"><h1>LIVE STREAM</h1></span></div>
          </div>
          <div class="sp-block sp-text-block " data-id="23" data-type="text" style="text-align:center;">
            <div class="sp-block-content" style=""><b>MEET US HERE EVERY SUNDAY AT 10AM!</b></div>
          </div>
          <div class="sp-block sp-divider-block " data-id="30" data-type="divider" style="text-align:center;">
            <div class="sp-block-content" style="">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-block sp-code-block  sp-animate bounceIn" data-id="31" data-transition="bounceIn"
               data-type="code" style="visibility: visible; animation-name: bounceIn;">
            <div class="sp-block-content" style="">
              <div class="code-holder" data-id="28666" data-title="">
                <div style="position:relative;overflow:hidden;padding-top:56.25%;">
                  <iframe allow="accelerometer; autoplay;" allowfullscreen="true"
                          height="100%" src="https://www.youtube.com/embed/p74lc6MJ5tI?si=8sgflsZ2W-V46qSC"
                          style="position: absolute; top: 0px; left: 0px; border: none"
                          title="YouTube video player" width="100%"></iframe>
                  <!--                  <iframe allow="autoplay; fullscreen" allowfullscreen="true"-->
                  <!--                          data-darkreader-inline-border-bottom=""-->
                  <!--                          data-darkreader-inline-border-left=""-->
                  <!--                          data-darkreader-inline-border-right="" data-darkreader-inline-border-top=""-->
                  <!--                          src="https://control.resi.io/webplayer/video.html?id=1646c957-7d4e-40f6-b5d3-7d7ae975da10"-->
                  <!--                          style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; border: none; &#45;&#45;darkreader-inline-border-top: initial; &#45;&#45;darkreader-inline-border-right: initial; &#45;&#45;darkreader-inline-border-bottom: initial; &#45;&#45;darkreader-inline-border-left: initial;"></iframe>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>Recent Messages</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-media_library-block " data-id="32" data-type="media_library"
               style="text-align:center;">
            <div class="sp-block-content" data-layout="grid" style="">
              <div class="sp-search-holder" data-target="media">
                <div class="sp-fieldset" data-type="search">
                  <div class="sp-field-wrapper"><input class="sp-field icon" placeholder="search..." type="text"></div>
                  <i class="fa fa-search"></i>
                </div>
              </div>
              <div class="spacer-holder" data-height="24" style="height:24px;"></div>
              <div class="sp-media-library" data-labels="true" data-layout="grid" data-limit="12"
                   data-page="1" data-pagination="true" data-search="true" data-source="recent" data-title="Most Recent"
                   data-total="1292">
                <a class="sp-media-item" href="/media/d35pdxm/strengthen-the-core-in-24-part-five">
                  <div class="sp-media-thumb"
                       data-darkreader-inline-bgcolor=""
                       data-darkreader-inline-color="" style="color: rgb(198, 252, 112); background-color: rgb(145, 158, 125); background-image: url(&quot;https://images.subsplash.com/image.jpg?id=65558e74-2a46-453c-a5c5-65f42061bd87&amp;w=800&amp;h=450&quot;); --darkreader-inline-color: #c3fc69; --darkreader-inline-bgcolor: #4a503c;">
                    <div class="sp-media-play-overlay"></div>
                  </div>
                  <div class="sp-media-title">Strengthen the Core in 24' (Part Five)</div>
                  <div class="sp-media-subtitle">Feb 4, 2024 &nbsp;<span style="font-size:.8em;">•</span>&nbsp; Pastor
                    Chris Phillips, Pastor Miriam Phillips
                  </div>
                </a>
                <a class="sp-media-item" href="/media/xdkphr2/strengthen-the-core-in-24-part-four">
                  <div class="sp-media-thumb"
                       data-darkreader-inline-bgcolor=""
                       data-darkreader-inline-color="" style="color: rgb(198, 252, 112); background-color: rgb(145, 158, 125); background-image: url(&quot;https://images.subsplash.com/image.jpg?id=65558e74-2a46-453c-a5c5-65f42061bd87&amp;w=800&amp;h=450&quot;); --darkreader-inline-color: #c3fc69; --darkreader-inline-bgcolor: #4a503c;">
                    <div class="sp-media-play-overlay"></div>
                  </div>
                  <div class="sp-media-title">Strengthen the Core in '24 (Part Four)</div>
                  <div class="sp-media-subtitle">Jan 28, 2024 &nbsp;<span style="font-size:.8em;">•</span>&nbsp; Pastor
                    Chris Phillips, Pastor Miriam Phillips
                  </div>
                </a>
                <a class="sp-media-item" href="/media/72phfvb/strengthen-the-core-in-24-part-three">
                  <div class="sp-media-thumb"
                       data-darkreader-inline-bgcolor=""
                       data-darkreader-inline-color="" style="color: rgb(198, 252, 112); background-color: rgb(145, 158, 125); background-image: url(&quot;https://images.subsplash.com/image.jpg?id=65558e74-2a46-453c-a5c5-65f42061bd87&amp;w=800&amp;h=450&quot;); --darkreader-inline-color: #c3fc69; --darkreader-inline-bgcolor: #4a503c;">
                    <div class="sp-media-play-overlay"></div>
                  </div>
                  <div class="sp-media-title">Strengthen the Core in '24 (Part Three)</div>
                  <div class="sp-media-subtitle">Jan 21, 2024 &nbsp;<span style="font-size:.8em;">•</span>&nbsp; Pastor
                    Chris Phillips
                  </div>
                </a>
                <a class="sp-media-item" href="/media/vd26s58/strengthen-the-core-in-24-part-two">
                  <div class="sp-media-thumb"
                       data-darkreader-inline-bgcolor=""
                       data-darkreader-inline-color="" style="color: rgb(198, 252, 112); background-color: rgb(145, 158, 125); background-image: url(&quot;https://images.subsplash.com/image.jpg?id=65558e74-2a46-453c-a5c5-65f42061bd87&amp;w=800&amp;h=450&quot;); --darkreader-inline-color: #c3fc69; --darkreader-inline-bgcolor: #4a503c;">
                    <div class="sp-media-play-overlay"></div>
                  </div>
                  <div class="sp-media-title">Strengthen the Core in '24 (Part Two)</div>
                  <div class="sp-media-subtitle">Jan 14, 2024 &nbsp;<span style="font-size:.8em;">•</span>&nbsp; Pastor
                    Chris Phillips
                  </div>
                </a>
                <a class="sp-media-item" href="/media/rkmg5xr/resilience">
                  <div class="sp-media-thumb"
                       data-darkreader-inline-bgcolor=""
                       data-darkreader-inline-color="" style="color: rgb(198, 252, 112); background-color: rgb(145, 158, 125); background-image: url(&quot;https://images.subsplash.com/image.jpg?id=65558e74-2a46-453c-a5c5-65f42061bd87&amp;w=800&amp;h=450&quot;); --darkreader-inline-color: #c3fc69; --darkreader-inline-bgcolor: #4a503c;">
                    <div class="sp-media-play-overlay"></div>
                  </div>
                  <div class="sp-media-title">Resilience</div>
                  <div class="sp-media-subtitle">Jan 7, 2024 &nbsp;<span style="font-size:.8em;">•</span>&nbsp; Odell
                    Benton
                  </div>
                </a>
                <a class="sp-media-item" href="/media/2smzrdt/born-to-serve-part-3">
                  <div class="sp-media-thumb"
                       data-darkreader-inline-bgcolor=""
                       data-darkreader-inline-color="" style="color: rgb(255, 251, 0); background-color: rgb(136, 142, 95); background-image: url(&quot;https://images.subsplash.com/image.jpg?id=98ccac32-8c19-4e62-9ec1-7f99319a6fc0&amp;w=800&amp;h=450&quot;); --darkreader-inline-color: #fffb1a; --darkreader-inline-bgcolor: #6d724c;">
                    <div class="sp-media-play-overlay"></div>
                  </div>
                  <div class="sp-media-title">Born to Serve (Part 3)</div>
                  <div class="sp-media-subtitle">Oct 22, 2023 &nbsp;<span style="font-size:.8em;">•</span>&nbsp; Pastor
                    Chris Phillips, Pastor Miriam Phillips
                  </div>
                </a>
                <a class="sp-media-item" href="/media/3d2zw3x/born-to-serve-part-2">
                  <div class="sp-media-thumb"
                       data-darkreader-inline-bgcolor=""
                       data-darkreader-inline-color="" style="color: rgb(255, 251, 0); background-color: rgb(136, 142, 95); background-image: url(&quot;https://images.subsplash.com/image.jpg?id=98ccac32-8c19-4e62-9ec1-7f99319a6fc0&amp;w=800&amp;h=450&quot;); --darkreader-inline-color: #fffb1a; --darkreader-inline-bgcolor: #6d724c;">
                    <div class="sp-media-play-overlay"></div>
                  </div>
                  <div class="sp-media-title">Born to Serve (Part 2)</div>
                  <div class="sp-media-subtitle">Oct 15, 2023 &nbsp;<span style="font-size:.8em;">•</span>&nbsp; Pastor
                    Chris Phillips
                  </div>
                </a>
                <a class="sp-media-item" href="/media/b3qyy7z/born-to-serve-part-1">
                  <div class="sp-media-thumb"
                       data-darkreader-inline-bgcolor=""
                       data-darkreader-inline-color="" style="color: rgb(255, 251, 0); background-color: rgb(136, 142, 95); background-image: url(&quot;https://images.subsplash.com/image.jpg?id=98ccac32-8c19-4e62-9ec1-7f99319a6fc0&amp;w=800&amp;h=450&quot;); --darkreader-inline-color: #fffb1a; --darkreader-inline-bgcolor: #6d724c;">
                    <div class="sp-media-play-overlay"></div>
                  </div>
                  <div class="sp-media-title">Born to Serve (Part 1)</div>
                  <div class="sp-media-subtitle">Oct 8, 2023 &nbsp;<span style="font-size:.8em;">•</span>&nbsp; Pastor
                    Chris Phillips
                  </div>
                </a>
                <a class="sp-media-item" href="/media/wfpz6zs/give-me-this-mountain">
                  <div class="sp-media-thumb"
                       data-darkreader-inline-bgcolor=""
                       data-darkreader-inline-color="" style="color: rgb(180, 237, 228); background-color: rgb(97, 124, 108); background-image: url(&quot;https://images.subsplash.com/image.jpg?id=a147244b-5c26-4a1a-bbb5-a1a472bf32d5&amp;w=800&amp;h=450&amp;crop=0,233,950,534&amp;fix_crop=true&quot;); --darkreader-inline-color: #a1e9dd; --darkreader-inline-bgcolor: #4e6356;">
                    <div class="sp-media-play-overlay"></div>
                  </div>
                  <div class="sp-media-title">Give Me This Mountain</div>
                  <div class="sp-media-subtitle">Oct 8, 2023 &nbsp;<span style="font-size:.8em;">•</span>&nbsp; Pastor
                    Miriam Phillips
                  </div>
                </a>
                <a class="sp-media-item" href="/media/f86dtq6/sunday-service-keith-jones">
                  <div class="sp-media-thumb"
                       data-darkreader-inline-bgcolor=""
                       data-darkreader-inline-color="" style="color: rgb(220, 139, 10); background-color: rgb(103, 77, 38); background-image: url(&quot;https://images.subsplash.com/image.jpg?id=a7264e8b-3028-47df-a861-0b454a216b66&amp;w=800&amp;h=450&quot;); --darkreader-inline-color: #f6ab34; --darkreader-inline-bgcolor: #523e1e;">
                    <div class="sp-media-play-overlay"></div>
                  </div>
                  <div class="sp-media-title">Sunday Service (Keith Jones)</div>
                  <div class="sp-media-subtitle">Oct 1, 2023 &nbsp;<span style="font-size:.8em;">•</span>&nbsp; Keith
                    Jones
                  </div>
                </a>
                <a class="sp-media-item" href="/media/7m4dt9t/resolute">
                  <div class="sp-media-thumb"
                       data-darkreader-inline-bgcolor=""
                       data-darkreader-inline-color="" style="color: rgb(239, 254, 0); background-color: rgb(93, 137, 119); background-image: url(&quot;https://images.subsplash.com/image.jpg?id=8c8e73f8-d9a7-4949-aa3d-61a51f0df3c5&amp;w=800&amp;h=450&quot;); --darkreader-inline-color: #f1ff1a; --darkreader-inline-bgcolor: #4a6e5f;">
                    <div class="sp-media-play-overlay"></div>
                  </div>
                  <div class="sp-media-title">Resolute</div>
                  <div class="sp-media-subtitle">Sep 24, 2023 &nbsp;<span style="font-size:.8em;">•</span>&nbsp; Pastor
                    Chris Phillips
                  </div>
                </a>
                <a class="sp-media-item" href="/media/hpwkzw2/new">
                  <div class="sp-media-thumb"
                       data-darkreader-inline-bgcolor=""
                       data-darkreader-inline-color="" style="color: rgb(74, 66, 12); background-color: rgb(68, 73, 46); background-image: url(&quot;https://images.subsplash.com/image.jpg?id=0ae5bbfa-959e-4305-845f-d5c37a7b2a38&amp;w=800&amp;h=450&quot;); --darkreader-inline-color: #cdc8c2; --darkreader-inline-bgcolor: #363a25;">
                    <div class="sp-media-play-overlay"></div>
                  </div>
                  <div class="sp-media-title">New</div>
                  <div class="sp-media-subtitle">Sep 17, 2023 &nbsp;<span style="font-size:.8em;">•</span>&nbsp; Pastor
                    Chris Phillips
                  </div>
                </a><span></span></div>
              <div class="text-reset">
                <div class="sp-button" id="view-more-button">View More</div>
              </div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>Give</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content">
              If you've been blessed by the ministry and would like to honor God by giving, please use the form below to
              get started.
            </div>
          </div>
          <div class="sp-block sp-subsplash_giving-block">
            <div class="sp-block-content">
              <div class="sp-subsplash-holder">
                <iframe frameborder="0"
                        height="630"
                        scrolling="no"
                        src="https://wallet.subsplash.com/ui/embed/KHGFVV/"
                        style="border:none; overflow:hidden"
                        width="100%">

                </iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
