<main id="sp-content">
  <section class="sp-section sp-scheme-1">
    <div class="sp-section-slide">
      <div class="sp-section-content" style="padding-top:120px; padding-bottom:120px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h1>
                  <b>R YOUTH</b>
                </h1>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-1">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-subsplash_events-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="sp-subsplash-holder">
                <script id="subsplash-embed-6ywq8bp" type="d3b14262d61e0fae4e8d4671-text/javascript">
                  var target = document.getElementById("subsplash-embed-6ywq8bp");
                  var script = document.createElement("script");
                  script.type = "text/javascript";
                  script.onload = function() {subsplashEmbed("+5cbf/lb/ca/+6ywq8bp?embed&branding", "https://subsplash.com/", "subsplash-embed-6ywq8bp");};
                  script.src = "https://dashboard.static.subsplash.com/production/web-client/external/embed-1.1.0.js";target.parentElement.insertBefore(script, target);
                </script>
              </div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>
                  <b>UNITED IN GROWTH</b>
                </h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h3>Come as you are, from wherever you've journeyed, you're embraced here!</h3>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              <b>
                R Youth stands as the vibrant Junior and Senior High ministry of River of Life Church. Guided by Maurice
                & Erianna Scott and a dynamic team of leaders, R Youth exists to witness the transformative power of the
                Gospel shaping the lives and futures of students. From our fervent praise and worship gatherings to our
                fervent prayers and acts of service, our students are engaged in mutual edification.
              </b>
            </div>
          </div>
          <div class="sp-block sp-divider-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-block sp-image-block"
               style="text-align:center; padding-top:0px; padding-bottom:0px; padding-left:15px; padding-right:15px;">
            <div class="sp-block-content" style="max-width:300px;">
              <div class="sp-image-holder"
                   style="background-image:url(https://t3.ftcdn.net/jpg/03/79/15/98/240_F_379159886_EbaAIvnTvigYKU4ThSuSbNVNjc6Js7bx.jpg);"
                   data-shape="ellipse"
                   data-ratio="square"
                   data-pos="top-center">
                <img src="https://storage2.snappages.site/KHGFVV/assets/images/5829407_2663x4026_500.jpg"
                     class="fill"
                     alt/>
                <div class="sp-image-title"></div>
                <div class="sp-image-caption"></div>
              </div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" data-height="30" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>
                  <b>Maurice + Erianna Scott, Youth Shepherds</b>
                </h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-divider-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:100px;">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:600px;">
              <b>
                R Youth is led by Maurice &amp;Erianna Scott and a team of excellent leaders, the purpose of R Youth is
                to see the lives and destinies of students changed by the power of the Gospel.
              </b>
            </div>
          </div>
          <div class="sp-block sp-divider-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-row">
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-image-block" style>
                <div class="sp-block-content">
                  <div class="sp-image-holder"
                       style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/10220494_4496x3000_500.jpeg);"
                       data-ratio="four-three">
                    <img src="https://storage2.snappages.site/KHGFVV/assets/images/10220494_4496x3000_500.jpeg"
                         class="fill"
                         alt/>
                    <div class="sp-image-title"></div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
              <div class="sp-block sp-heading-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <h2>
                      <b>EMPOWERING YOUTH,&nbsp;</b>
                      <br>
                      <b>EMBRACED BY YOUTH</b>
                    </h2>
                  </span>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-image-block" style>
                <div class="sp-block-content">
                  <div class="sp-image-holder"
                       style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/10220534_4496x3000_500.jpeg);"
                       data-ratio="four-three">
                    <img src="https://storage2.snappages.site/KHGFVV/assets/images/10220534_4496x3000_500.jpeg"
                         class="fill"
                         alt/>
                    <div class="sp-image-title"></div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
              <div class="sp-block sp-heading-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <h2>
                      <b>WHO &nbsp;</b>
                      <br>
                      <b>WE &nbsp;</b>
                      <b>ARE</b>
                    </h2>
                  </span>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-image-block" style="text-align:center;">
                <div class="sp-block-content">
                  <div class="sp-image-holder"
                       style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/10220539_4496x3000_500.jpeg);"
                       data-ratio="four-three"
                       data-pos="top-right">
                    <img src="https://storage2.snappages.site/KHGFVV/assets/images/10220539_4496x3000_500.jpeg"
                         class="fill"
                         alt/>
                    <div class="sp-image-title"></div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
              <div class="sp-block sp-heading-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <h2>
                      <b>
                        THE MISSION
                        <br>
                        OF R YOUTH
                      </b>
                    </h2>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="sp-row">
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:360px;">
                  <b>
                    We are deeply invested in nurturing the upcoming generation through tangible action. Guided by our
                    leadership, our ministries are driven and operated by students themselves. We are empowering our
                    youth to live out their faith boldly and to utilize their talents to bless others.
                  </b>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:360px;">
                  <b>
                    A vibrant youth worship service
                    <br>
                    Annual mission endeavors and conferences
                    <br>
                    Summer camp experiences
                  </b>
                  <br>
                  <b>
                    Opportunities for community outreach
                    <br>
                    Exciting events throughout the year
                    <br>
                    Interactive Small Groups
                  </b>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:360px;">
                  <b>
                    R Youth caters to 8th-12th graders, gathering every Wednesday at 7:00 p.m. in the Youth Auditorium.
                    Our focus is on all things YOUTH! We aim to raise a cadre of Jesus-followers who are leaders within
                    their own generation.
                  </b>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-1">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>
                  <b>
                    WE MEET WEDNESDAY NIGHTS!
                    <br>
                  </b>
                </h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-divider-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:100px;">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h3>
                  7:00pm
                  <br><br>
                  Students from 8-12th grade meet
                  <br>
                  in the
                  <b>Youth Center</b>!
                </h3>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-1">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h3>Get Connected. Go Deeper.</h3>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              <span>
                <h2>Contact Us</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-heading-block"
               style="text-align:center; padding-top:25px; padding-bottom:25px;">
            <div class="sp-block-content" style="max-width:800px;">
              <span>
                <h3>We'd love to hear from you. Fill out the form below to get started.</h3>
              </span>
            </div>
          </div>
          <div class="sp-block sp-form-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="form-holder">
                <form class="sp-form">
                  <div class="sp-fieldset">
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        First Name
                      </label>
                      <div class="sp-field-wrapper">
                        <input type="text" class="sp-field"/>
                      </div>
                    </div>
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        Last Name
                      </label>
                      <div class="sp-field-wrapper">
                        <input type="text" class="sp-field"/>
                      </div>
                    </div>
                  </div>
                  <div class="sp-fieldset">
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        Email
                      </label>
                      <div class="sp-field-wrapper">
                        <input type="text" class="sp-field icon"/>
                        <i class="fa fa-envelope-o"></i>
                      </div>
                    </div>
                  </div>
                  <div class="sp-fieldset">
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        Message
                      </label>
                      <div class="sp-field-wrapper">
                        <textarea class="sp-field"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="button-holder" style="text-align:left;">
                    <span class="text-reset">
                      <a class="sp-button fill">
                        Contact Us
                      </a>
                    </span>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
