<main id="sp-content">
  <section class="sp-section sp-scheme-1">
    <div class="sp-section-slide">
      <div class="sp-section-content" style="padding-top:120px; padding-bottom:120px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h1>
                  <b>R YOUTH</b>
                </h1>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-1">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-subsplash_events-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="sp-subsplash-holder">
                <script id="subsplash-embed-6ywq8bp" type="d3b14262d61e0fae4e8d4671-text/javascript">
                  var target = document.getElementById("subsplash-embed-6ywq8bp");
                  var script = document.createElement("script");
                  script.type = "text/javascript";
                  script.onload = function() {subsplashEmbed("+5cbf/lb/ca/+6ywq8bp?embed&branding", "https://subsplash.com/", "subsplash-embed-6ywq8bp");};
                  script.src = "https://dashboard.static.subsplash.com/production/web-client/external/embed-1.1.0.js";target.parentElement.insertBefore(script, target);
                </script>
              </div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>
                  <b>GROWING TOGETHER</b>
                </h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h3>Whoever you are, wherever you're from, you are welcome here!</h3>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              <b>
                R Youth is the Junior and Senior High ministry of River of Life Church. Led by Maurice &amp;Erianna
                Scott and a team of excellent leaders, the purpose of R Youth &nbsp;is to see the lives and destinies of
                students changed by the power of the Gospel. &nbsp;From our praise and worship team to our prayer and
                usher teams our students are serving one another.
              </b>
            </div>
          </div>
          <div class="sp-block sp-divider-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-block sp-image-block"
               style="text-align:center; padding-top:0px; padding-bottom:0px; padding-left:15px; padding-right:15px;">
            <div class="sp-block-content" style="max-width:300px;">
              <div class="sp-image-holder"
                   style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/5829407_2663x4026_500.jpg);"
                   data-shape="ellipse"
                   data-ratio="square"
                   data-pos="top-center">
                <img src="https://storage2.snappages.site/KHGFVV/assets/images/5829407_2663x4026_500.jpg"
                     class="fill"
                     alt/>
                <div class="sp-image-title"></div>
                <div class="sp-image-caption"></div>
              </div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" data-height="30" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>
                  <b>Maurice + Erianna Scott, Youth Leaders</b>
                </h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-divider-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:100px;">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:600px;">
              <b>
                R Youth is led by Maurice &amp;Erianna Scott and a team of excellent leaders, the purpose of R Youth is
                to see the lives and destinies of students changed by the power of the Gospel.
              </b>
            </div>
          </div>
          <div class="sp-block sp-divider-block" style="text-align:center;">
            <div class="sp-block-content" style>
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-row">
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-image-block" style>
                <div class="sp-block-content">
                  <div class="sp-image-holder"
                       style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/10220494_4496x3000_500.jpeg);"
                       data-ratio="four-three">
                    <img src="https://storage2.snappages.site/KHGFVV/assets/images/10220494_4496x3000_500.jpeg"
                         class="fill"
                         alt/>
                    <div class="sp-image-title"></div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
              <div class="sp-block sp-heading-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <h2>
                      <b>FOR YOUTH,&nbsp;</b>
                      <br>
                      <b>BY YOUTH</b>
                    </h2>
                  </span>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-image-block" style>
                <div class="sp-block-content">
                  <div class="sp-image-holder"
                       style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/10220534_4496x3000_500.jpeg);"
                       data-ratio="four-three">
                    <img src="https://storage2.snappages.site/KHGFVV/assets/images/10220534_4496x3000_500.jpeg"
                         class="fill"
                         alt/>
                    <div class="sp-image-title"></div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
              <div class="sp-block sp-heading-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <h2>
                      <b>WHO &nbsp;</b>
                      <br>
                      <b>WE &nbsp;</b>
                      <b>ARE</b>
                    </h2>
                  </span>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-image-block" style="text-align:center;">
                <div class="sp-block-content">
                  <div class="sp-image-holder"
                       style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/10220539_4496x3000_500.jpeg);"
                       data-ratio="four-three"
                       data-pos="top-right">
                    <img src="https://storage2.snappages.site/KHGFVV/assets/images/10220539_4496x3000_500.jpeg"
                         class="fill"
                         alt/>
                    <div class="sp-image-title"></div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
              <div class="sp-block sp-heading-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <h2>
                      <b>
                        THE VISION
                        <br>
                        OF R YOUTH
                      </b>
                    </h2>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="sp-row">
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:360px;">
                  <b>
                    We believe in raising up the next generation in a practical way. Under the supervision of our
                    leadership team, our ministries are student-led and student-run. We are empowering students to
                    exercise their faith and use their gifts to bless others.
                  </b>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:360px;">
                  <b>
                    A dedicated youth worship service
                    <br>
                    Yearly mission trips or conferences
                    <br>
                    Yearly summer camp
                  </b>
                  <br>
                  <b>
                    Chances to participate in outreach
                    <br>
                    Fun events throughout the year
                    <br>
                    Small Groups
                  </b>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-8">
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:360px;">
                  <b>
                    R Youth is geared toward 8-12th graders with a service every Wednesday at 7:00 p.m. in the Youth
                    Auditorium. &nbsp;We are about everything YOUTH! &nbsp;We want to raise up a group of Jesus followers
                    that are leaders for their generation.
                  </b>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-1">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>
                  <b>
                    WE MEET WEDNESDAY NIGHTS!
                    <br>
                  </b>
                </h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-divider-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:100px;">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h3>
                  7:00pm
                  <br><br>
                  Students from 8-12th grade meet
                  <br>
                  in the
                  <b>Youth Auditorium</b>!
                </h3>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-1">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h3>Get Connected. Go Deeper.</h3>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              <span>
                <h2>Contact Us</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-heading-block"
               style="text-align:center; padding-top:25px; padding-bottom:25px;">
            <div class="sp-block-content" style="max-width:800px;">
              <span>
                <h3>We'd love to hear from you. Fill out the form below to get started.</h3>
              </span>
            </div>
          </div>
          <div class="sp-block sp-form-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="form-holder">
                <form class="sp-form">
                  <div class="sp-fieldset">
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        First Name
                      </label>
                      <div class="sp-field-wrapper">
                        <input type="text" class="sp-field"/>
                      </div>
                    </div>
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        Last Name
                      </label>
                      <div class="sp-field-wrapper">
                        <input type="text" class="sp-field"/>
                      </div>
                    </div>
                  </div>
                  <div class="sp-fieldset">
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        Email
                      </label>
                      <div class="sp-field-wrapper">
                        <input type="text" class="sp-field icon"/>
                        <i class="fa fa-envelope-o"></i>
                      </div>
                    </div>
                  </div>
                  <div class="sp-fieldset">
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        Message
                      </label>
                      <div class="sp-field-wrapper">
                        <textarea class="sp-field"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="button-holder" style="text-align:left;">
                    <span>
                      <a class="sp-button fill">
                        Contact Us
                      </a>
                    </span>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
