<!-- *** ADD OR EDIT HTML INSIDE OF THE dmRespCol DIVS, SEE DOCUMENTATION FOR GUIDELINES *** -->
<div class="u_1694205906 dmRespRow" style="text-align: center;" id="1694205906">
  <div class="dmRespColsWrapper" id="1704858392">
    <div class="dmRespCol small-12 medium-12 large-12" id="1594819959">
      <!-- *** INSERT YOUR HTML BELOW *** -->
      <style id="1855548355">
        *#dm div.dmContent #dmPopup h1 * {
          font-size: inherit;
        }
        *#dm div.dmContent #dmPopup h3 * {
          font-size: inherit;
        }
        *#dm div.dmContent #dmPopup h1 {
          font-size: inherit;
        }
        *#dm div.dmContent #dmPopup h3 {
          font-size: inherit;
        }
      </style>
      <div class="u_1386716912 dmNewParagraph" data-dmtmpl="true" data-element-type="paragraph" id="1386716912" style="transition: none 0s ease 0s; display: block;" data-uialign="free" data-editor-state="closed" no_space_e="true">
        <div no_space_b="true" no_space_e="true">
     <span style="font-family: Allura;" class="m-font-size-36 font-size-50" no_space_b="true" no_space_e="true">
      <b no_space_b="true" no_space_e="true">
       <font style="color: rgb(134, 49, 135);" no_space_b="true" no_space_e="true">
        Our online giving is simple and secure
       </font>
      </b>
     </span>
        </div>
      </div>
      <div class="u_1290097217 dmNewParagraph" data-dmtmpl="true" id="1290097217" data-uialign="center" no_space_e="true" style="">
        <div style="text-align:center;">
          <font style="color:rgb(51, 51, 51);">
      <span class="size-16 lh-1" style="background-color:rgba(0, 0, 0, 0);font-family:Roboto;">
       <div style="text-align: center;">
        Click Donate Now to make a single gift or schedule recurring giving using your bank account, debit or credit card.
       </div>
      </span>
          </font>
        </div>
      </div>
      <div dmle_widget="html" data-element-type="html" class="dmCustomHtml u_1518784768" id="1518784768">
        <a target="_blank" href="https://www.givelify.com/givenow/1.0/?token=eyJvcmdfaWQiOiJNall6T0RRfiIsImJhZGdlX2ltYWdlIjoiYjMucG5nIn0~">
          <img src="https://www.givelify.com/givenow/widget/badge/b3.png" alt="Givelify"/>
        </a>
      </div>
    </div>
  </div>
</div>
