<main id="sp-content">
  <section class="sp-section sp-scheme-1">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h1 style="font-size:9em;">
                  <b>GIVING</b>
                </h1>
              </span>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>For where your treasure is, there your heart will be also.</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content">
              - Matthew 6:21
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>Why We Give</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-divider-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:100px;">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:490px;">
              God is generous and so he calls us to be as well. What we do with what God has given us shows the world
              where our hearts are at and helps proclaim the gospel. We want to glorify God with every area of our lives,
              and that includes what we do with our finances.
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              <span>
                <h2>Giving Changes Lives</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-divider-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:100px;">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              We believe that God is into changing lives. He uses His people in the world to accomplish the work of
              preaching the gospel, feeding the hungry, and caring for those in need.
              <br><br>
              As we are blessed, we bless.
              <br><br>
              Giving is an outward expression of gratitude and love that we have for God. We want to worship God with
              all that we are and all that we have &ndash;and this includes our finances. Throughout Scripture we are
              instructed to give to God from the finances that He has entrusted to us and blessed us with.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-row">
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-heading-block"
                   style="text-align:left; padding-left:15px; padding-right:15px;">
                <div class="sp-block-content">
                  <span>
                    <h2>Ways To Give</h2>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-divider-block" style>
                <div class="sp-block-content">
                  <div class="sp-divider-holder"></div>
                </div>
              </div>
              <div class="sp-block sp-heading-block" style="text-align:left;">
                <div class="sp-block-content">
                  <span>
                    <h3>Give Online</h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block"
                   style="text-align:left; padding-top:0px; padding-bottom:0px;">
                <div class="sp-block-content">
                  You can give securely online using the form on this page, or through our mobile app.
                </div>
              </div>
              <div class="sp-block sp-spacer-block" style="text-align:start;">
                <div class="sp-block-content">
                  <div class="spacer-holder" style="height:15px;"></div>
                </div>
              </div>
              <div class="sp-block sp-heading-block" style="text-align:left;">
                <div class="sp-block-content">
                  <span>
                    <h3>Give In Person</h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block"
                   style="text-align:left; padding-top:0px; padding-bottom:0px;">
                <div class="sp-block-content">
                  You can also give in person at our church office or during one of our worship services using one of
                  our envelopes. Simply ask an usher and they will be happy to provide one for you.
                </div>
              </div>
              <div class="sp-block sp-spacer-block" style="text-align:start;">
                <div class="sp-block-content">
                  <div class="spacer-holder" style="height:15px;"></div>
                </div>
              </div>
              <div class="sp-block sp-heading-block" style="text-align:left;">
                <div class="sp-block-content">
                  <span>
                    <h3>Mail A Check</h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block"
                   style="text-align:left; padding-top:0px; padding-bottom:0px;">
                <div class="sp-block-content">
                  If you'd like, you can mail a check in to the church office. You can use one of our pre-addressed
                  offering envelopes to simplify the process.
                </div>
              </div>
              <div class="sp-block sp-spacer-block" style="text-align:start;">
                <div class="sp-block-content">
                  <div class="spacer-holder" style="height:15px;"></div>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-subsplash_giving-block" style="text-align:start;">
                <div class="sp-block-content">
                  <div class="sp-subsplash-holder">
                    <iframe src="https://wallet.subsplash.com/ui/embed/KHGFVV/"
                            width="100%"
                            height="630"
                            style="border:none; overflow:hidden"
                            frameborder="0"
                            scrolling="no">

                    </iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              <span>
                <h2>Have questions or need help?</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-heading-block"
               style="text-align:center; padding-top:25px; padding-bottom:25px;">
            <div class="sp-block-content" style="max-width:800px;">
              <span>
                <h3>We'd love to hear from you. Fill out the form below to get started.</h3>
              </span>
            </div>
          </div>
          <div class="sp-block sp-form-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="form-holder">
                <form class="sp-form">
                  <div class="sp-fieldset">
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        First Name
                      </label>
                      <div class="sp-field-wrapper">
                        <input type="text" class="sp-field"/>
                      </div>
                    </div>
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        Last Name
                      </label>
                      <div class="sp-field-wrapper">
                        <input type="text" class="sp-field"/>
                      </div>
                    </div>
                  </div>
                  <div class="sp-fieldset">
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        Email
                      </label>
                      <div class="sp-field-wrapper">
                        <input type="text" class="sp-field icon"/>
                        <i class="fa fa-envelope-o"></i>
                      </div>
                    </div>
                  </div>
                  <div class="sp-fieldset">
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        Message
                      </label>
                      <div class="sp-field-wrapper">
                        <textarea class="sp-field"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="button-holder" style="text-align:left;">
                    <span>
                      <a class="sp-button fill">
                        Send
                      </a>
                    </span>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
