<main id="sp-content">
  <section class="sp-section sp-scheme-1">
    <div class="sp-section-slide">
      <div class="sp-section-content" style="padding-top:120px; padding-bottom:120px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h1>
                  <b>SERVE</b>
                </h1>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>For even the Son of Man came not to be served, but to serve...</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h3>Mark 10:45</h3>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              River of Life Church can do its best work when we come together and serve with our gifts and talents. The
              Church, at its best, is a place where we gather together in worship, word, and service to those in need.
              Whether you volunteer as an usher, greeter, or in the River Kids Zone or Cafe, you have a part to play!
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-row">
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-image-block">
                <div class="sp-block-content">
                  <div class="sp-image-holder"
                       style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/10124074_6240x4160_500.JPG);"
                       data-fill="true"
                       data-ratio="four-three">
                    <img src="https://storage2.snappages.site/KHGFVV/assets/images/10124074_6240x4160_500.JPG"
                         class="fill"
                         alt/>
                    <div class="sp-image-title"></div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-image-block">
                <div class="sp-block-content">
                  <div class="sp-image-holder"
                       style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/10124079_6240x4160_500.JPG);"
                       data-fill="true"
                       data-ratio="four-three">
                    <img src="https://storage2.snappages.site/KHGFVV/assets/images/10124079_6240x4160_500.JPG"
                         class="fill"
                         alt/>
                    <div class="sp-image-title"></div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-3">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              <span>
                <h2>Serving Opportunities</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-spacer-block">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-row">
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-heading-block"
                   style="text-align:center; padding-top:25px; padding-bottom:25px;">
                <div class="sp-block-content" style="max-width:800px;">
                  <span>
                    <h3>
                      <b>
                        VIDEO TEAM
                        <br>
                        CHURCH NEWS TEAM
                      </b>
                      <br>
                      Leader: Sammi Detres
                    </h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:750px;">
                  This team shoots video during church services, announcements, and creative commercials to inform and
                  draw people in.
                </div>
              </div>
              <div class="sp-block sp-button-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <a class="sp-button"
                       href="/cdn-cgi/l/email-protection#3e4d5f5353577e4c51525d564b4c5d56105d5153014d4b5c545b5d4a036d5b4c485750591b0c0e71501b0c0e67514b4c1b0c0e6a5b5f53">
                      Contact Leader
                    </a>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-spacer-block" style="text-align:center;">
                <div class="sp-block-content">
                  <div class="spacer-holder" style="height:30px;"></div>
                </div>
              </div>
              <div class="sp-block sp-heading-block"
                   style="text-align:center; padding-top:25px; padding-bottom:25px;">
                <div class="sp-block-content" style="max-width:800px;">
                  <span>
                    <h3>
                      <b>PROPHETIC TEAM</b>
                      <br>
                      Leader: Erianna Scott
                    </h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:750px;">
                  This team uses the prophetic to minister to our church family and community. Training is required to
                  join the team.
                </div>
              </div>
              <div class="sp-block sp-button-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <a class="sp-button"
                       href="/cdn-cgi/l/email-protection#71140318101f1f1031031e1d1219040312195f121e1c4e0204131b1412054c22140307181f1654434443413e1f5443444341281e040354434443412514101c">
                      Contact Leader
                    </a>
                  </span>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-heading-block"
                   style="text-align:center; padding-top:25px; padding-bottom:25px;">
                <div class="sp-block-content" style="max-width:800px;">
                  <span>
                    <h3>
                      <b>
                        R YOUTH
                        <br>
                        ROL YOUNG ADULTS
                      </b>
                      <br>
                      Leaders: Maurice &amp;Erianna Scott
                    </h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:750px;">
                  R Youth is our ministry for 8th-12th graders. ROL Young Adults is our ministry for 18 and graduated -
                  35 years old.
                </div>
              </div>
              <div class="sp-block sp-button-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <a class="sp-button"
                       href="/cdn-cgi/l/email-protection#c8adbaa1a9a6a6a988baa7a4aba0bdbaaba0e6aba7a5f7bbbdaaa2adabbcf59badbabea1a6afedfafdfaf887a6edfafdfaf891a7bdbaedfafdfaf89cada9a5">
                      Contact Leader
                    </a>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-spacer-block" style="text-align:center;">
                <div class="sp-block-content">
                  <div class="spacer-holder" style="height:30px;"></div>
                </div>
              </div>
              <div class="sp-block sp-heading-block" style="text-align:center; padding-top:25px; padding-bottom:25px;">
                <div class="sp-block-content" style="max-width:800px;">
                  <span>
                    <h3>
                      <b>
                        RIVER KIDS
                        <br>
                        PARENT PAGER
                        <br>
                        BOYS NIGHT OUT
                      </b>
                      <br>
                      Leader: Pastor Jackie Hornage
                    </h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:750px;">
                  River Kids is our ministry to Nursery - 7th grade. &nbsp;We believe that children are able to know God
                  personally, to serve Him and walk with Him from an early age. &nbsp;River Kids Zone is &nbsp;focused on empowering
                  children.
                </div>
              </div>
              <div class="sp-block sp-button-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <a class="sp-button"
                       href="/cdn-cgi/l/email-protection#84eee5e7efede1c4f6ebe8e7ecf1f6e7ecaae7ebe9bbf7f1e6eee1e7f0b9d7e1f6f2edeae3a1b6b1b6b1b6b4cbeaa1b6b1b6b1b6b4ddebf1f6a1b6b1b6b1b6b4d0e1e5e9">
                      Contact Leader
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-3">
    <div class="sp-section-slide">
      <div class="sp-section-content" style="padding-top:0px; padding-bottom:0px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-row">
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-heading-block"
                   style="text-align:center; padding-top:25px; padding-bottom:25px;">
                <div class="sp-block-content" style="max-width:800px;">
                  <span>
                    <h3>
                      <b>
                        CREATE TEAM
                        <br>
                      </b>
                      Leader: Tiffany Borges
                    </h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:750px;">
                  This team creates an atmosphere through art and decorating in the building for various events and
                  seasons.
                </div>
              </div>
              <div class="sp-block sp-button-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <a class="sp-button"
                       href="/cdn-cgi/l/email-protection#ed99848b8b8c8394ad9f82818e85989f8e85c38e8280d29e988f87888e99d0be889f9b84838ac8dfd8dfdda283c8dfd8dfddb482989fc8dfd8dfddb9888c80">
                      Contact Leader
                    </a>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-spacer-block" style="text-align:center;">
                <div class="sp-block-content">
                  <div class="spacer-holder" style="height:30px;"></div>
                </div>
              </div>
              <div class="sp-block sp-heading-block"
                   style="text-align:center; padding-top:25px; padding-bottom:25px;">
                <div class="sp-block-content" style="max-width:800px;">
                  <span>
                    <h3>
                      <b>
                        RIPTIDE DANCE TEAM
                        <br>
                      </b>
                      Leaders: Andre &amp;Brianna Tates
                    </h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:750px;">
                  This team is responsible for the dance performances during services and special events at church and
                  in the community.
                </div>
              </div>
              <div class="sp-block sp-button-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <a class="sp-button"
                       href="/cdn-cgi/l/email-protection#5d3c33392f38293c29382e6e1d3a303c3431733e3230622e283f37383e29600e382f2b34333a786f686f686f6d1233786f686f686f6d0432282f786f686f686f6d09383c30">
                      Contact Leader
                    </a>
                  </span>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-heading-block"
                   style="text-align:center; padding-top:25px; padding-bottom:25px;">
                <div class="sp-block-content" style="max-width:800px;">
                  <span>
                    <h3>
                      <b>
                        WORSHIP TEAM<br>
                      </b>
                      Leader: Latrice Osmack
                    </h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:750px;">
                  This team is responsible for the worship during services and during special events at church
                  (singers/musicians).
                </div>
              </div>
              <div class="sp-block sp-button-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <a class="sp-button"
                       href="/cdn-cgi/l/email-protection#472b2633352e24220735282b242f3235242f6924282a783432252d2224337a142235312e2920627572757275770829627572757275771e283235627572757275771322262a">
                      Contact Leader
                    </a>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-spacer-block" style="text-align:center;">
                <div class="sp-block-content">
                  <div class="spacer-holder" style="height:30px;"></div>
                </div>
              </div>
              <div class="sp-block sp-heading-block"
                   style="text-align:center; padding-top:25px; padding-bottom:25px;">
                <div class="sp-block-content" style="max-width:800px;">
                  <span>
                    <h3>
                      <b>
                        REVIVAL FIRE TEAM<br>
                      </b>
                      Leader: Latrice Osmack
                    </h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style ="max-width:750px;">
                  This team is responsible for the flag dances during services and during special events at church and
                  in the community.
                </div>
              </div>
              <div class="sp-block sp-button-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <a class="sp-button"
                       href="/cdn-cgi/l/email-protection#721e1306001b111732001d1e111a0700111a5c111d1f4d010710181711064f211700041b1c155740474047404740423d1c5740474047404740422b1d07005740474047404740422617131f">
                      Contact Leader
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-3">
    <div class="sp-section-slide">
      <div class="sp-section-content" style="padding-top:0px; padding-bottom:0px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-row">
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-heading-block"
                   style="text-align:center; padding-top:25px; padding-bottom:25px;">
                <div class="sp-block-content" style="max-width:800px;">
                  <span>
                    <h3>
                      <b>
                        SECURITY TEAM
                        <br>
                      </b>
                      Leader: Trent Dixon
                    </h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:750px;">
                  This team is responsible for the safety of staff, pastors, and the church during services and events.
                </div>
              </div>
              <div class="sp-block sp-button-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <a class="sp-button"
                       href="/cdn-cgi/l/email-protection#e49096818a90a4968b88878c9196878cca878b89db9791868e818790d9b78196928d8a83c1d6d1d6d1d6d4ab8ac1d6d1d6d1d6d4bd8b9196c1d6d1d6d1d6d4b0818589">
                      Contact Leader
                    </a>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-spacer-block" style="text-align:center;">
                <div class="sp-block-content">
                  <div class="spacer-holder" style="height:30px;"></div>
                </div>
              </div>
              <div class="sp-block sp-heading-block"
                   style="text-align:center; padding-top:25px; padding-bottom:25px;">
                <div class="sp-block-content" style="max-width:800px;">
                  <span>
                    <h3>
                      <b>
                        MEALS TEAM
                        <br>
                        HOSPITALITY TEAM
                      </b><br>
                      Leader: Marie McClellan
                    </h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:750px;">
                  These teams are responsible for making meals for church member during challenging times and for
                  special church events.
                </div>
              </div>
              <div class="sp-block sp-button-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <a class="sp-button"
                       href="/cdn-cgi/l/email-protection#7c111d0e151917190810053c1b111d1510521f1311430f091e16191f08412f190e0a15121b594e494e494e494e4c3312594e494e494e494e4c2513090e594e494e494e494e4c28191d11">
                      Contact Leader
                    </a>
                  </span>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-heading-block"
                   style="text-align:center; padding-top:25px; padding-bottom:25px;">
                <div class="sp-block-content" style="max-width:800px;">
                  <span>
                    <h3>
                      <b>
                        RIVER KEEPERS
                        <br>
                      </b>
                      Leader: Rob McClellan
                    </h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:750px;">
                  This team is responsible for cleaning the church building. You do not need to be a church member to
                  join.
                </div>
              </div>
              <div class="sp-block sp-button-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <a class="sp-button"
                       href="/cdn-cgi/l/email-protection#cebca1ac8ebca1a2ada6bbbcada6e0ada1a3f1bdbbaca4abadbaf39dabbcb8a7a0a9ebfcfbfcfbfcfbfcfe81a0ebfcfbfcfbfcfbfcfe97a1bbbcebfcfbfcfbfcfbfcfe9aabafa3">
                      Contact Leader
                    </a>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-spacer-block" style="text-align:center;">
                <div class="sp-block-content">
                  <div class="spacer-holder" style="height:30px;"></div>
                </div>
              </div>
              <div class="sp-block sp-heading-block"
                   style="text-align:center; padding-top:25px; padding-bottom:25px;">
                <div class="sp-block-content" style="max-width:800px;">
                  <span>
                    <h3>
                      <b>
                        RIVER GROUPS
                        <br>
                      </b>
                      Leader: Joseph Osmack
                    </h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:750px;">
                  This team is responsible for leading small life groups through River of Life Church.
                </div>
              </div>
              <div class="sp-block sp-button-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <a class="sp-button"
                       href="/cdn-cgi/l/email-protection#6d021e000c0e0607092d0a000c0401430e0200521e180f07080e19503e081f1b04030a485f585f585f585f585f5d2203485f585f585f585f585f5d3402181f485f585f585f585f585f5d39080c00">
                      Contact Leader
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-3">
    <div class="sp-section-slide">
      <div class="sp-section-content" style="padding-top:0px; padding-bottom:0px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-row">
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-heading-block"
                   style="text-align:center; padding-top:25px; padding-bottom:25px;">
                <div class="sp-block-content" style="max-width:800px;">
                  <span>
                    <h3>
                      <b>
                        PRODUCTION TEAM
                        <br>
                      </b>
                      Leader: Evan Phillips
                    </h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                 <div class="sp-block-content" style="max-width:750px;">
                   This team is responsible for the recording church services, displaying lyrics and graphics, and
                   running cameras for services.
                 </div>
              </div>
              <div class="sp-block sp-button-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <a class="sp-button"
                       href="/cdn-cgi/l/email-protection#a9ccdfc8c7e9dbc6c5cac1dcdbcac187cac6c496dadccbc3cccadd94faccdbdfc0c7ce8c9b9c9b9c9b9c9b99e6c78c9b9c9b9c9b9c9b99f0c6dcdb8c9b9c9b9c9b9c9b99fdccc8c4">
                      Contact Leader
                    </a>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-spacer-block" style="text-align:center;">
                <div class="sp-block-content">
                  <div class="spacer-holder" style="height:30px;"></div>
                </div>
              </div>
              <div class="sp-block sp-heading-block"
                   style="text-align:center; padding-top:25px; padding-bottom:25px;">
                <div class="sp-block-content" style="max-width:800px;">
                  <span>
                    <h3>
                      <b>
                        NURSING HOME OUTREACH TEAM
                        <br>
                      </b>
                      Leader: Sandra Rivera
                    </h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                 <div class="sp-block-content" style="max-width:750px;">
                   This team goes to Premier Nursing Home in Jacksonville each month to encourage the residents.
                 </div>
              </div>
              <div class="sp-block sp-button-block" style="text-align:center;">
                 <div class="sp-block-content" style>
                   <span>
                     <a class="sp-button"
                        href="/cdn-cgi/l/email-protection#6013010e0412011209160512014e1312565720070d01090c4e030f0d5f1315020a0503145d33051216090e0745525552555255525552502f0e4552555255525552555250390f151245525552555255525552503405010d">
                       Contact Leader
                     </a>
                   </span>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-heading-block"
                   style="text-align:center; padding-top:25px; padding-bottom:25px;">
                <div class="sp-block-content" style="max-width:800px;">
                  <span>
                    <h3>
                      <b>
                        CONNECT TEAM
                        <br>
                      </b>
                      Leader: Quinika Williams
                    </h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                 <div class="sp-block-content" style="max-width:750px;">
                   This team is responsible for signing people up for events and other opportunities and answering
                   questions after services.
                 </div>
              </div>
              <div class="sp-block sp-button-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <a class="sp-button"
                       href="/cdn-cgi/l/email-protection#f8898d9196919399b88a97949b908d8a9b90d69b9795c78b8d9a929d9b8cc5ab9d8a8e91969fddcacdcacdcacdcacdcac8b796ddcacdcacdcacdcacdcac8a1978d8addcacdcacdcacdcacdcac8ac9d9995">
                      Contact Leader
                    </a>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-spacer-block" style="text-align:center;">
                <div class="sp-block-content">
                  <div class="spacer-holder" style="height:30px;"></div>
                </div>
              </div>
              <div class="sp-block sp-heading-block"
                   style="text-align:center; padding-top:25px; padding-bottom:25px;">
                <div class="sp-block-content" style="max-width:800px;">
                  <span>
                    <h3>
                      <b>
                        MARRIAGE TEAM
                        <br>
                      </b>
                      Leaders: Keith &amp; Linda Jones
                    </h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                 <div class="sp-block-content" style="max-width:750px;">
                   This team is responsible for encouraging marriages through classes, small groups, events, and retreats.
                 </div>
              </div>
              <div class="sp-block sp-button-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <a class="sp-button"
                       href="/cdn-cgi/l/email-protection#c5aeafaaaba0b6f4f5f785a0a6ebb7b7eba6aaa8fab6b0a7afa0a6b1f896a0b7b3acaba2e0f7f0f7f0f7f0f7f0f7f0f7f58aabe0f7f0f7f0f7f0f7f0f7f0f7f59caab0b7e0f7f0f7f0f7f0f7f0f7f0f7f591a0a4a8">
                      Contact Leader
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-3">
    <div class="sp-section-slide">
      <div class="sp-section-content" style="padding-top:0px; padding-bottom:0px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-row">
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-heading-block"
                   style="text-align:center; padding-top:25px; padding-bottom:25px;">
                <div class="sp-block-content" style="max-width:800px;">
                  <span>
                    <h3>
                      <b>
                        PHOTOGRAPHY TEAM
                        <br>
                      </b>
                      Leader: Gabriela Harper
                    </h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:750px;">
                  This team is responsible for taking photos of church services and other special events.
                </div>
              </div>
              <div class="sp-block sp-button-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <a class="sp-button"
                       href="/cdn-cgi/l/email-protection#7e191f1c0c171b121f3e0c11121d160b0c1d16501d1113410d0b1c141b1d0a432d1b0c081710195b4c4b4c4b4c4b4c4b4c4e31105b4c4b4c4b4c4b4c4b4c4e27110b0c5b4c4b4c4b4c4b4c4b4c4e2a1b1f13">
                      Contact Leader
                    </a>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-spacer-block" style="text-align:center;">
                <div class="sp-block-content">
                  <div class="spacer-holder" style="height:30px;"></div>
                </div>
              </div>
              <div class="sp-block sp-heading-block"
                   style="text-align:center; padding-top:25px; padding-bottom:25px;">
                <div class="sp-block-content" style="max-width:800px;">
                  <span>
                    <h3>
                      <b>
                        USHERS TEAM
                        <br>
                      </b>
                      Leader: Ron Russell
                    </h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:750px;">
                  This team is responsible for seating people during services and special events.
                </div>
              </div>
              <div class="sp-block sp-button-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <a class="sp-button"
                       href="/cdn-cgi/l/email-protection#62101711115454555022050f030b0e4c010d0f5d111700080701165f310710140b0c05475057505750575057505750522d0c475057505750575057505750523b0d1710475057505750575057505750523607030f">
                      Contact Leader
                    </a>
                  </span>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-heading-block"
                   style="text-align:center; padding-top:25px; padding-bottom:25px;">
                <div class="sp-block-content" style="max-width:800px;">
                  <span>
                    <h3>
                      <b>
                        FIRST IMPRESSIONS TEAM
                        <br>
                        PRAYER TEAM
                      </b>
                      <br>Leaders: Henry &amp; Eva Evans
                    </h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:750px;">
                  This team is responsible for greeting first time guests at the church and prayer for members during
                  challenging times.
                </div>
              </div>
              <div class="sp-block sp-button-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <a class="sp-button"
                       href="/cdn-cgi/l/email-protection#146761797971667c757d662224546d757c7b7b3a777b792b6761767e71776029477166627d7a73312621262126212621262126245b7a312621262126212621262126244d7b61663126212621262126212621262440717579">
                      Contact Leader
                    </a>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-spacer-block" style="text-align:center;">
                <div class="sp-block-content">
                  <div class="spacer-holder" style="height:30px;"></div>
                </div>
              </div>
              <div class="sp-block sp-heading-block"
                   style="text-align:center; padding-top:25px; padding-bottom:25px;">
                <div class="sp-block-content" style="max-width:800px;">
                  <span>
                    <h3>
                      <b>
                        RIVER MEN
                        <br>
                      </b>
                      Leader: James Jackson
                    </h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:750px;">
                  River Men is our ministry to the men at the church. We host small groups, Bible studies, and special
                  events throughout the year.
                </div>
              </div>
              <div class="sp-block sp-button-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <a class="sp-button"
                       href="/cdn-cgi/l/email-protection#1f6c7a7e6c7a2a295f706a6b73707074317c7072206c6a7d757a7c6b224c7a6d697671783a2d2a2d2a2d2a2d2a2d2a2d2a2d2f50713a2d2a2d2a2d2a2d2a2d2a2d2a2d2f46706a6d3a2d2a2d2a2d2a2d2a2d2a2d2a2d2f4b7a7e72">
                      Contact Leader
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-3">
    <div class="sp-section-slide">
      <div class="sp-section-content" style="padding-top:0px; padding-bottom:0px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-row">
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-heading-block"
                   style="text-align:center; padding-top:25px; padding-bottom:25px;">
                <div class="sp-block-content" style="max-width:800px;">
                  <span>
                    <h3>
                      <b>
                        RIVER WISE
                        <br>
                      </b>
                      Leaders: James &amp;Patricia Ladson
                    </h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:750px;">
                  River Wise is our ministry to those who are 60 years old and older. We meet monthly on Saturdays at
                  10am.
                </div>
              </div>
              <div class="sp-block sp-button-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <a class="sp-button"
                       href="/cdn-cgi/l/email-protection#91fbfdf0f5e2feffa0d1f4f2bfe3e3bff2fefcaee2e4f3fbf4f2e5acc2f4e3e7f8fff6b4a3a4a3a4a3a4a3a4a3a4a3a1deffb4a3a4a3a4a3a4a3a4a3a4a3a1c8fee4e3b4a3a4a3a4a3a4a3a4a3a4a3a1c5f4f0fc">
                      Contact Leader
                    </a>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-spacer-block" style="text-align:center;">
                <div class="sp-block-content">
                  <div class="spacer-holder" style="height:30px;"></div>
                </div>
              </div>
              <div class="sp-block sp-heading-block"
                   style="text-align:center; padding-top:25px; padding-bottom:25px;">
                <div class="sp-block-content" style="max-width:800px;">
                  <span>
                    <h3>
                      <b>
                        PARKING TEAM
                        <br>
                      </b>
                      Leader: Charles Higgins
                    </h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:750px;">
                  This team is responsible for the ensuring safe parking of cars during services and special events.
                </div>
              </div>
              <div class="sp-block sp-button-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <a class="sp-button"
                       href="/cdn-cgi/l/email-protection#b3decad4dcd7dac0dfdcc1d7808182f3d4ded2dadf9dd0dcde8cc0c6d1d9d6d0c78ee0d6c1c5daddd4968186818681868186818681868183fcdd968186818681868186818681868183eadcc6c1968186818681868186818681868183e7d6d2de">
                      Contact Leader
                    </a>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-spacer-block" style="text-align:center;">
                <div class="sp-block-content">
                  <div class="spacer-holder" style="height:30px;"></div>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-heading-block"
                   style="text-align:center; padding-top:25px; padding-bottom:25px;">
                <div class="sp-block-content" style="max-width:800px;">
                  <span>
                    <h3>
                      <b>
                        2460 BOOKSTORE
                        <br>
                      </b>
                      Leader: Robin Fitzgerald
                    </h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:750px;">
                  The 2460 Bookstore is our store for merchandise, books, and other materials. We sell items that help
                  with your spiritual growth each week.
                </div>
              </div>
              <div class="sp-block sp-button-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <a class="sp-button"
                       href="/cdn-cgi/l/email-protection#2d5f424f44436d5f42414e45585f4e45034e4240125e584f47484e59107e485f5b44434a081f181f181f181f181f181f181f1d6243081f181f181f181f181f181f181f1d7442585f081f181f181f181f181f181f181f1d79484c40">
                      Contact Leader
                    </a>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-spacer-block" style="text-align:center;">
                <div class="sp-block-content">
                  <div class="spacer-holder" style="height:30px;"></div>
                </div>
              </div>
              <div class="sp-block sp-heading-block"
                   style="text-align:center; padding-top:25px; padding-bottom:25px;">
                <div class="sp-block-content" style="max-width:800px;">
                  <span>
                    <h3>
                      <b>
                        CONDOLENCE TEAM
                        <br>
                      </b>
                      Leader: Janice Burns
                    </h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:750px;">
                  This team is responsible for encouraging folks after a death or challenging situation in their lives.
                </div>
              </div>
              <div class="sp-block sp-button-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <a class="sp-button"
                       href="/cdn-cgi/l/email-protection#a4cec5cacdc7c1c6d1d6cad79594e4ddc5cccbcb8ac7cbc99bd7d1c6cec1c7d099f7c1d6d2cdcac38196919691969196919691969196919694ebca8196919691969196919691969196919694fdcbd1d68196919691969196919691969196919694f0c1c5c9">
                      Contact Leader
                    </a>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-spacer-block" style="text-align:center;">
                <div class="sp-block-content">
                  <div class="spacer-holder" style="height:30px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-3">
    <div class="sp-section-slide">
      <div class="sp-section-content" style="padding-top:0px; padding-bottom:0px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-row">
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-heading-block"
                   style="text-align:center; padding-top:25px; padding-bottom:25px;">
                <div class="sp-block-content" style="max-width:800px;">
                  <span class="h3">
                    <h3>
                      <b>
                        GROUNDSKEEPING TEAM
                        <br>
                      </b>
                      Leader: James Burns
                    </h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:750px;">
                  This team is responsible for keeping the outdoor church grounds beautiful and clean.
                </div>
              </div>
              <div class="sp-block sp-button-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span class="text-reset">
                    <a class="sp-button"
                       href="/cdn-cgi/l/email-protection#fb919a969e88998e899588a4c8bb93948f969a9297d5989496c4888e99919e988fc6a89e898d92959cdec9cec9cec9cec9cec9cec9cec9cbb495dec9cec9cec9cec9cec9cec9cec9cba2948e89dec9cec9cec9cec9cec9cec9cec9cbaf9e9a96">
                      Contact Leader
                    </a>
                  </span>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-heading-block"
                   style="text-align:center; padding-top:25px; padding-bottom:25px;">
                <div class="sp-block-content" style="max-width:800px;">
                  <span class="h3">
                    <h3>
                      <b>
                        RIVER CAFE TEAM
                        <br>
                      </b>
                      Leader: Rhonda Newson
                    </h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:750px;">
                  This team is responsible for serving coffee &amp;other food at River of Life Church's premier cafe.
                </div>
              </div>
              <div class="sp-block sp-button-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span class="text-reset">
                    <a class="sp-button"
                       href="/cdn-cgi/l/email-protection#4d3f252223292c0d3f22212e25383f2e25632e2220723e382f27282e39701e283f3b24232a687f7d2223687f7d392528687f7d0e2c2b28687f7d19282c20">
                      Contact Leader
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              <span>
                <h2>Questions about serving?</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-heading-block"
               style="text-align:center; padding-top:25px; padding-bottom:25px;">
            <div class="sp-block-content" style="max-width:800px;">
              <span>
                <h3>We would love to hear from you! Please reach out if you have questions.</h3>
              </span>
            </div>
          </div>
          <div class="sp-block sp-form-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="form-holder">
                <form class="sp-form">
                  <div class="sp-fieldset">
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        First Name
                      </label>
                      <div class="sp-field-wrapper">
                        <input type="text" class="sp-field"/>
                      </div>
                    </div>
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        Last Name
                      </label>
                      <div class="sp-field-wrapper">
                        <input type="text" class="sp-field"/>
                      </div>
                    </div>
                  </div>
                  <div class="sp-fieldset">
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        Email
                      </label>
                      <div class="sp-field-wrapper">
                        <input type="text" class="sp-field icon"/>
                        <i class="fa fa-envelope-o"></i>
                      </div>
                    </div>
                  </div>
                  <div class="sp-fieldset">
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        Question
                      </label>
                      <div class="sp-field-wrapper">
                        <textarea class="sp-field"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="button-holder" style="text-align:left;">
                    <span>
                      <a class="sp-button fill">
                        Send message
                      </a>
                    </span>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
