<main id="sp-content">
  <section class="sp-section sp-scheme-1" style="padding-top: 349px;">
    <div class="sp-section-backgrounds">
      <div class="sp-section-background" data-darkreader-inline-bgcolor=""
           data-darkreader-inline-color=""
           data-type="image" style="background: url(&quot;https://storage2.snappages.site/KHGFVV/assets/images/10124064_6240x4160_2500.JPG&quot;) 50% 50% / cover no-repeat scroll; color: rgba(0, 0, 0, 0.39); left: 0%; --darkreader-inline-bgcolor: initial; --darkreader-inline-color: rgba(232, 230, 227, 0.39);"></div>
    </div>
    <div class="sp-section-slide">
      <div class="sp-section-content" style="padding-top:120px; padding-bottom:120px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h1>
                  <b>SERVE</b>
                </h1>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h2>"In the footsteps of the Son of Man, who came not seeking to be served, but to serve..."</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content">
              <span>
                <h3>Mark 10:45</h3>
              </span>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              At River of Life Church, we unleash our greatest potential when we unite in service, offering our unique
              gifts and talents. Our congregation shines brightest when we assemble in worship, delve into the Word, and
              extend our hands in service to the downtrodden. Whether you serve as an usher, a greeter, or lend a hand
              in the River Kids Zone or Café, every individual plays a vital role!
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-row">
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-image-block">
                <div class="sp-block-content">
                  <div class="sp-image-holder"
                       data-fill="true"
                       data-ratio="four-three"
                       style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/10124074_6240x4160_500.JPG);">
                    <img alt
                         class="fill"
                         src="https://storage2.snappages.site/KHGFVV/assets/images/10124074_6240x4160_500.JPG"/>
                    <div class="sp-image-title"></div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-image-block">
                <div class="sp-block-content">
                  <div class="sp-image-holder"
                       data-fill="true"
                       data-ratio="four-three"
                       style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/10124079_6240x4160_500.JPG);">
                    <img alt
                         class="fill"
                         src="https://storage2.snappages.site/KHGFVV/assets/images/10124079_6240x4160_500.JPG"/>
                    <div class="sp-image-title"></div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-3">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              <span>
                <h2>Serving Opportunities</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-spacer-block">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:30px;"></div>
            </div>
          </div>
          <div class="sp-row">
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-heading-block"
                   style="text-align:center; padding-top:25px; padding-bottom:25px;">
                <div class="sp-block-content" style="max-width:800px;">
                  <span>
                    <h3>
                      <b>
                        VIDEO TEAM
                        <br>
                        CHURCH NEWS TEAM
                      </b>
                      <br>
                      Leader: Sammi Detres
                    </h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:750px;">
                  This team shoots video during church services, announcements, and creative commercials to inform and
                  draw people in.
                </div>
              </div>
              <div class="sp-block sp-button-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <a class="sp-button"
                       href="/cdn-cgi/l/email-protection#3e4d5f5353577e4c51525d564b4c5d56105d5153014d4b5c545b5d4a036d5b4c485750591b0c0e71501b0c0e67514b4c1b0c0e6a5b5f53">
                      Contact Leader
                    </a>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-spacer-block" style="text-align:center;">
                <div class="sp-block-content">
                  <div class="spacer-holder" style="height:30px;"></div>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-heading-block"
                   style="text-align:center; padding-top:25px; padding-bottom:25px;">
                <div class="sp-block-content" style="max-width:800px;">
                  <span>
                    <h3>
                      <b>
                        R YOUTH
                        <br>
                        ROL YOUNG ADULTS
                      </b>
                      <br>
                      Leaders: Maurice &amp;Erianna Scott
                    </h3>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align:center;">
                <div class="sp-block-content" style="max-width:750px;">
                  R Youth is our ministry for 8th-12th graders. ROL Young Adults is our ministry for 18 and graduated -
                  35 years old.
                </div>
              </div>
              <div class="sp-block sp-button-block" style="text-align:center;">
                <div class="sp-block-content">
                  <span>
                    <a class="sp-button"
                       href="/cdn-cgi/l/email-protection#c8adbaa1a9a6a6a988baa7a4aba0bdbaaba0e6aba7a5f7bbbdaaa2adabbcf59badbabea1a6afedfafdfaf887a6edfafdfaf891a7bdbaedfafdfaf89cada9a5">
                      Contact Leader
                    </a>
                  </span>
                </div>
              </div>
              <div class="sp-block sp-spacer-block" style="text-align:center;">
                <div class="sp-block-content">
                  <div class="spacer-holder" style="height:30px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:800px;">
              <span>
                <h2>Questions about serving?</h2>
              </span>
            </div>
          </div>
          <div class="sp-block sp-heading-block"
               style="text-align:center; padding-top:25px; padding-bottom:25px;">
            <div class="sp-block-content" style="max-width:800px;">
              <span>
                <h3>We would love to hear from you! Please reach out if you have questions.</h3>
              </span>
            </div>
          </div>
          <div class="sp-block sp-form-block" style="text-align:center;">
            <div class="sp-block-content">
              <div class="form-holder">
                <form class="sp-form">
                  <div class="sp-fieldset">
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        First Name
                      </label>
                      <div class="sp-field-wrapper">
                        <input class="sp-field" type="text"/>
                      </div>
                    </div>
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        Last Name
                      </label>
                      <div class="sp-field-wrapper">
                        <input class="sp-field" type="text"/>
                      </div>
                    </div>
                  </div>
                  <div class="sp-fieldset">
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        Email
                      </label>
                      <div class="sp-field-wrapper">
                        <input class="sp-field icon" type="text"/>
                        <i class="fa fa-envelope-o"></i>
                      </div>
                    </div>
                  </div>
                  <div class="sp-fieldset">
                    <div class="sp-field-col">
                      <label class="sp-field-label">
                        Question
                      </label>
                      <div class="sp-field-wrapper">
                        <textarea class="sp-field"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="button-holder" style="text-align:left;">
                    <span>
                      <a class="sp-button fill">
                        Send message
                      </a>
                    </span>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
