<!-- header.component.html -->
<header class="sticky" id="sp-header">
<!--  <div id="sp-bar">-->
<!--    <div id="sp-bar-text"><span></span></div>-->
<!--    <div class="sp-social-holder" id="sp-bar-social">-->
<!--      <app-social-link class="facebook" icon="fa-facebook"></app-social-link>-->
<!--      <app-social-link class="twitter" icon="fa-twitter"></app-social-link>-->
<!--      <app-social-link class="pinterest" icon="fa-pinterest"></app-social-link>-->
<!--      <app-social-link class="instagram" icon="fa-instagram"></app-social-link>-->
<!--    </div>-->
<!--  </div>-->
  <div id="sp-logo">
    <app-logo></app-logo>
  </div>
  <div id="sp-nav">
    <app-navbar></app-navbar>
  </div>
</header>


