<main id="sp-content">
  <section class="sp-section sp-scheme-1" id="home-river_of_life_church">
    <div class="sp-section-slide">
      <div class="sp-section-content" style="padding-top:150px; padding-bottom:150px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block"
               style="text-align:center; padding-top:5px; padding-bottom:5px;">
            <div class="sp-block-content" style="max-width:580px;">
                          <span>
                            <h1>RIVER OF LIFE CHURCH</h1>
                          </span>
            </div>
          </div>
          <div class="sp-block sp-text-block"
               style="text-align:center;">
            <div class="sp-block-content" style>
              <span class="fr-marker" style="display: none; line-height: 0;"></span>
              HOUSE OF RESTORATION
              <span class="fr-marker" style="display: none; line-height: 0;"></span>
              <br>
              <br>
            </div>
          </div>
          <div class="sp-block sp-divider-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:550px;">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-row">
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-button-block" style="text-align:right;">
                <div class="sp-block-content" style>
                                  <span class="text-reset">
                                    <a class="sp-button outline"
                                       routerLink="/about/mission-vision"
                                       style="background-color:transparent !important;color:#ffffff !important;"
                                       target="_blank"
                                    >
                                      LEARN MORE
                                    </a>
                                  </span>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-button-block" style="text-align:left;">
                <div class="sp-block-content" style>
                                  <span class="text-reset">
                                    <!-- TODO: Create a reactive form or use formspree -->
                                    <a class="sp-button outline"
                                       routerLink="https://riveroflifechurch.breezechms.com/form/a20ef6"
                                       style="background-color:transparent"
                                       target="_blank"
                                    >
                                      need prayer?
                                    </a>
                                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0" id="home-glad_your_here">
    <!--     TODO: Figure out how to stretch video across entire section -->
    <!--    <div class="video-background" style="position: absolute; overflow: hidden;">-->
    <!--      <iframe-->
    <!--        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"-->
    <!--        allowfullscreen-->
    <!--        height="100%"-->
    <!--        width="100%"-->
    <!--        src="https://www.youtube.com/embed/TDpvX20zMU0?si=fGng7PwY-yIXWyaR&autoplay=1&mute=1&start=475&controls=0"-->
    <!--        title="YouTube video player">-->
    <!--      </iframe>-->
    <!--    </div>-->

    <div class="sp-section-slide">
      <div class="sp-section-content" style="padding-left:30px;padding-right:30px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style>
                          <span>
                            <h2>
                              <b>WE'RE SO GLAD YOU'RE HERE!</b>
                            </h2>
                          </span>
            </div>
          </div>
          <div class="sp-block sp-text-block  sp-animate slideInUp"
               style="text-align:center;">
            <div class="sp-block-content" style="max-width:460px;">
              River of Life Church House of Restoration is located in Sacramento the State Capital of
              California. We are a new church plant designed with You in mind! We are a compassionate caring
              ministry that wants to see lives changed by the power of the Gospel of our Lord and savior
              Jesus the Christ. The worship experience is approximately less than two hours in length, so
              you’ll have the remainder of your day to enjoy!
            </div>
          </div>
          <div class="sp-block sp-button-block" style="text-align:center;">
            <div class="sp-block-content" style>
                          <span class="text-reset">
                            <a class="sp-button"
                               routerLink="/about/our-story"
                               style="background-color:#ffffff"
                               target="_self"
                            >
                              Learn More
                            </a>
                          </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-1" id="home-watch_latest_message">
    <div class="sp-section-slide">
      <div class="sp-section-content" style="padding-top:150px;padding-bottom:150px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:600px;">
                          <span>
                            <h1>
                              <b>
                                WATCH THE
                                <br>
                                LATEST MESSAGE
                              </b>
                              <br><br>
                            </h1>
                          </span>
            </div>
          </div>
          <div class="sp-row">
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-button-block" style="text-align:right;">
                <div class="sp-block-content">
                  <span class="text-reset">
                    <a class="sp-button"
                       href="/media"
                       style target="_blank"
                    >
                      watch or listen now
                    </a>
                  </span>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-button-block" style="text-align:left;">
                <div class="sp-block-content">
                  <span class="text-reset">
                    <a class="sp-button"
                       href="https://www.youtube.com/channel/UC-iNqiJoUGqtfLvjI8-n23g?sub_confirmation=1"
                       target="_blank"
                    >
                      More on Youtube
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block  sp-hide-mobile">
            <div class="sp-block-content" style>
              <div class="spacer-holder" style="height:0px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-0" id="home-faithful_leadership">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-row">
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-spacer-block  sp-hide-tablet sp-hide-mobile">
                <div class="sp-block-content" style>
                  <div class="spacer-holder" style="height:45px;"></div>
                </div>
              </div>
              <div class="sp-block sp-heading-block">
                <div class="sp-block-content" style>
                                  <span>
                                    <h2>
                                      <b>FAITHFUL LEADERSHIP</b>
                                    </h2>
                                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block">
                <div class="sp-block-content">
                  Bishop Clifton Edwards Jr. and First Lady Tracie Edwards have provided faithful and
                  consistent leadership to River of Life Church and the Sacramento, CA community since
                  2019.
                </div>
              </div>
              <div class="sp-block sp-button-block" style="text-align:left;">
                <div class="sp-block-content" style>
                                  <span class="text-reset">
                                    <a class="sp-button"
                                       routerLink="/about/leadership"
                                       style target
                                    >
                                      MEET OUR LEADERSHIP TEAM
                                    </a>
                                  </span>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-image-block" style="text-align:center;">
                <div class="sp-block-content" style>
                  <div class="sp-image-holder"
                       style="background-image:url(../../assets/images/_oldsite/HOME/bishop_clifton_edwards_jr-first_lady_tracie_edwards.png);">
                    <img alt
                         class="fill"
                         src="../../assets/images/_oldsite/HOME/bishop_clifton_edwards_jr-first_lady_tracie_edwards.png"/>
                    <div class="sp-image-title"></div>
                    <div class="sp-image-caption"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sp-section sp-scheme-3" id="home-service_info">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align:center;">
            <div class="sp-block-content" style>
                          <span>
                            <h1>
                              <b>SERVICE TIMES</b>
                            </h1>
                          </span>
            </div>
          </div>
          <div class="sp-block sp-divider-block" style="text-align:center;">
            <div class="sp-block-content" style="max-width:390px;">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-row">
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-heading-block"
                   style="text-align:center;padding-left:15px;padding-right:15px;">
                <div class="sp-block-content" style>
                                  <span>
                                    <h3>
                                      <b>Sunday Mornings</b>
                                    </h3>
                                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block"
                   style="text-align:center;padding-top:0px;padding-bottom:0px;">
                <div class="sp-block-content" style>
                  9:00 a.m. (in person and
                  <a href="https://www.youtube.com/@riveroflifechurch916/streams"
                     target="_blank">
                    online</a>)
                  <br>
                  Prayer Meeting at 8am
                  <br>
                  Sanctuary doors open at 8:30 a.m.
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-heading-block" style="text-align:center;">
                <div class="sp-block-content" style>
                                  <span>
                                    <h3>
                                      <b>Wednesday Nights</b>
                                    </h3>
                                  </span>
                </div>
              </div>
              <div class="sp-block sp-text-block"
                   style="text-align:center; padding-top:0px;  padding-bottom:0px;">
                <div class="sp-block-content" style>
                  6:00 p.m. (<a href="https://www.facebook.com/clifton.edwardsj" target="_blank">online only for Renewal
                  Service</a>)
                  <br>
                  See our "Grow Time" tab for more info
                  <br>
                  Mix of classes &amp; growth opportunities
                </div>
              </div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" style="text-align:start;">
            <div class="sp-block-content" style>
              <div class="spacer-holder" style="height:20px;"></div>
            </div>
          </div>
          <div class="sp-block sp-map-block ">
            <div class="sp-block-content">
              <div class="map-holder" style="height:520px;">
                <app-google-map></app-google-map>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
