<main id="sp-content">
    <section class="sp-section sp-scheme-1" data-header="true" data-header="true" data-index data-scheme="1">
        <div class="sp-section-slide"
             data-background-video="%7B%22type%22%3A%22video%22%2C%22source%22%3A%22youtube%22%2C%22id%22%3A%22o5zDH9-3w2k%22%2C%22tint%22%3A%22rgba%2841%2C+128%2C+185%2C+.44%29%22%7D"
             data-label="New Slide 1" data-tint="rgba(41, 128, 185, .44)">
            <div class="sp-section-content" style="padding-top:150px;padding-bottom:150px;">
                <div class="sp-grid sp-col sp-col-24">
                    <div class="sp-block sp-heading-block" data-id="0eed201f-17ad-4f16-bbfc-864639247294"
                         data-type="heading"
                         style="text-align:center; padding-top:5px; padding-bottom:5px;">
                        <div class="sp-block-content" style="max-width:580px;">
                            <span class="h1" data-size="6em">
                                <h1>RIVER OF LIFE CHURCH</h1>
                            </span>
                        </div>
                    </div>
                    <div class="sp-block sp-text-block " data-id="43759939-229b-4b44-a301-9c2664321691" data-type="text"
                         style="text-align:center;">
                        <div class="sp-block-content" style>
                            <span class="fr-marker" data-id="0" data-type="true"
                                  style="display: none; line-height: 0;"></span>
                            GRACE. POWER. CHANGE.<span class="fr-marker" data-id="0" data-type="false"
                                                       style="display: none; line-height: 0;"></span>
                            <br>
                            <br>
                        </div>
                    </div>
                    <div class="sp-block sp-divider-block " data-id="46a18139-4f4e-42dc-94f1-de5fd470659d"
                         data-type="divider" style="text-align:center;">
                        <div class="sp-block-content" style="max-width:550px;">
                            <div class="sp-divider-holder"></div>
                        </div>
                    </div>
                    <div class="sp-row">
                        <div class="sp-col sp-col-12">
                            <div class="sp-block sp-button-block " data-id="b7f7757a-ece1-4ddd-8852-f05a26447295"
                                 data-type="button" style="text-align:right;">
                                <div class="sp-block-content" style>
                                                <span class="text-reset">
                                                    <a class="sp-button outline" data-color="transparent"
                                                       data-label="LEARN MORE"
                                                       data-style="outline" data-text-color="#ffffff"
                                                       routerLink="/about"
                                                       style="background-color:transparent !important;color:#ffffff !important;"
                                                       target="_blank">LEARN MORE</a>
                                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="sp-col sp-col-12">
                            <div class="sp-block sp-button-block " data-id="1dd758fb-7157-496f-94b5-1794452ea850"
                                 data-type="button" style="text-align:left;">
                                <div class="sp-block-content" style>
                                                <span class="text-reset">
                                                    <a class="sp-button outline"
                                                       data-color="transparent"
                                                       data-label="need prayer?" data-style="outline"
                                                       data-text-color="#ffffff"
                                                       routerLink="https://riveroflifechurch.breezechms.com/form/a20ef6"
                                                       style="background-color:transparent !important;color:#ffffff !important;"
                                                       target="_blank">need prayer?</a>
                                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sp-section sp-scheme-0" data-index data-scheme="0">
        <div class="sp-section-slide" data-label="Main">
            <div class="sp-section-content" style="padding-left:30px;padding-right:30px;">
                <div class="sp-grid sp-col sp-col-24">
                    <div class="sp-block sp-heading-block " data-id="fb906a8f-284a-429f-a6c2-a7e06d297966"
                         data-type="heading" style="text-align:center;">
                        <div class="sp-block-content" style>
                                        <span class="h2">
                                            <h2>
                                                <b>WE'RE SO GLAD YOU'RE HERE!</b>
                                            </h2>
                                        </span>
                        </div>
                    </div>
                    <div class="sp-block sp-text-block  sp-animate slideInUp"
                         data-id="778ed328-b3ca-46e1-9f0d-62d9099ef596"
                         data-transition="slideInUp" data-type="text"
                         style="text-align:center;">
                        <div class="sp-block-content" style="max-width:460px;">Whether you're new to church, have been a
                            Christian for many years, or are looking for a fresh start, you're welcome here. Our hope is
                            that you'll find a family and a community to grow in.
                        </div>
                    </div>
                    <div class="sp-block sp-button-block " data-id="c30a556d-9239-4103-bfd0-55df13358b7f"
                         data-type="button" style="text-align:center;">
                        <div class="sp-block-content" style>
                                        <span class="text-reset">
                                            <a class="sp-button" data-color="#ffffff" data-label="Learn More"
                                               routerLink="/about/our-story" style="background-color:#ffffff !important;"
                                               target="_self">Learn More</a>
                                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sp-section sp-scheme-1" data-index data-scheme="1">
        <div class="sp-section-slide"
             data-background-video="%7B%22type%22%3A%22video%22%2C%22source%22%3A%22youtube%22%2C%22id%22%3A%22uA3c0GCJDWA%22%2C%22tint%22%3A%22rgba%280%2C+0%2C+0%2C+.09%29%22%7D"
             data-label="Main" data-tint="rgba(0, 0, 0, .09)">
            <div class="sp-section-content" style="padding-top:150px;padding-bottom:150px;">
                <div class="sp-grid sp-col sp-col-24">
                    <div class="sp-block sp-heading-block " data-id="5efea512-f11f-4a90-bc80-7dfbb2784994"
                         data-type="heading" style="text-align:center;">
                        <div class="sp-block-content" style="max-width:600px;">
                                        <span class="h1" data-size="5.4em">
                                            <h1>
                                                <b>
                                                    WATCH THE <br>LATEST MESSAGE
                                                </b>
                                                <br>
                                                <br>
                                            </h1>
                                        </span>
                        </div>
                    </div>
                    <div class="sp-row">
                        <div class="sp-col sp-col-12">
                            <div class="sp-block sp-button-block " data-id="a85c1b3b-be7a-4009-a36e-0c6831439c1a"
                                 data-type="button" style="text-align:right;">
                                <div class="sp-block-content" style>
                                                <span class="text-reset">
                                                    <a class="sp-button" data-label="watch or listen now" href="/media"
                                                       style target="_blank">watch or listen now</a>
                                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="sp-col sp-col-12">
                            <div class="sp-block sp-button-block " data-id="ea1d9fd4-e068-4537-b238-d59f035e7fc3"
                                 data-type="button" style="text-align:left;">
                                <div class="sp-block-content" style>
                                                <span class="text-reset">
                                                    <a class="sp-button" data-label="More on Youtube"
                                                       href="http://www.bit.ly/ROLYouTube" style target="_blank">More on Youtube</a>
                                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sp-block sp-spacer-block  sp-hide-mobile" data-id="8e2e885d-e71e-4c55-a54f-c6c45da41afe"
                         data-type="spacer" style>
                        <div class="sp-block-content" style>
                            <div class="spacer-holder" data-height="0" style="height:0px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sp-section sp-scheme-0" data-index data-scheme="0">
        <div class="sp-section-slide" data-label="Main">
            <div class="sp-section-content">
                <div class="sp-grid sp-col sp-col-24">
                    <div class="sp-row">
                        <div class="sp-col sp-col-12">
                            <div class="sp-block sp-spacer-block  sp-hide-tablet sp-hide-mobile"
                                 data-id="a1398d65-82b5-49d1-ac55-52bf35471ec3"
                                 data-type="spacer" style>
                                <div class="sp-block-content" style>
                                    <div class="spacer-holder" data-height="45" style="height:45px;"></div>
                                </div>
                            </div>
                            <div class="sp-block sp-heading-block " data-id="ee931158-eed7-4448-bc69-2b2ea13a124b"
                                 data-type="heading" style>
                                <div class="sp-block-content" style>
                                                <span class="h2">
                                                    <h2>
                                                        <b>FAITHFUL LEADERSHIP</b>
                                                    </h2>
                                                </span>
                                </div>
                            </div>
                            <div class="sp-block sp-text-block " data-id="22525f38-2c2b-456c-8257-8bb0381435d5"
                                 data-type="text" style>
                                <div class="sp-block-content" style>Pastors Chris &amp;Miriam Phillips have provided
                                    faithful and consistent leadership to River of Life Church and the Jacksonville, NC
                                    community since 1992.&nbsp;
                                </div>
                            </div>
                            <div class="sp-block sp-button-block " data-id="a2e6bfa6-34b0-417c-b047-219dab291c0d"
                                 data-type="button" style="text-align:left;">
                                <div class="sp-block-content" style>
                                                <span class="text-reset">
                                                    <a class="sp-button" data-label="MEET OUR LEADERSHIP TEAM" href
                                                       style target>MEET OUR LEADERSHIP TEAM</a>
                                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="sp-col sp-col-12">
                            <div class="sp-block sp-image-block " data-id="7b4f2c15-e1e6-41bc-8feb-745514099b0a"
                                 data-type="image" style="text-align:center;">
                                <div class="sp-block-content" style>
                                    <div class="sp-image-holder"
                                         data-fill="true"
                                         data-pos="center-center"
                                         data-ratio="four-three"
                                         data-source="KHGFVV/assets/images/14461558_3016x2314_2500.jpg"
                                         data-zoom="false"
                                         style="background-image:url(https://storage2.snappages.site/KHGFVV/assets/images/14461558_3016x2314_500.jpg);">
                                        <img alt
                                             class="fill"
                                             src="https://storage2.snappages.site/KHGFVV/assets/images/14461558_3016x2314_500.jpg"/>
                                        <div class="sp-image-title"></div>
                                        <div class="sp-image-caption"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sp-section sp-scheme-3" data-index data-scheme="3" data-title="Service Times"
             data-title="Service Times">
        <a class="sp-section-link" name="service-times"></a>
        <div class="sp-section-slide"
             data-background="%7B%22type%22%3A%22image%22%2C%22src%22%3A%22https%3A%5C%2F%5C%2Fstorage2.snappages.site%5C%2FKHGFVV%5C%2Fassets%5C%2Fimages%5C%2F14461568_6000x4000_2500.jpg%22%2C%22size%22%3A%22cover%22%2C%22position%22%3A%2250%25+50%25%22%2C%22repeat%22%3A%22no-repeat%22%2C%22attachment%22%3A%22scroll%22%2C%22tint%22%3A%22rgba%280%2C+0%2C+0%2C+.29%29%22%7D"
             data-label="Main" data-tint="rgba(0, 0, 0, .29)">
            <div class="sp-section-content">
                <div class="sp-grid sp-col sp-col-24">
                    <div class="sp-block sp-heading-block " data-id="bede067e-615e-48bf-8b99-97b19f049ab7"
                         data-type="heading" style="text-align:center;">
                        <div class="sp-block-content" style>
                                        <span class="h1">
                                            <h1>
                                                <b>SERVICE TIMES</b>
                                            </h1>
                                        </span>
                        </div>
                    </div>
                    <div class="sp-block sp-divider-block " data-id="b73d1aa5-ee39-4b6d-a139-a46956d13d4f"
                         data-type="divider" style="text-align:center;">
                        <div class="sp-block-content" style="max-width:390px;">
                            <div class="sp-divider-holder"></div>
                        </div>
                    </div>
                    <div class="sp-row">
                        <div class="sp-col sp-col-12">
                            <div class="sp-block sp-heading-block " data-id="667beca2-dccc-471b-ab2f-234230a5a7a5"
                                 data-type="heading"
                                 style="text-align:center;padding-left:15px;padding-right:15px;">
                                <div class="sp-block-content" style>
                                                <span class="h3">
                                                    <h3>
                                                        <b>Sunday Mornings</b>
                                                    </h3>
                                                </span>
                                </div>
                            </div>
                            <div class="sp-block sp-text-block " data-id="9fc8df1d-de01-4d1b-90d6-dabf137aac23"
                                 data-type="text"
                                 style="text-align:center;padding-top:0px;padding-bottom:0px;">
                                <div class="sp-block-content" style>
                                    10:00 a.m. (in person and online)<br>
                                    Prayer Meeting at 9am<br>Sanctuary doors open at 9:30 a.m.
                                </div>
                            </div>
                        </div>
                        <div class="sp-col sp-col-12">
                            <div class="sp-block sp-heading-block " data-id="67877acf-853a-40b4-8a74-1a2d754204e6"
                                 data-type="heading" style="text-align:center;">
                                <div class="sp-block-content" style>
                                                <span class="h3">
                                                    <h3>
                                                        <b>Wednesday Nights</b>
                                                    </h3>
                                                </span>
                                </div>
                            </div>
                            <div class="sp-block sp-text-block " data-id="55ff6599-49af-4454-a4a4-3295bea27dae"
                                 data-type="text"
                                 style="text-align:center;padding-top:0px;padding-bottom:0px;">
                                <div class="sp-block-content" style>
                                    7:00 p.m. (in-person only for Grow Time)<br>
                                    See our "Grow Time" tab for more info<br>Mix of classes &amp;growth opportunities
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sp-block sp-spacer-block " data-id="537040f9-edd5-40de-bf3d-f0c7671b4047"
                         data-type="spacer" style="text-align:start;">
                        <div class="sp-block-content" style>
                            <div class="spacer-holder" data-height="20" style="height:20px;"></div>
                        </div>
                    </div>
                    <div class="sp-block sp-map-block " data-id="861926f4-0452-4953-9898-c1a85a42e983" data-type="map"
                         style>
                        <div class="sp-block-content" style>
                            <div class="map-holder" data-address="2460 Gumbranch Rd, Jacksonville NC 28540"
                                 data-latlng="34.802814,-77.438392"
                                 data-markerlatlng="34.802814,-77.438392" data-style="grayscale" data-zoom="17"
                                 style="height:520px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
