<main id="sp-content">
  <section class="sp-section sp-scheme-0" id="home-glad_your_here">
    <div class="sp-section-backgrounds">
      <div class="sp-section-background" style="color: rgba(232,209,239,0.44);">
        <img src="assets/images/_oldsite/wide_shot-church_interior-full_pews.png" alt="" class="full-width">
      </div>
    </div>
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" fxLayout="column" fxLayoutAlign="center center">
            <div class="sp-block-content">
              <h2><b>WE'RE SO GLAD YOU'RE HERE!</b></h2>
            </div>
          </div>
          <div class="sp-block sp-text-block sp-animate slideInUp" fxLayout="column" fxLayoutAlign="center center">
            <div class="sp-block-content max-width-460">
              River of Life Church House of Restoration is located in Sacramento the State Capital of California. We are a new church plant designed with You in mind! We are a compassionate caring ministry that wants to see lives changed by the power of the Gospel of our Lord and savior Jesus the Christ. The worship experience is approximately less than two hours in length, so you’ll have the remainder of your day to enjoy!
            </div>
          </div>
          <div class="sp-block sp-button-block" fxLayout="column" fxLayoutAlign="center center">
            <div class="sp-block-content">
              <a class="sp-button" routerLink="/about/our-story" style="background-color:#ffffff">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="sp-section sp-scheme-1" id="home-watch_latest_message">
    <div class="sp-section-backgrounds">
      <div class="sp-section-background" style="color: rgba(0, 0, 0, 0.09); width: 100%;">
        <iframe style="width: 100%; height: 100vh; border: 0; position: relative;" src="https://www.youtube.com/embed/0hh2NhqC-9E?si=GqSG6RLw2JBNRSDu&amp;controls=0&amp;start=145;&amp;autoplay=1&amp;loop=1&amp;mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" fxLayout="column" fxLayoutAlign="center center">
            <div class="sp-block-content max-width-600">
              <h1><b>WATCH THE LATEST MESSAGE</b></h1>
            </div>
          </div>
          <div class="sp-row" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-button-block">
                <div class="sp-block-content">
                  <a class="sp-button" routerLink="/live" target="_blank">watch or listen now</a>
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-button-block">
                <div class="sp-block-content">
                  <a class="sp-button" href="https://www.youtube.com/channel/UC-iNqiJoUGqtfLvjI8-n23g?sub_confirmation=1" target="_blank">More on Youtube</a>
                </div>
              </div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block sp-hide-mobile">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:0px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="sp-section sp-scheme-0" id="home-faithful_leadership">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-row" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="sp-col sp-col-12">
              <ng-container *ngFor="let block of blocks">
                <div [ngClass]="block.blockClass">
                  <ng-container [ngSwitch]="block.blockType">
                    <div *ngSwitchCase="'spacer'" class="spacer-holder"></div>
                    <div *ngSwitchCase="'heading'" [innerHTML]="block.blockContent"></div>
                    <div *ngSwitchCase="'text'" [innerHTML]="block.blockContent"></div>
                    <div *ngSwitchCase="'button'" [innerHTML]="block.blockContent"></div>
                  </ng-container>
                </div>
              </ng-container>
            </div>
            <div class="sp-col sp-col-12">
              <div class="sp-image-block">
                <div class="sp-image-holder">
                  <img src="assets/images/_oldsite/HOME/bishop_clifton_edwards_jr-first_lady_tracie_edwards.png" alt="" class="fill">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="sp-section sp-scheme-3" id="home-service_info">
    <div class="sp-section-backgrounds">
      <div class="sp-section-background" style="background: url(assets/images/BACKGROUDS/purple_motion_blurr.jpeg) 50% 50% / cover no-repeat scroll; color: rgba(0, 0, 0, 0.29);"></div>
    </div>
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" fxLayout="column" fxLayoutAlign="center center">
            <div class="sp-block-content">
              <h1><b>SERVICE TIMES</b></h1>
            </div>
          </div>
          <div class="sp-block sp-divider-block" fxLayout="column" fxLayoutAlign="center center">
            <div class="sp-block-content max-width-390">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-row" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-heading-block" fxLayout="column" fxLayoutAlign="center center">
                <div class="sp-block-content">
                  <h3><b>Sunday Mornings</b></h3>
                </div>
              </div>
              <div class="sp-block sp-text-block" fxLayout="column" fxLayoutAlign="center center">
                <div class="sp-block-content">
                  9:00 a.m. (in person and
                  <a href="https://www.youtube.com/@riveroflifechurch916/streams" target="_blank">online</a>)
                  <br>
                  Prayer Meeting at 8am
                  <br>
                  Sanctuary doors open at 8:30 a.m.
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-heading-block" fxLayout="column" fxLayoutAlign="center center">
                <div class="sp-block-content">
                  <h3><b>Wednesday Nights</b></h3>
                </div>
              </div>
              <div class="sp-block sp-text-block" fxLayout="column" fxLayoutAlign="center center">
                <div class="sp-block-content">
                  6:00 p.m. (<a href="https://www.facebook.com/clifton.edwardsj" target="_blank">online only for Renewal Service</a>)
                  <br>
                  See our "Grow Time" tab for more info
                  <br>
                  Mix of classes &amp; growth opportunities
                </div>
              </div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block" fxLayout="column" fxLayoutAlign="center center">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height:20px;"></div>
            </div>
          </div>

          <div class="sp-block-content">
            <div class="map-holder" style="height:520px;">
              <app-google-map></app-google-map>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</main>
