<main id="sp-content">
  <!-- Contact Header Section -->
  <section class="sp-section sp-scheme-3" id="CONTACT-content_header" style="padding-top: 200px;">
    <div class="sp-section-backgrounds">
      <div class="sp-section-background" style="background: linear-gradient(160deg, #0076ba 0%, #2a716b 100%);"></div>
    </div>
    <div class="sp-section-slide">
      <div class="sp-section-content" style="padding-top: 90px; padding-bottom: 90px;">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align: center; padding: 15px;">
            <div class="sp-block-content" style="max-width: 580px;">
              <h1>Contact Us</h1>
            </div>
          </div>
          <div class="sp-block sp-divider-block" style="text-align: center;">
            <div class="sp-block-content" style="max-width: 100px;">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-block sp-text-block" style="text-align: center;">
            <div class="sp-block-content" style="max-width: 550px;">
              <b>Phone:</b> 910-692-5912<br>
              <b>Email:</b> <a href="mailto:info@riveroflifechurch.com">info&#64;riveroflifechurch.com</a><br>
              <b>Office Hours:</b> Monday - Thursday, 9am - 1pm
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact Form Section -->
  <app-contact-form></app-contact-form>

  <!-- Service Times Section -->
  <section class="sp-section sp-scheme-0" id="CONTACT-service_times">
    <div class="sp-section-slide">
      <div class="sp-section-content">
        <div class="sp-grid sp-col sp-col-24">
          <div class="sp-block sp-heading-block" style="text-align: center;">
            <div class="sp-block-content">
              <h2>Service Times</h2>
            </div>
          </div>
          <div class="sp-block sp-divider-block" style="text-align: center;">
            <div class="sp-block-content" style="max-width: 110px;">
              <div class="sp-divider-holder"></div>
            </div>
          </div>
          <div class="sp-row">
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-heading-block" style="text-align: center;">
                <div class="sp-block-content">
                  <h3><b>Sunday Mornings</b></h3>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align: center;">
                <div class="sp-block-content">
                  9:00 a.m. (in person and <a href="https://www.youtube.com/@riveroflifechurch916/streams" target="_blank">online</a>)<br>
                  Prayer Meeting at 8am<br>
                  Sanctuary doors open at 8:30 a.m.
                </div>
              </div>
            </div>
            <div class="sp-col sp-col-12">
              <div class="sp-block sp-heading-block" style="text-align: center;">
                <div class="sp-block-content">
                  <h3><b>Wednesday Nights</b></h3>
                </div>
              </div>
              <div class="sp-block sp-text-block" style="text-align: center;">
                <div class="sp-block-content">
                  6:00 p.m. (<a href="https://www.facebook.com/clifton.edwardsj" target="_blank">online only for Renewal Service</a>)<br>
                  See our "Grow Time" tab for more info<br>
                  Mix of classes &amp; growth opportunities
                </div>
              </div>
            </div>
          </div>
          <div class="sp-block sp-spacer-block">
            <div class="sp-block-content">
              <div class="spacer-holder" style="height: 30px;"></div>
            </div>
          </div>
            <div class="sp-block-content">
              <div class="map-holder" style="height: 520px;">
                <app-google-map></app-google-map>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
